In [1]:
import pickle
import numpy as np
import pandas as pd
from datetime import datetime
from datetime import timedelta

In [5]:
with open('../tsvt/video/lolData/exp_data/gamedata.pickle','rb') as f:
    data=pickle.load(f)

In [8]:
metadata=pd.read_csv('./metadata.csv')
metadata

                 gameid      urlid
0    102844212430075086  489172130
1    102844212430271695  489172130
2    102844212429092040  489172130
3    102844212430402768  489172130
4    102844212430599377  489172130
..                  ...        ...
115  102844412723174729  503346504
116  102844412722519367  503346504
117  102844412720618818  506331985
118  102844412721339716  506331985
119  102844412721012035  506331985

[120 rows x 2 columns]

In [9]:
#index 19 없음
game_dict={}
for i in metadata['gameid']:
    time=[]
    try:
        st=list(data[str(i)]['Timestamp'])[0]
        et=list(data[str(i)]['Timestamp'])[-1]
        time.append(st)
        time.append(et)
        game_dict[i]=time
    except:
        #there are no matching data
        time.append('')
        time.append('')
        game_dict[i]=time

In [10]:
metadata['st']=np.array(list(game_dict.values()))[:,0]
metadata['et']=np.array(list(game_dict.values()))[:,1]

In [46]:
#metadata=metadata.drop([19])
metadata.to_csv('./metadata.csv')

In [39]:
pd.read_csv('../tsvt/chat/496371424''\n''.txt',sep='\t',names=['leage','game','view','length','real_time','duration','chat'])

,leage,game,view,length,real_time,duration,chat
0,(REBROADCAST) Groups Day 6 | 2019 World Champi...,League of Legends,29765,25481,2019-10-19 04:26:31,1.914,2 EU TEAMS ALREADY THROUG GROUPS WHERE IS NA LUL
1,(REBROADCAST) Groups Day 6 | 2019 World Champi...,League of Legends,29765,25481,2019-10-19 04:26:34,4.669,BYE EU LUL LUL LUL LUL LUL
2,(REBROADCAST) Groups Day 6 | 2019 World Champi...,League of Legends,29765,25481,2019-10-19 04:26:35,5.510,G2 CAN ONLY WIN SPYLCE IN QUATERFINALS
3,(REBROADCAST) Groups Day 6 | 2019 World Champi...,League of Legends,29765,25481,2019-10-19 04:26:36,6.501,SO THIS IS WT HAPPENS WHEN EU FACE GOOD TEAMS ...
4,(REBROADCAST) Groups Day 6 | 2019 World Champi...,League of Legends,29765,25481,2019-10-19 04:26:37,7.927,@DavidRich SKT/RNG/GRIFFIN/G2 are all better. ...
...,...,...,...,...,...,...,...
9212,(REBROADCAST) Groups Day 6 | 2019 World Champi...,League of Legends,29765,25481,2019-10-19 11:30:50,25460.497,RNG lose
9213,(REBROADCAST) Groups Day 6 | 2019 World Champi...,League of Legends,29765,25481,2019-10-19 11:30:55,25466.090,@Trixrfurkids i think Youngbuck is to blame......
9214,(REBROADCAST) Groups Day 6 | 2019 World Champi...,League of Legends,29765,25481,2019-10-19 11:30:56,25466.455,SKT 6-0
9215,(REBROADCAST) Groups Day 6 | 2019 World Champi...,League of Legends,29765,25481,2019-10-19 11:30:58,25468.454,estan dando claves para legends of runaterra ?
9216,(REBROADCAST) Groups Day 6 | 2019 World Champi...,League of Legends,29765,25481,2019-10-19 11:31:04,25474.475,FARDA

In [45]:
datetime.strptime('2019-10-19 04:26:31', "%Y-%m-%d %H:%M:%S")-timedelta(hours=9)

datetime.datetime(2019, 10, 18, 19, 26, 31)

In [14]:
metadata.iloc[116]
et=datetime.strptime(metadata['st'][116], "%Y-%m-%dT%H:%M:%S.%fZ")
et

datetime.datetime(2019, 11, 3, 11, 15, 39, 545000)

In [51]:
#metadata upload
intime=[]
for idx1,i in enumerate(metadata['urlid']):
    try:
        st=metadata['st'][idx1]
        st=datetime.strptime(st, "%Y-%m-%dT%H:%M:%S.%fZ")
        et=metadata['et'][idx1]
        et=datetime.strptime(et, "%Y-%m-%dT%H:%M:%S.%fZ")
        path='../tsvt/chat/{}''\n''.txt'.format(i)
        chat=pd.read_csv(path,sep='\t',names=['leage','game','view','length','real_time','duration','chat'])
        s_idx=0
        e_idx=0
        temp=[]
        diff=0


        for idx,j in enumerate(chat['real_time']):
            chat_time=datetime.strptime(j, "%Y-%m-%d %H:%M:%S")-timedelta(hours=9) #original과 시간 맞춤

            if chat_time>st:
                if s_idx==0:
                    diff=(chat_time-st).seconds
                    s_idx=idx
                    temp.append(diff)
                    temp.append(chat['duration'][idx])
                else:
                    pass
            if chat_time>et:
                if e_idx==0:
                    e_idx=idx-1
                    temp.append(chat['duration'][e_idx])
                    break
        intime.append(temp)
        chat.iloc[s_idx:e_idx].to_csv('./result/{}.csv'.format(str(metadata['gameid'][idx1])))
    
    except:
        print(metadata['gameid'][idx1])
        print('error : '+str(idx1))
        intime.append(['','',''])
        pass

102905919916854804
error : 19
102844283022747733
error : 74
102844283026548827
error : 75
102844283024648280
error : 76
102844283025041497
error : 77
102844283022223444
error : 78
102844283019929682
error : 79
102984708146564216
error : 80

In [ ]:
for idx,i in enumerate(metadata[''])

In [15]:
with open('../tsvt/chat/491785136''\n''.txt') as f:
    chat=f.readlines()

In [362]:
with open('../tsvt/chat/491785136_v2''\n''.txt','w+') as f:
    str=''
    for idx,i in enumerate(chat):
        if idx%2==0:
            str+=i[:-1]
        else:
            str+=i
            f.write(str)
            str=''

In [360]:
with open('../tsvt/chat/491785136''\n''.txt','w+') as f:
    for i in chat:
        f.write(i)

In [17]:
chat=pd.read_csv('../tsvt/chat/491785136''\n''.txt',sep='\t',names=['leage','game','view','length','real_time','duration','chat'])

In [18]:
chat

,leage,game,view,length,real_time,duration,chat
0,HKA vs. ISG | Play-In Knockouts Day 2 | 2019 W...,League of Legends,47130,36448,2019-10-08 18:52:47,7.456,Bye chat FeelsBadMan
1,HKA vs. ISG | Play-In Knockouts Day 2 | 2019 W...,League of Legends,47130,36448,2019-10-08 18:52:49,10.282,Pog
2,HKA vs. ISG | Play-In Knockouts Day 2 | 2019 W...,League of Legends,47130,36448,2019-10-08 18:52:53,13.996,pvman=GG
3,HKA vs. ISG | Play-In Knockouts Day 2 | 2019 W...,League of Legends,47130,36448,2019-10-08 18:52:57,17.530,POGGERS
4,HKA vs. ISG | Play-In Knockouts Day 2 | 2019 W...,League of Legends,47130,36448,2019-10-08 18:52:57,17.905,We're about to explode FeelsBadMan
...,...,...,...,...,...,...,...
165244,HKA vs. ISG | Play-In Knockouts Day 2 | 2019 W...,League of Legends,47130,36448,2019-10-09 05:00:04,36444.712,pepeD
165245,HKA vs. ISG | Play-In Knockouts Day 2 | 2019 W...,League of Legends,47130,36448,2019-10-09 05:00:04,36445.139,Pickems released then?
165246,HKA vs. ISG | Play-In Knockouts Day 2 | 2019 W...,League of Legends,47130,36448,2019-10-09 05:00:04,36445.229,Clutch 0-12
165247,HKA vs. ISG | Play-In Knockouts Day 2 | 2019 W...,League of Legends,47130,36448,2019-10-09 05:00:05,36445.441,GL CLUTCH LULW
165248,HKA vs. ISG | Play-In Knockouts Day 2 | 2019 W...,League of Legends,47130,36448,2019-10-09 05:00:06,36446.889,GROUP B IS A FKING JOKE LUL GROUP B IS A FKING...

In [29]:
g=datetime.strptime('2019-10-08 18:52:47', "%Y-%m-%d %H:%M:%S")-timedelta(hours=9)
#t=datetime.strptime('2019-10-02 18:49:10', "%Y-%m-%d %H:%M:%S")

In [30]:
g

datetime.datetime(2019, 10, 8, 9, 52, 47)

In [220]:
intime

[]

In [363]:
sss=pd.read_csv('../tsvt/chat/491785136''\n''.txt',sep='\t',names=['leage','game','view','length','real_time','duration','chat'])

In [364]:
sss

,leage,game,view,length,real_time,duration,chat
0,HKA vs. ISG | Play-In Knockouts Day 2 | 2019 W...,League of Legends,47130,36448,2019-10-08 18:52:47,7.456,Bye chat FeelsBadMan
1,HKA vs. ISG | Play-In Knockouts Day 2 | 2019 W...,League of Legends,47130,36448,2019-10-08 18:52:49,10.282,Pog
2,HKA vs. ISG | Play-In Knockouts Day 2 | 2019 W...,League of Legends,47130,36448,2019-10-08 18:52:53,13.996,pvman=GG
3,HKA vs. ISG | Play-In Knockouts Day 2 | 2019 W...,League of Legends,47130,36448,2019-10-08 18:52:57,17.530,POGGERS
4,HKA vs. ISG | Play-In Knockouts Day 2 | 2019 W...,League of Legends,47130,36448,2019-10-08 18:52:57,17.905,We're about to explode FeelsBadMan
...,...,...,...,...,...,...,...
165244,HKA vs. ISG | Play-In Knockouts Day 2 | 2019 W...,League of Legends,47130,36448,2019-10-09 05:00:04,36444.712,pepeD
165245,HKA vs. ISG | Play-In Knockouts Day 2 | 2019 W...,League of Legends,47130,36448,2019-10-09 05:00:04,36445.139,Pickems released then?
165246,HKA vs. ISG | Play-In Knockouts Day 2 | 2019 W...,League of Legends,47130,36448,2019-10-09 05:00:04,36445.229,Clutch 0-12
165247,HKA vs. ISG | Play-In Knockouts Day 2 | 2019 W...,League of Legends,47130,36448,2019-10-09 05:00:05,36445.441,GL CLUTCH LULW
165248,HKA vs. ISG | Play-In Knockouts Day 2 | 2019 W...,League of Legends,47130,36448,2019-10-09 05:00:06,36446.889,GROUP B IS A FKING JOKE LUL GROUP B IS A FKING...

In [21]:
intime[-20:]

[[0, 21673.382999999998, 23241.144],
 ['', '', ''],
 [0, 15832.488000000001, 17746.175],
 [0, 6772.735, 8521.197],
 [0, 12692.308, 14601.223],
 [0, 9779.362, 11427.17],
 [0, 20057.428, 22117.187],
 [0, 27233.767000000003, 29096.285],
 [0, 30298.322, 32118.174],
 ['', '', ''],
 [0, 16054.366000000002, 18142.164],
 [3, 9449.117, 11993.146],
 [0, 13304.41, 14852.288],
 ['', '', ''],
 [0, 16986.334, 19146.196],
 [1, 9998.663, 12155.133],
 [0, 13458.782, 15478.117],
 ['', '', ''],
 [0, 30906.461, 33898.218],
 [2, 38639.018, 40458.176]]

In [16]:
len(intime)

119

In [48]:
data['102844283022747733']

,Time,Timestamp,blue_gold,blue_towers,blue_barons,blue_totalKills,blue_dragons,red_gold,red_towers,red_barons,red_totalKills,red_dragons
0,13-10-51,2019-10-18T13:10:51.411Z,2500,0,0,0,0,2500,0,0,0,0
1,13-10-52,2019-10-18T13:10:52.437Z,2500,0,0,0,0,2500,0,0,0,0
2,13-10-53,2019-10-18T13:10:53.098Z,2500,0,0,0,0,2500,0,0,0,0
3,13-10-54,2019-10-18T13:10:54.124Z,2500,0,0,0,0,2500,0,0,0,0
4,13-10-55,2019-10-18T13:10:55.017Z,2500,0,0,0,0,2500,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
1412,13-34-41,2019-10-18T13:34:41.261Z,53175,9,1,21,3,34411,0,0,1,0
1413,13-34-42,2019-10-18T13:34:42.287Z,53185,9,1,21,3,34421,0,0,1,0
1414,13-34-43,2019-10-18T13:34:43.313Z,53196,9,1,21,3,34431,0,0,1,0
1415,13-34-44,2019-10-18T13:34:44.338Z,53206,9,1,21,3,34441,0,0,1,0
1416,13-34-45,2019-10-18T13:34:45.434Z,53221,9,1,21,3,34457,0,0,1,0

In [52]:
len(intime)

120

In [53]:
intime

[[0, 5116.332, 7399.255999999999],
 [0, 9143.445, 11169.808],
 [232, 12969.114, 14990.711000000001],
 [0, 16556.362, 18924.25],
 [0, 20434.449, 22773.898999999998],
 [0, 24191.976000000002, 26000.037999999997],
 [0, 5297.380999999999, 7374.128000000001],
 [0, 9109.419, 11163.293],
 [0, 12747.41, 14554.981000000002],
 [0, 16022.472, 18424.248],
 [0, 19844.531000000003, 21301.256],
 [0, 22797.313, 24598.105],
 [0, 5020.875, 7942.076999999999],
 [1, 9317.679, 11334.989],
 [0, 12762.913999999999, 15231.958],
 [0, 16676.324, 20480.206000000002],
 [0, 21946.487, 23421.21],
 [0, 24827.576, 27274.145],
 [0, 28761.379, 30463.066000000003],
 ['', '', ''],
 [0, 4999.413, 6835.826999999999],
 [0, 8227.648000000001, 10591.181],
 [0, 11962.325, 13653.278999999999],
 [0, 15030.306999999999, 17078.893],
 [0, 18448.736, 20881.646],
 [0, 22311.86, 24132.25],
 [0, 25568.567000000003, 27242.299],
 [0, 12119.316, 14105.245],
 [0, 8725.335, 10895.228000000001],
 [0, 15267.493, 16629.234],
 [0, 5078.37, 7576.91],
 [0, 18227.353, 20025.177],
 [0, 24162.491, 26380.767000000003],
 [0, 21285.447, 22943.092999999997],
 [0, 7621.335999999999, 9600.812],
 [0, 14539.347, 16893.218999999997],
 [0, 4723.365, 6399.198],
 [0, 10849.94, 13269.265],
 [0, 18478.374, 21210.194],
 [0, 32396.522, 34666.706],
 [0, 28610.925, 31140.295],
 [1, 25595.27, 27342.172000000002],
 [1, 22479.627, 24373.257999999998],
 [1, 5849.628000000001, 7989.2],
 [0, 10115.728000000001, 11998.185],
 [0, 13862.524, 15641.23],
 [0, 17500.358, 19364.292],
 [0, 21298.471, 23497.285],
 [0, 25411.498, 27238.261000000002],
 [0, 8405.318000000001, 10968.076000000001],
 [28, 12412.453000000001, 14728.22],
 [0, 16233.338, 18257.147],
 [0, 19810.357, 21466.196],
 [0, 23029.32, 24817.291],
 [0, 26481.41, 29301.705],
 [0, 6085.661, 8378.134],
 [0, 9847.259, 12367.083999999999],
 [0, 13756.312, 15849.292],
 [0, 17382.308999999997, 19728.131999999998],
 [0, 21164.479, 23434.182],
 [0, 24863.356, 26338.206000000002],
 [1, 6044.828, 8223.234],
 [0, 9736.401, 11487.105],
 [0, 12901.39, 14720.278999999999],
 [0, 16163.473, 18843.218999999997],
 [0, 20224.319, 22831.172000000002],
 [0, 24241.56, 26077.195],
 [0, 6203.305, 7922.17],
 [0, 9362.445, 11070.13],
 [0, 12574.4, 14182.868999999999],
 [0, 15546.901000000002, 17601.281000000003],
 [0, 19004.475, 20993.135],
 [0, 22572.578999999998, 24133.484],
 [0, 25694.33, 28025.255],
 ['', '', ''],
 ['', '', ''],
 ['', '', ''],
 ['', '', ''],
 ['', '', ''],
 ['', '', ''],
 ['', '', ''],
 [0, 6820.267, 8948.234],
 [0, 10364.799, 13281.184],
 [0, 14746.351999999999, 16362.112],
 [0, 17766.397, 19546.272],
 [0, 21020.372000000003, 23005.205],
 [0, 24402.262000000002, 26346.259],
 [0, 6599.548000000001, 8703.011],
 [0, 10156.333, 12094.098],
 [0, 13533.572, 15389.15],
 [0, 16745.318, 18669.136000000002],
 [0, 19981.527, 21750.951],
 [0, 23279.357999999997, 24724.208],
 [0, 10799.34, 12878.095],
 [0, 6921.31, 9553.95],
 [0, 14110.527, 16302.284],
 [0, 17501.416, 19041.198],
 [0, 27285.305, 28901.91],
 [0, 30105.252, 32326.097999999998],
 [0, 21673.382999999998, 23241.144],
 [0, 24551.375, 26018.165],
 [0, 15832.488000000001, 17746.175],
 [0, 6772.735, 8521.197],
 [0, 12692.308, 14601.223],
 [0, 9779.362, 11427.17],
 [0, 20057.428, 22117.187],
 [0, 27233.767000000003, 29096.285],
 [0, 30298.322, 32118.174],
 [2, 23401.023999999998, 26060.102000000003],
 [0, 16054.366000000002, 18142.164],
 [3, 9449.117, 11993.146],
 [0, 13304.41, 14852.288],
 [0, 6539.358, 8244.246],
 [0, 16986.334, 19146.196],
 [1, 9998.663, 12155.133],
 [0, 13458.782, 15478.117],
 [0, 6690.646, 8762.295],
 [0, 30906.461, 33898.218],
 [2, 38639.018, 40458.176],
 [1, 35145.468, 37201.299]]

In [59]:
metadata['init_sec']=np.array(intime)[:,0]
metadata['st_video']=np.array(intime)[:,1]
metadata['et_video']=np.array(intime)[:,2]

In [61]:
metadata.to_csv('./metadata.csv')