In [2]:
import pickle
import numpy as np
import pandas as pd
from datetime import datetime
from datetime import timedelta

## **NEW VERSION (with Error handle)

In [7]:
metadata=pd.read_csv('./exp_data.csv')
metadata=metadata.drop(['Unnamed: 0','Unnamed: 0.1'],axis=1)
metadata

,gameid,urlid,st,et,init_sec,st_video,et_video,intime,video time
0,102844212430075086,489172130,2019-10-02T11:13:18.688Z,2019-10-02T11:51:21.804Z,0,5116.332,7399.332,3:38,1:29:51
1,102844212430271695,489172130,2019-10-02T12:20:25.129Z,2019-10-02T12:54:13.187Z,0,9143.445,11171.445,5:13,2:38:30
2,102844212429092040,489172130,2019-10-02T13:20:18.470Z,2019-10-02T13:57:53.281Z,232,12969.114,15223.114,4:57,3:38:07
3,102844212430402768,489172130,2019-10-02T14:23:58.095Z,2019-10-02T15:03:26.737Z,0,16556.362,18924.362,6:19,4:43:09
4,102844212430599377,489172130,2019-10-02T15:28:36.590Z,2019-10-02T16:07:36.613Z,0,20434.449,22774.449,1:52,5:43:23
...,...,...,...,...,...,...,...,...,...
107,102844412723174729,503346504,2019-11-03T13:08:27.814Z,2019-11-03T13:42:07.720Z,0,13458.782,15477.782,2:20,3:47:27
108,102844412722519367,503346504,2019-11-03T11:15:39.545Z,2019-11-03T11:50:11.667Z,0,6690.646,8762.646,0:29,1:52:48
109,102844412720618818,506331985,2019-11-10T12:40:36.099Z,2019-11-10T13:30:28.249Z,0,30906.461,33898.461,0:36,8:45:29
110,102844412721339716,506331985,2019-11-10T14:49:26.226Z,2019-11-10T15:19:48.032Z,2,38639.018,40460.018,0:36,10:45:21
111,102844412721012035,506331985,2019-11-10T13:51:14.258Z,2019-11-10T14:25:31.346Z,1,35145.468,37202.468,1:11,9:47:45

In [42]:
new_st=[]
new_et=[]
for idx in range(len(metadata)):
    meta=metadata.iloc[idx]
    time_diff=meta['et_video']-meta['st_video']
    H,M,S=map(int,meta['video time'].split(':'))
    i_m,i_s=map(int,meta['intime'].split(':'))
    n_s=H*3600+M*60+S-(i_m*60+i_s)
    n_e=n_s+time_diff
    new_st.append(n_s)
    new_et.append(n_e)

In [43]:
metadata['new_st']=new_st
metadata['new_et']=new_et

In [44]:
meta1=metadata.drop(['st_video','et_video','init_sec'],axis=1)

In [46]:
meta1.to_csv('./new_metadata.csv')

In [45]:
meta1

,gameid,urlid,st,et,intime,video time,new_st,new_et
0,102844212430075086,489172130,2019-10-02T11:13:18.688Z,2019-10-02T11:51:21.804Z,3:38,1:29:51,5173,7456.0
1,102844212430271695,489172130,2019-10-02T12:20:25.129Z,2019-10-02T12:54:13.187Z,5:13,2:38:30,9197,11225.0
2,102844212429092040,489172130,2019-10-02T13:20:18.470Z,2019-10-02T13:57:53.281Z,4:57,3:38:07,12790,15044.0
3,102844212430402768,489172130,2019-10-02T14:23:58.095Z,2019-10-02T15:03:26.737Z,6:19,4:43:09,16610,18978.0
4,102844212430599377,489172130,2019-10-02T15:28:36.590Z,2019-10-02T16:07:36.613Z,1:52,5:43:23,20491,22831.0
...,...,...,...,...,...,...,...,...
107,102844412723174729,503346504,2019-11-03T13:08:27.814Z,2019-11-03T13:42:07.720Z,2:20,3:47:27,13507,15526.0
108,102844412722519367,503346504,2019-11-03T11:15:39.545Z,2019-11-03T11:50:11.667Z,0:29,1:52:48,6739,8811.0
109,102844412720618818,506331985,2019-11-10T12:40:36.099Z,2019-11-10T13:30:28.249Z,0:36,8:45:29,31493,34485.0
110,102844412721339716,506331985,2019-11-10T14:49:26.226Z,2019-11-10T15:19:48.032Z,0:36,10:45:21,38685,40506.0
111,102844412721012035,506331985,2019-11-10T13:51:14.258Z,2019-11-10T14:25:31.346Z,1:11,9:47:45,35194,37251.0

In [47]:
#metadata upload
for idx1,i in enumerate(metadata['urlid']):
        path='./{}''\n''.txt'.format(i)
        chat=pd.read_csv(path,sep='\t',names=['leage','game','view','length','real_time','duration','chat'])
        st=metadata.iloc[idx1]['new_st']
        s_idx=0
        et=metadata.iloc[idx1]['new_et']
        e_idx=0

        temp=[]
        diff=0


        for idx,j in enumerate(chat['duration']):

            if j>st:
                if s_idx==0:
                    diff=(int(j)-int(st))
                    s_idx=idx

                else:
                    pass
            if j>et:
                if e_idx==0:
                    e_idx=idx-1
                    break
        chat.iloc[s_idx:e_idx].to_csv('./result/{}_{}.csv'.format(str(metadata['gameid'][idx1]),str(diff)))
        print(str(metadata['gameid'][idx1]))

102844212430075086
102844212430271695
102844212429092040
102844212430402768
102844212430599377
102844212429747404
102844224148503678
102844212428895431
102844224148896895
102844212430730450
102844224146472059
102844212429419722
102844212429288649
102844212431779031
102844212431058132
102844212430927059
102844212429550795
102844212431320277
102904869420860038
102844224147717245
102844212431975640
102844224145685626
102844212429944013
102844224146930812
102844212431516886
102910307641576395
102844235746868664
102844235746475447
102844235747261881
102844235746082230
102844235752963525
102844235753749959
102844235753356742
102844235751390657
102844235752111555
102844235750997440
102844235751783874
102844235747982779
102844235749424575
102844235749031358
102844235748703677
102844235748310460
102844341902586509
102844341905404560
102844401153971877
102844401152071328
102844294670878922
102844294667405508
102844341907370644
102844341909598870
102844401155937960
102844401154430631
102844283027531868
102844283020453971
102844401152267937
102844401153578660
102844294669568199
102844294670551241
102844283027925085
102844283023599703
102844341906649746
102844341906256529
102844294667995333
102844294674286796
102844283025696858
102844283023206486
102844294674876621
102844294670026952
102844294666881219
102844294671796427
102844294666422466
102844294669109446
102979081290790284
102844341904683662
102844341908026005
102844341905011343
102844341906977427
102844341912220311
102844341912679064
102844401151874719
102844401151219358
102844401156069033
102844401154168486
102844401153447587
102844401152857762
102844412704890154
102844412704496937
102844412705217835
102844412705545516
102844412707380528
102844412707708209
102844412706659630
102844412706987311
102844412717407552
102844412716227901
102844412717014335
102844412716686654
102844412708953395
102844412709674293
102844412710001974
102844412709346612
102844412712164667
102844412711443769
102844412711836986
102844412711116088
102844412723567946
102844412722847048
102844412723174729
102844412722519367
102844412720618818
102844412721339716
102844412721012035

## OLD VER

In [3]:
with open('../video/lolData/exp_data/gamedata.pickle','rb') as f:
    data=pickle.load(f)
metadata=pd.read_csv('./metadata.csv')
metadata

,Unnamed: 0,gameid,urlid,st,et,init_sec,st_video,et_video
0,0,102844212430075086,489172130,2019-10-02T11:13:18.688Z,2019-10-02T11:51:21.804Z,0.0,5116.332,7399.256
1,1,102844212430271695,489172130,2019-10-02T12:20:25.129Z,2019-10-02T12:54:13.187Z,0.0,9143.445,11169.808
2,2,102844212429092040,489172130,2019-10-02T13:20:18.470Z,2019-10-02T13:57:53.281Z,232.0,12969.114,14990.711
3,3,102844212430402768,489172130,2019-10-02T14:23:58.095Z,2019-10-02T15:03:26.737Z,0.0,16556.362,18924.250
4,4,102844212430599377,489172130,2019-10-02T15:28:36.590Z,2019-10-02T16:07:36.613Z,0.0,20434.449,22773.899
...,...,...,...,...,...,...,...,...
115,115,102844412723174729,503346504,2019-11-03T13:08:27.814Z,2019-11-03T13:42:07.720Z,0.0,13458.782,15478.117
116,116,102844412722519367,503346504,2019-11-03T11:15:39.545Z,2019-11-03T11:50:11.667Z,0.0,6690.646,8762.295
117,117,102844412720618818,506331985,2019-11-10T12:40:36.099Z,2019-11-10T13:30:28.249Z,0.0,30906.461,33898.218
118,118,102844412721339716,506331985,2019-11-10T14:49:26.226Z,2019-11-10T15:19:48.032Z,2.0,38639.018,40458.176
119,119,102844412721012035,506331985,2019-11-10T13:51:14.258Z,2019-11-10T14:25:31.346Z,1.0,35145.468,37201.299

In [9]:
#index 19 없음
game_dict={}
for i in metadata['gameid']:
    time=[]
    try:
        st=list(data[str(i)]['Timestamp'])[0]
        et=list(data[str(i)]['Timestamp'])[-1]
        time.append(st)
        time.append(et)
        game_dict[i]=time
    except:
        #there are no matching data
        time.append('')
        time.append('')
        game_dict[i]=time

In [10]:
metadata['st']=np.array(list(game_dict.values()))[:,0]
metadata['et']=np.array(list(game_dict.values()))[:,1]

In [46]:
#metadata=metadata.drop([19])
metadata.to_csv('./metadata.csv')

In [39]:
pd.read_csv('../tsvt/chat/496371424''\n''.txt',sep='\t',names=['leage','game','view','length','real_time','duration','chat'])

,leage,game,view,length,real_time,duration,chat
0,(REBROADCAST) Groups Day 6 | 2019 World Champi...,League of Legends,29765,25481,2019-10-19 04:26:31,1.914,2 EU TEAMS ALREADY THROUG GROUPS WHERE IS NA LUL
1,(REBROADCAST) Groups Day 6 | 2019 World Champi...,League of Legends,29765,25481,2019-10-19 04:26:34,4.669,BYE EU LUL LUL LUL LUL LUL
2,(REBROADCAST) Groups Day 6 | 2019 World Champi...,League of Legends,29765,25481,2019-10-19 04:26:35,5.510,G2 CAN ONLY WIN SPYLCE IN QUATERFINALS
3,(REBROADCAST) Groups Day 6 | 2019 World Champi...,League of Legends,29765,25481,2019-10-19 04:26:36,6.501,SO THIS IS WT HAPPENS WHEN EU FACE GOOD TEAMS ...
4,(REBROADCAST) Groups Day 6 | 2019 World Champi...,League of Legends,29765,25481,2019-10-19 04:26:37,7.927,@DavidRich SKT/RNG/GRIFFIN/G2 are all better. ...
...,...,...,...,...,...,...,...
9212,(REBROADCAST) Groups Day 6 | 2019 World Champi...,League of Legends,29765,25481,2019-10-19 11:30:50,25460.497,RNG lose
9213,(REBROADCAST) Groups Day 6 | 2019 World Champi...,League of Legends,29765,25481,2019-10-19 11:30:55,25466.090,@Trixrfurkids i think Youngbuck is to blame......
9214,(REBROADCAST) Groups Day 6 | 2019 World Champi...,League of Legends,29765,25481,2019-10-19 11:30:56,25466.455,SKT 6-0
9215,(REBROADCAST) Groups Day 6 | 2019 World Champi...,League of Legends,29765,25481,2019-10-19 11:30:58,25468.454,estan dando claves para legends of runaterra ?
9216,(REBROADCAST) Groups Day 6 | 2019 World Champi...,League of Legends,29765,25481,2019-10-19 11:31:04,25474.475,FARDA

In [45]:
datetime.strptime('2019-10-19 04:26:31', "%Y-%m-%d %H:%M:%S")-timedelta(hours=9)

datetime.datetime(2019, 10, 18, 19, 26, 31)

In [14]:
metadata.iloc[116]
et=datetime.strptime(metadata['st'][116], "%Y-%m-%dT%H:%M:%S.%fZ")
et

datetime.datetime(2019, 11, 3, 11, 15, 39, 545000)

In [51]:
#metadata upload
intime=[]
for idx1,i in enumerate(metadata['urlid']):
    try:
        st=metadata['st'][idx1]
        st=datetime.strptime(st, "%Y-%m-%dT%H:%M:%S.%fZ")
        et=metadata['et'][idx1]
        et=datetime.strptime(et, "%Y-%m-%dT%H:%M:%S.%fZ")
        path='../tsvt/chat/{}''\n''.txt'.format(i)
        chat=pd.read_csv(path,sep='\t',names=['leage','game','view','length','real_time','duration','chat'])
        s_idx=0
        e_idx=0
        temp=[]
        diff=0


        for idx,j in enumerate(chat['real_time']):
            chat_time=datetime.strptime(j, "%Y-%m-%d %H:%M:%S")-timedelta(hours=9) #original과 시간 맞춤

            if chat_time>st:
                if s_idx==0:
                    diff=(chat_time-st).seconds
                    s_idx=idx
                    temp.append(diff)
                    temp.append(chat['duration'][idx])
                else:
                    pass
            if chat_time>et:
                if e_idx==0:
                    e_idx=idx-1
                    temp.append(chat['duration'][e_idx])
                    break
        intime.append(temp)
        chat.iloc[s_idx:e_idx].to_csv('./result/{}.csv'.format(str(metadata['gameid'][idx1])))
    
    except:
        print(metadata['gameid'][idx1])
        print('error : '+str(idx1))
        intime.append(['','',''])
        pass

102905919916854804
error : 19
102844283022747733
error : 74
102844283026548827
error : 75
102844283024648280
error : 76
102844283025041497
error : 77
102844283022223444
error : 78
102844283019929682
error : 79
102984708146564216
error : 80

In [17]:
new_et=[]
for i in range(120):
    try:
        st=metadata['st'][i]
        st=datetime.strptime(str(st), "%Y-%m-%dT%H:%M:%S.%fZ")
        et=metadata['et'][i]
        et=datetime.strptime(str(et), "%Y-%m-%dT%H:%M:%S.%fZ")
        diff=(et-st).seconds
        new_et.append(metadata['st_video'][i]+diff)
    except:
        new_et.append('')

In [61]:
metadata.to_csv('./metadata.csv')

In [9]:
metadata['st'][0]

'2019-10-02T11:13:18.688Z'

In [18]:
new_et

[7399.332,
 11171.445,
 15223.114,
 18924.362,
 22774.449,
 25999.976,
 7374.3809999999985,
 11163.419,
 14554.41,
 18424.472,
 21301.531000000006,
 24597.313,
 7942.875,
 11336.679,
 15232.914,
 20480.324,
 23421.487,
 27273.576,
 30463.379,
 '',
 6835.413,
 10591.648000000001,
 13654.325,
 17078.307,
 20882.736,
 24132.86,
 27242.567000000006,
 14105.316,
 10895.335,
 16629.493000000002,
 7577.37,
 20025.353,
 26380.491,
 22942.447,
 9601.336,
 16893.347,
 6398.365,
 13269.94,
 21209.374,
 34666.522,
 31140.925,
 27424.27,
 24373.627,
 7991.6280000000015,
 11997.728,
 15641.524,
 19364.358,
 23497.471,
 27238.498,
 10968.318000000001,
 14755.453,
 18259.338,
 21465.357,
 24816.32,
 29302.41,
 8378.661,
 12369.259,
 15848.312,
 19727.308999999994,
 23434.479,
 26339.356,
 8224.828000000001,
 11487.401,
 14719.39,
 18843.472999999998,
 22831.319,
 26077.56,
 7921.305,
 11070.445,
 14182.4,
 17601.901,
 20992.475,
 24134.579,
 28029.33,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 8949.267,
 13282.799,
 16362.352,
 19545.397,
 23005.372000000007,
 26346.262,
 8702.548000000003,
 12093.333,
 15389.572,
 18669.318,
 21750.527,
 24725.358,
 12878.34,
 9553.310000000001,
 16302.527,
 19042.416,
 28901.305,
 32326.252,
 23240.383,
 26019.375,
 17746.487999999998,
 8520.735,
 14600.308,
 11426.362,
 22117.428,
 29096.767000000003,
 32119.322,
 26062.024,
 18142.366,
 11997.117,
 14852.41,
 8243.358,
 19145.334,
 12156.663,
 15477.782,
 8762.646,
 33898.460999999996,
 40460.018,
 37202.468]

In [22]:
metadata['et_video']=new_et

In [33]:
metadata.to_csv('metadata.csv')

metadata

In [31]:
metadata=metadata.drop(['temp'],axis=1)

In [34]:
metadata

,Unnamed: 0,gameid,urlid,st,et,init_sec,st_video,et_video
0,0,102844212430075086,489172130,2019-10-02T11:13:18.688Z,2019-10-02T11:51:21.804Z,0.0,5116.332,7399.33
1,1,102844212430271695,489172130,2019-10-02T12:20:25.129Z,2019-10-02T12:54:13.187Z,0.0,9143.445,11171.4
2,2,102844212429092040,489172130,2019-10-02T13:20:18.470Z,2019-10-02T13:57:53.281Z,232.0,12969.114,15223.1
3,3,102844212430402768,489172130,2019-10-02T14:23:58.095Z,2019-10-02T15:03:26.737Z,0.0,16556.362,18924.4
4,4,102844212430599377,489172130,2019-10-02T15:28:36.590Z,2019-10-02T16:07:36.613Z,0.0,20434.449,22774.4
...,...,...,...,...,...,...,...,...
115,115,102844412723174729,503346504,2019-11-03T13:08:27.814Z,2019-11-03T13:42:07.720Z,0.0,13458.782,15477.8
116,116,102844412722519367,503346504,2019-11-03T11:15:39.545Z,2019-11-03T11:50:11.667Z,0.0,6690.646,8762.65
117,117,102844412720618818,506331985,2019-11-10T12:40:36.099Z,2019-11-10T13:30:28.249Z,0.0,30906.461,33898.5
118,118,102844412721339716,506331985,2019-11-10T14:49:26.226Z,2019-11-10T15:19:48.032Z,2.0,38639.018,40460
119,119,102844412721012035,506331985,2019-11-10T13:51:14.258Z,2019-11-10T14:25:31.346Z,1.0,35145.468,37202.5

In [35]:
metadata.to_csv('metadata.csv')

In [9]:
import datetime
st=datetime.datetime.strptime("2019-11-02T11:16:15.823Z", "%Y-%m-%dT%H:%M:%S.%fZ")
et=datetime.datetime.strptime("2019-11-02T11:44:40.411Z", "%Y-%m-%dT%H:%M:%S.%fZ")

In [10]:
(et-st).seconds

1704