In [1]:
import pandas as pd
import numpy as np

In [2]:
import os
path = '/home/ubuntu/gangmin/tsvt/video/lolData/leagueoflegends'
file_list = os.listdir(path)

In [3]:
_columns = pd.read_csv(path + '/_columns.csv')
_columns['ColumnDescription'][13]

' List of minutes that Blue Team destroyed a tower and Tower Location '

In [4]:
leagueoflegend = pd.read_csv(path+'/LeagueofLegends.csv')
matchinfo = pd.read_csv(path+'/matchinfo.csv')

In [5]:
leagueoflegends = pd.DataFrame(columns = leagueoflegend.columns)
index = 0
for i in range(len(leagueoflegend)):
    if int(leagueoflegend.loc[[i]]['Year']) < 2018 and int(leagueoflegend.loc[[i]]['Year'])>2015:
        leagueoflegends = pd.concat([leagueoflegends, leagueoflegend.loc[[i]]],ignore_index=True )
        index+=1

In [62]:
columns = ['goldblue','goldred','bTowers','rTowers','bKills','rKills','bResult','rResult']

In [63]:
datas = leagueoflegends.loc[:,columns]

In [64]:
#gold 
datas['goldblue']=list(map(lambda x: x[1:-1].split(",")[-1],datas['goldblue']))
datas['goldred']=list(map(lambda x: x[1:-1].split(",")[-1],datas['goldred']))

In [65]:
#kills
datas['bKills'] = list(map(lambda x: x[1:-1].count('[')/2,datas['bKills']))
datas['rKills'] = list(map(lambda x: x[1:-1].count('[')/2,datas['rKills']))

In [66]:
#Towers
datas['bTowers'] = list(map(lambda x: x[1:-1].count('['),datas['bTowers']))
datas['rTowers'] = list(map(lambda x: x[1:-1].count('['),datas['rTowers']))

In [67]:
print(datas)
data = datas.loc[:,['goldblue','bTowers','bKills','bResult','rResult']]
data.columns=['gold','tower','kill','blue_result','red_result']

     goldblue goldred  bTowers  rTowers  bKills  rKills bResult rResult
0       76987   87390        5       10    13.0    22.0       0       1
1       38782   55713        2       10     7.0    17.0       0       1
2       65849   74982        4       11    16.0    16.0       0       1
3      113742   99071       10        6    18.0    12.0       1       0
4       62796   52319        9        2    14.0     6.0       1       0
...       ...     ...      ...      ...     ...     ...     ...     ...
5800    67279   82178        2        9     6.0    18.0       0       1
5801    62572   65154        8       10     7.0    16.0       0       1
5802    75817   85071        6       11    18.0    16.0       0       1
5803    38449   52204        2       10     2.0    17.0       0       1
5804    64218   69709        3        9    11.0    15.0       0       1

[5805 rows x 8 columns]

In [68]:
data =data.astype(int)
print(data)

        gold  tower  kill  blue_result  red_result
0      76987      5    13            0           1
1      38782      2     7            0           1
2      65849      4    16            0           1
3     113742     10    18            1           0
4      62796      9    14            1           0
...      ...    ...   ...          ...         ...
5800   67279      2     6            0           1
5801   62572      8     7            0           1
5802   75817      6    18            0           1
5803   38449      2     2            0           1
5804   64218      3    11            0           1

[5805 rows x 5 columns]

In [69]:
recent_data = pd.read_csv('/home/ubuntu/gangmin/tsvt/video/win_loss_classifier/win_loss_variables_18~19.csv')

In [70]:
recent_data = recent_data.drop(['split','Unnamed: 0'],axis=1)
recent_data.columns = ['gold','tower','kill','blue_result','red_result']
recent_data

       gold  tower  kill  blue_result  red_result
0     64781      3     8            0           1
1     70918     11    11            1           0
2     55810      8    10            1           0
3     63272     11    12            1           0
4     79741      2     8            0           1
...     ...    ...   ...          ...         ...
5000  52031      2     4            0           1
5001  58664      9    12            1           0
5002  62085      7    22            1           0
5003  60196      9    13            1           0
5004  46693      9    18            1           0

[5005 rows x 5 columns]

In [71]:
data = pd.concat([data,recent_data],ignore_index=True)

In [72]:
data

         gold  tower  kill  blue_result  red_result
0       76987      5    13            0           1
1       38782      2     7            0           1
2       65849      4    16            0           1
3      113742     10    18            1           0
4       62796      9    14            1           0
...       ...    ...   ...          ...         ...
10805   52031      2     4            0           1
10806   58664      9    12            1           0
10807   62085      7    22            1           0
10808   60196      9    13            1           0
10809   46693      9    18            1           0

[10810 rows x 5 columns]

In [74]:
#normalization
goldSum = data['gold'].sum()+len(data)
towerSum = data['tower'].sum()+len(data)
killSum = data['kill'].sum()+len(data)

data['gold'] = list(map(lambda x:(x+1)/goldSum,data['gold']))
data['tower'] = list(map(lambda x:(x+1)/towerSum,data['tower']))
data['kill'] = list(map(lambda x:(x+1)/killSum,data['kill']))

In [81]:
data

           gold     tower      kill  blue_result  red_result
0      0.000114  0.000073  0.000098            0           1
1      0.000057  0.000037  0.000056            0           1
2      0.000097  0.000061  0.000119            0           1
3      0.000168  0.000134  0.000133            1           0
4      0.000093  0.000122  0.000105            1           0
...         ...       ...       ...          ...         ...
10805  0.000077  0.000037  0.000035            0           1
10806  0.000087  0.000122  0.000091            1           0
10807  0.000092  0.000097  0.000160            1           0
10808  0.000089  0.000122  0.000098            1           0
10809  0.000069  0.000122  0.000133            1           0

[10810 rows x 5 columns]

In [82]:
data.to_csv("/home/ubuntu/gangmin/tsvt/video/win_loss_classifier/win_loss_variables.csv", mode='w')