In [2]:
import pandas as pd
import numpy as np

In [3]:
import os
path = '/home/ubuntu/gangmin/tsvt/video/lolData/leagueoflegends'
file_list = os.listdir(path)

In [4]:
_columns = pd.read_csv(path + '/_columns.csv')
_columns['ColumnDescription'][13]

' List of minutes that Blue Team destroyed a tower and Tower Location '

In [5]:
leagueoflegend = pd.read_csv(path+'/LeagueofLegends.csv')
matchinfo = pd.read_csv(path+'/matchinfo.csv')

In [6]:
leagueoflegends = pd.DataFrame(columns = leagueoflegend.columns)
index = 0
for i in range(len(leagueoflegend)):
    if int(leagueoflegend.loc[[i]]['Year']) < 2018:
        leagueoflegends = pd.concat([leagueoflegends, leagueoflegend.loc[[i]]],ignore_index=True )
        index+=1

In [7]:
columns = ['goldblue','goldred','bTowers','rTowers','bKills','rKills','bResult','rResult']

In [8]:
datas = leagueoflegends.loc[:,columns]

In [9]:
#gold 
datas['goldblue']=list(map(lambda x: x[1:-1].split(",")[-1],datas['goldblue']))
datas['goldred']=list(map(lambda x: x[1:-1].split(",")[-1],datas['goldred']))

In [10]:
#kills
datas['bKills'] = list(map(lambda x: x[1:-1].count('[')/2,datas['bKills']))
datas['rKills'] = list(map(lambda x: x[1:-1].count('[')/2,datas['rKills']))

In [11]:
#Towers
datas['bTowers'] = list(map(lambda x: x[1:-1].count('['),datas['bTowers']))
datas['rTowers'] = list(map(lambda x: x[1:-1].count('['),datas['rTowers']))

In [12]:
print(datas)
data = datas.loc[:,['goldblue','bTowers','bKills','bResult','rResult']]
data.columns=['gold','tower','kill','blue_result','red_result']

     goldblue goldred  bTowers  rTowers  bKills  rKills bResult rResult
0       62729   56672        9        4    16.0     9.0       1       0
1       57702   56537        7        7    10.0     9.0       0       1
2       70270   56355       15        2    22.0     8.0       1       0
3       58612   63119        4        7    10.0    21.0       0       1
4       60269   48947        8        4    22.0    10.0       1       0
...       ...     ...      ...      ...     ...     ...     ...     ...
7374    67279   82178        2        9     6.0    18.0       0       1
7375    62572   65154        8       10     7.0    16.0       0       1
7376    75817   85071        6       11    18.0    16.0       0       1
7377    38449   52204        2       10     2.0    17.0       0       1
7378    64218   69709        3        9    11.0    15.0       0       1

[7379 rows x 8 columns]

In [13]:
data =data.astype(int)
print(data)

       gold  tower  kill  blue_result  red_result
0     62729      9    16            1           0
1     57702      7    10            0           1
2     70270     15    22            1           0
3     58612      4    10            0           1
4     60269      8    22            1           0
...     ...    ...   ...          ...         ...
7374  67279      2     6            0           1
7375  62572      8     7            0           1
7376  75817      6    18            0           1
7377  38449      2     2            0           1
7378  64218      3    11            0           1

[7379 rows x 5 columns]

In [15]:
recent_data = pd.read_csv('/home/ubuntu/gangmin/tsvt/video/win_loss_classifier/win_loss_variables_18~19.csv')

In [16]:
recent_data = recent_data.drop(['split','Unnamed: 0'],axis=1)
recent_data.columns = ['gold','tower','kill','blue_result','red_result']
recent_data

       gold  tower  kill  blue_result  red_result
0     64781      3     8            0           1
1     70918     11    11            1           0
2     55810      8    10            1           0
3     63272     11    12            1           0
4     79741      2     8            0           1
...     ...    ...   ...          ...         ...
5000  52031      2     4            0           1
5001  58664      9    12            1           0
5002  62085      7    22            1           0
5003  60196      9    13            1           0
5004  46693      9    18            1           0

[5005 rows x 5 columns]

In [17]:
data = pd.concat([data,recent_data],ignore_index=True)

In [18]:
#normalization
goldSum = data['gold'].sum()+len(data)
towerSum = data['tower'].sum()+len(data)
killSum = data['kill'].sum()+len(data)

data['gold'] = list(map(lambda x:(x+1)/goldSum,data['gold']))
data['tower'] = list(map(lambda x:(x+1)/towerSum,data['tower']))
data['kill'] = list(map(lambda x:(x+1)/killSum,data['kill']))

In [19]:
data

           gold     tower      kill  blue_result  red_result
0      0.000081  0.000106  0.000101            1           0
1      0.000075  0.000085  0.000066            0           1
2      0.000091  0.000170  0.000137            1           0
3      0.000076  0.000053  0.000066            0           1
4      0.000078  0.000095  0.000137            1           0
...         ...       ...       ...          ...         ...
12379  0.000067  0.000032  0.000030            0           1
12380  0.000076  0.000106  0.000078            1           0
12381  0.000081  0.000085  0.000137            1           0
12382  0.000078  0.000106  0.000084            1           0
12383  0.000061  0.000106  0.000113            1           0

[12384 rows x 5 columns]

In [20]:
data.to_csv("/home/ubuntu/gangmin/tsvt/video/win_loss_classifier/win_loss_variables.csv", mode='w')