In [56]:
import pandas as pd
import numpy as np

In [57]:
import os
path = '/home/ubuntu/gangmin/lol/leagueoflegends'
file_list = os.listdir(path)

In [58]:
for fname in file_list:
    data = pd.read_csv("~/gangmin/lol/leagueoflegends/{0}".format(fname))
    print("@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@")
    print(fname)
    print(data.columns)
    print(data.shape)

@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
gold.csv
Index(['Address', 'Type', 'min_1', 'min_2', 'min_3', 'min_4', 'min_5', 'min_6',
       'min_7', 'min_8', 'min_9', 'min_10', 'min_11', 'min_12', 'min_13',
       'min_14', 'min_15', 'min_16', 'min_17', 'min_18', 'min_19', 'min_20',
       'min_21', 'min_22', 'min_23', 'min_24', 'min_25', 'min_26', 'min_27',
       'min_28', 'min_29', 'min_30', 'min_31', 'min_32', 'min_33', 'min_34',
       'min_35', 'min_36', 'min_37', 'min_38', 'min_39', 'min_40', 'min_41',
       'min_42', 'min_43', 'min_44', 'min_45', 'min_46', 'min_47', 'min_48',
       'min_49', 'min_50', 'min_51', 'min_52', 'min_53', 'min_54', 'min_55',
       'min_56', 'min_57', 'min_58', 'min_59', 'min_60', 'min_61', 'min_62',
       'min_63', 'min_64', 'min_65', 'min_66', 'min_67', 'min_68', 'min_69',
       'min_70', 'min_71', 'min_72', 'min_73', 'min_74', 'min_75', 'min_76',
       'min_77', 'min_78', 'min_79', 'min_80', 'min_81', 'min_82', 'min_83',
       'min_84', 'min_85', 'min_86', 'min_87', 'min_88', 'min_89', 'min_90',
       'min_91', 'min_92', 'min_93', 'min_94', 'min_95'],
      dtype='object')
(99060, 97)
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
_columns.csv
Index(['ColumnName', 'ColumnDescription'], dtype='object')
(57, 2)
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
kills.csv
Index(['Address', 'Team', 'Time', 'Victim', 'Killer', 'Assist_1', 'Assist_2',
       'Assist_3', 'Assist_4', 'x_pos', 'y_pos'],
      dtype='object')
(191069, 11)
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
monsters.csv
Index(['Address', 'Team', 'Time', 'Type'], dtype='object')
(44248, 4)
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
structures.csv
Index(['Address', 'Team', 'Time', 'Lane', 'Type'], dtype='object')
(121386, 5)
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
matchinfo.csv
Index(['League', 'Year', 'Season', 'Type', 'blueTeamTag', 'bResult', 'rResult',
       'redTeamTag', 'gamelength', 'blueTop', 'blueTopChamp', 'blueJungle',
       'blueJungleChamp', 'blueMiddle', 'blueMiddleChamp', 'blueADC',
       'blueADCChamp', 'blueSupport', 'blueSupportChamp', 'redTop',
       'redTopChamp', 'redJungle', 'redJungleChamp', 'redMiddle',
       'redMiddleChamp', 'redADC', 'redADCChamp', 'redSupport',
       'redSupportChamp', 'Address'],
      dtype='object')
(7620, 30)
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
LeagueofLegends.csv
Index(['League', 'Year', 'Season', 'Type', 'blueTeamTag', 'bResult', 'rResult',
       'redTeamTag', 'gamelength', 'golddiff', 'goldblue', 'bKills', 'bTowers',
       'bInhibs', 'bDragons', 'bBarons', 'bHeralds', 'goldred', 'rKills',
       'rTowers', 'rInhibs', 'rDragons', 'rBarons', 'rHeralds', 'blueTop',
       'blueTopChamp', 'goldblueTop', 'blueJungle', 'blueJungleChamp',
       'goldblueJungle', 'blueMiddle', 'blueMiddleChamp', 'goldblueMiddle',
       'blueADC', 'blueADCChamp', 'goldblueADC', 'blueSupport',
       'blueSupportChamp', 'goldblueSupport', 'blueBans', 'redTop',
       'redTopChamp', 'goldredTop', 'redJungle', 'redJungleChamp',
       'goldredJungle', 'redMiddle', 'redMiddleChamp', 'goldredMiddle',
       'redADC', 'redADCChamp', 'goldredADC', 'redSupport', 'redSupportChamp',
       'goldredSupport', 'redBans', 'Address'],
      dtype='object')
(7620, 57)
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
bans.csv
Index(['Address', 'Team', 'ban_1', 'ban_2', 'ban_3', 'ban_4', 'ban_5'], dtype='object')
(15240, 7)

In [89]:
_columns = pd.read_csv('/home/ubuntu/gangmin/lol/leagueoflegends/_columns.csv')
_columns['ColumnDescription'][13]

' List of minutes that Blue Team destroyed a tower and Tower Location '

In [90]:
leagueoflegends = pd.read_csv('/home/ubuntu/gangmin/lol/leagueoflegends/LeagueofLegends.csv')
matchinfo = pd.read_csv('/home/ubuntu/gangmin/lol/leagueoflegends/matchinfo.csv')

In [91]:
columns = ['goldblue','goldred','bTowers','rTowers','bKills','rKills','bResult','rResult']

In [92]:
datas = leagueoflegends.loc[:,columns]

In [93]:
#gold 
datas['goldblue']=list(map(lambda x: x[1:-1].split(",")[-1],datas['goldblue']))
datas['goldred']=list(map(lambda x: x[1:-1].split(",")[-1],datas['goldred']))

In [94]:
#kills
datas['bKills'] = list(map(lambda x: x[1:-1].count('[')/2,datas['bKills']))
datas['rKills'] = list(map(lambda x: x[1:-1].count('[')/2,datas['rKills']))

In [95]:
datas['bTowers'][0]

"[[27.542, 'MID_LANE', 'BASE_TURRET'], [39.269, 'MID_LANE', 'NEXUS_TURRET'], [33.583, 'BOT_LANE', 'INNER_TURRET'], [23.038, 'TOP_LANE', 'INNER_TURRET'], [16.556, 'BOT_LANE', 'OUTER_TURRET'], [15.014, 'MID_LANE', 'OUTER_TURRET'], [39.376, 'MID_LANE', 'NEXUS_TURRET'], [15.217, 'MID_LANE', 'INNER_TURRET'], [17.856, 'TOP_LANE', 'OUTER_TURRET']]"

In [96]:
#Towers
datas['bTowers'] = list(map(lambda x: x[1:-1].count('['),datas['bTowers']))
datas['rTowers'] = list(map(lambda x: x[1:-1].count('['),datas['rTowers']))

In [97]:
print(datas)
data = datas.loc[:,['goldblue','bTowers','bKills','bResult','rResult']]
data.columns=['gold','tower','kill','blue_result','red_result']

     goldblue goldred  bTowers  rTowers  bKills  rKills  bResult  rResult
0       62729   56672        9        4    16.0     9.0        1        0
1       57702   56537        7        7    10.0     9.0        0        1
2       70270   56355       15        2    22.0     8.0        1        0
3       58612   63119        4        7    10.0    21.0        0        1
4       60269   48947        8        4    22.0    10.0        1        0
...       ...     ...      ...      ...     ...     ...      ...      ...
7615    57580   65618        4        9     7.0    16.0        0        1
7616    69781   70498        5       10     8.0    18.0        0        1
7617    34602   52338        0       11     5.0    13.0        0        1
7618    68729   57221        9        3    16.0     2.0        1        0
7619    77275   82598        4       11    12.0    23.0        0        1

[7620 rows x 8 columns]

In [98]:
data =data.astype(int)
print(data)

       gold  tower  kill  blue_result  red_result
0     62729      9    16            1           0
1     57702      7    10            0           1
2     70270     15    22            1           0
3     58612      4    10            0           1
4     60269      8    22            1           0
...     ...    ...   ...          ...         ...
7615  57580      4     7            0           1
7616  69781      5     8            0           1
7617  34602      0     5            0           1
7618  68729      9    16            1           0
7619  77275      4    12            0           1

[7620 rows x 5 columns]

In [99]:
#normalization
goldSum = data['gold'].sum()+len(data)
towerSum = data['tower'].sum()+len(data)
killSum = data['kill'].sum()+len(data)

data['gold'] = list(map(lambda x:(x+1)/goldSum,data['gold']))
data['tower'] = list(map(lambda x:(x+1)/towerSum,data['tower']))
data['kill'] = list(map(lambda x:(x+1)/killSum,data['kill']))

In [100]:
data

          gold     tower      kill  blue_result  red_result
0     0.000131  0.000169  0.000160            1           0
1     0.000120  0.000136  0.000104            0           1
2     0.000147  0.000271  0.000217            1           0
3     0.000122  0.000085  0.000104            0           1
4     0.000126  0.000152  0.000217            1           0
...        ...       ...       ...          ...         ...
7615  0.000120  0.000085  0.000076            0           1
7616  0.000146  0.000102  0.000085            0           1
7617  0.000072  0.000017  0.000057            0           1
7618  0.000143  0.000169  0.000160            1           0
7619  0.000161  0.000085  0.000123            0           1

[7620 rows x 5 columns]

In [101]:
data.to_csv("/home/ubuntu/gangmin/lol/win_loss_variables.csv", mode='w')