In [48]:
import pandas as pd
import numpy as np

In [49]:
import os
path = '/home/ubuntu/gangmin/tsvt/video/lolData/leagueoflegends'
file_list = os.listdir(path)

In [50]:
_columns = pd.read_csv(path + '/_columns.csv')
_columns['ColumnDescription'][13]

' List of minutes that Blue Team destroyed a tower and Tower Location '

In [51]:
leagueoflegend = pd.read_csv(path+'/LeagueofLegends.csv')
matchinfo = pd.read_csv(path+'/matchinfo.csv')

In [52]:
leagueoflegends = pd.DataFrame(columns = leagueoflegend.columns)
index = 0
for i in range(len(leagueoflegend)):
    if int(leagueoflegend.loc[[i]]['Year']) < 2018 and int(leagueoflegend.loc[[i]]['Year'])>2015:
        leagueoflegends = pd.concat([leagueoflegends, leagueoflegend.loc[[i]]],ignore_index=True )
        index+=1

In [53]:
columns = ['goldblue','goldred','bTowers','rTowers','bKills','rKills','bResult','rResult']

In [54]:
datas = leagueoflegends.loc[:,columns]

In [55]:
#gold 
datas['goldblue']=list(map(lambda x: x[1:-1].split(",")[-1],datas['goldblue']))
datas['goldred']=list(map(lambda x: x[1:-1].split(",")[-1],datas['goldred']))

In [56]:
#kills
datas['bKills'] = list(map(lambda x: x[1:-1].count('[')/2,datas['bKills']))
datas['rKills'] = list(map(lambda x: x[1:-1].count('[')/2,datas['rKills']))

In [57]:
#Towers
datas['bTowers'] = list(map(lambda x: x[1:-1].count('['),datas['bTowers']))
datas['rTowers'] = list(map(lambda x: x[1:-1].count('['),datas['rTowers']))

In [58]:
datas.columns

Index(['goldblue', 'goldred', 'bTowers', 'rTowers', 'bKills', 'rKills',
       'bResult', 'rResult'],
      dtype='object')

In [59]:
datas =datas.astype(int)
print(datas)

      goldblue  goldred  bTowers  rTowers  bKills  rKills  bResult  rResult
0        76987    87390        5       10      13      22        0        1
1        38782    55713        2       10       7      17        0        1
2        65849    74982        4       11      16      16        0        1
3       113742    99071       10        6      18      12        1        0
4        62796    52319        9        2      14       6        1        0
...        ...      ...      ...      ...     ...     ...      ...      ...
5800     67279    82178        2        9       6      18        0        1
5801     62572    65154        8       10       7      16        0        1
5802     75817    85071        6       11      18      16        0        1
5803     38449    52204        2       10       2      17        0        1
5804     64218    69709        3        9      11      15        0        1

[5805 rows x 8 columns]

In [60]:
recent_data = pd.read_csv('/home/ubuntu/gangmin/tsvt/video/win_loss_classifier/win_loss_variables_18~19.csv')

In [61]:
recent_data

,Unnamed: 0,split,goldblue,goldred,bTowers,rTowers,bKills,rKills,bResult,rResult
0,0,"10 2018-1\nName: split, dtype: object",64781,70169,3,7,8,14,0,1
1,1,"22 2018-1\nName: split, dtype: object",70918,61075,11,2,11,8,1,0
2,2,"34 2018-1\nName: split, dtype: object",55810,50088,8,0,10,0,1,0
3,3,"46 2018-1\nName: split, dtype: object",63272,48185,11,0,12,6,1,0
4,4,"58 2018-1\nName: split, dtype: object",79741,88409,2,11,8,15,0,1
...,...,...,...,...,...,...,...,...,...,...
5000,5000,"1054 2019-W\nName: split, dtype: object",52031,65659,2,10,4,12,0,1
5001,5001,"1066 2019-W\nName: split, dtype: object",58664,47176,9,1,12,6,1,0
5002,5002,"1078 2019-W\nName: split, dtype: object",62085,56087,7,2,22,13,1,0
5003,5003,"1090 2019-W\nName: split, dtype: object",60196,43580,9,0,13,2,1,0
5004,5004,"1102 2019-W\nName: split, dtype: object",46693,36552,9,2,18,4,1,0

In [62]:
recent_data = recent_data.drop(['split','Unnamed: 0'],axis=1)
recent_data.columns = ['goldblue', 'goldred', 'bTowers', 'rTowers', 'bKills', 'rKills',
       'bResult', 'rResult']
recent_data

      goldblue  goldred  bTowers  rTowers  bKills  rKills  bResult  rResult
0        64781    70169        3        7       8      14        0        1
1        70918    61075       11        2      11       8        1        0
2        55810    50088        8        0      10       0        1        0
3        63272    48185       11        0      12       6        1        0
4        79741    88409        2       11       8      15        0        1
...        ...      ...      ...      ...     ...     ...      ...      ...
5000     52031    65659        2       10       4      12        0        1
5001     58664    47176        9        1      12       6        1        0
5002     62085    56087        7        2      22      13        1        0
5003     60196    43580        9        0      13       2        1        0
5004     46693    36552        9        2      18       4        1        0

[5005 rows x 8 columns]

In [63]:
data = pd.concat([datas,recent_data],ignore_index=True)

In [64]:
data

       goldblue  goldred  bTowers  rTowers  bKills  rKills  bResult  rResult
0         76987    87390        5       10      13      22        0        1
1         38782    55713        2       10       7      17        0        1
2         65849    74982        4       11      16      16        0        1
3        113742    99071       10        6      18      12        1        0
4         62796    52319        9        2      14       6        1        0
...         ...      ...      ...      ...     ...     ...      ...      ...
10805     52031    65659        2       10       4      12        0        1
10806     58664    47176        9        1      12       6        1        0
10807     62085    56087        7        2      22      13        1        0
10808     60196    43580        9        0      13       2        1        0
10809     46693    36552        9        2      18       4        1        0

[10810 rows x 8 columns]

In [77]:
#normalization
final = pd.DataFrame(columns = ['gold','tower','kill','blue_result','red_result'])
for i in range(len(data)):
    temp = []
    temp.append((data.loc[[i]]['goldblue'].values[0]+1)/(data.loc[[i]]['goldblue'].values[0]+data.loc[[i]]['goldred'].values[0]+2))
    temp.append((data.loc[[i]]['bTowers'].values[0]+1)/(data.loc[[i]]['bTowers'].values[0]+data.loc[[i]]['rTowers'].values[0]+2))
    temp.append((data.loc[[i]]['bKills'].values[0]+1)/(data.loc[[i]]['bKills'].values[0]+data.loc[[i]]['rKills'].values[0]+2))
    temp.append(data.loc[[i]]['bResult'].values[0])
    temp.append(data.loc[[i]]['rResult'].values[0])
    
    final.loc[i] = temp

In [80]:
final

           gold     tower      kill  blue_result  red_result
0      0.468357  0.352941  0.378378          0.0         1.0
1      0.410415  0.214286  0.307692          0.0         1.0
2      0.467575  0.294118  0.500000          0.0         1.0
3      0.534469  0.611111  0.593750          1.0         0.0
4      0.545506  0.769231  0.681818          1.0         0.0
...         ...       ...       ...          ...         ...
10805  0.442103  0.214286  0.277778          0.0         1.0
10806  0.554270  0.833333  0.650000          1.0         0.0
10807  0.525378  0.727273  0.621622          1.0         0.0
10808  0.580056  0.909091  0.823529          1.0         0.0
10809  0.560909  0.769231  0.791667          1.0         0.0

[10810 rows x 5 columns]

In [81]:
final.to_csv("/home/ubuntu/gangmin/tsvt/video/win_loss_classifier/win_loss_variables.csv", mode='w')