# data

In [4]:
import pandas as pd
import numpy as np

In [5]:
import pickle
with open('/home/ubuntu/gangmin/tsvt/video/lolData/exp_data/gamedata.pickle',"rb") as dt:
    data = pickle.load(dt)

In [6]:
data

{'102844212430075086':           Time                 Timestamp  blue_gold  blue_towers  blue_barons  \
 0     11-13-18  2019-10-02T11:13:18.688Z       2500            0            0
 1     11-13-19  2019-10-02T11:13:19.709Z       2500            0            0
 2     11-13-20  2019-10-02T11:13:20.038Z       2500            0            0
 3     11-13-21  2019-10-02T11:13:21.057Z       2500            0            0
 4     11-13-22  2019-10-02T11:13:22.081Z       2500            0            0
 ...        ...                       ...        ...          ...          ...
 2243  11-51-17  2019-10-02T11:51:17.076Z      61767            3            0
 2244  11-51-18  2019-10-02T11:51:18.375Z      61864            3            0
 2245  11-51-19  2019-10-02T11:51:19.394Z      61875            3            0
 2246  11-51-20  2019-10-02T11:51:20.416Z      61885            3            0
 2247  11-51-21  2019-10-02T11:51:21.804Z      61900            3            0

       blue_totalKills  blue_dragons  red_gold  red_towers  red_barons  \
 0                   0             0      2500           0           0
 1                   0             0      2500           0           0
 2                   0             0      2500           0           0
 3                   0             0      2500           0           0
 4                   0             0      2500           0           0
 ...               ...           ...       ...         ...         ...
 2243                8             0     68519          11           2
 2244                8             0     68590          11           2
 2245                8             0     68600          11           2
 2246                8             0     68610          11           2
 2247                8             0     68625          11           2

       red_totalKills  red_dragons
 0                  0            0
 1                  0            0
 2                  0            0
 3                  0            0
 4                  0            0
 ...              ...          ...
 2243              16            4
 2244              16            4
 2245              16            4
 2246              16            4
 2247              16            4

 [2248 rows x 12 columns],
 '102844212430271695':           Time                 Timestamp  blue_gold  blue_towers  blue_barons  \
 0     12-20-25  2019-10-02T12:20:25.129Z       2500            0            0
 1     12-20-27  2019-10-02T12:20:27.011Z       2500            0            0
 2     12-20-28  2019-10-02T12:20:28.032Z       2500            0            0
 3     12-20-29  2019-10-02T12:20:29.056Z       2500            0            0
 4     12-20-30  2019-10-02T12:20:30.011Z       2500            0            0
 ...        ...                       ...        ...          ...          ...
 1566   12-54-8  2019-10-02T12:54:08.077Z      41176            1            0
 1567  12-54-10  2019-10-02T12:54:10.010Z      41196            1            0
 1568  12-54-11  2019-10-02T12:54:11.034Z      41207            1            0
 1569  12-54-12  2019-10-02T12:54:12.057Z      41217            1            0
 1570  12-54-13  2019-10-02T12:54:13.187Z      41227            1            0

       blue_totalKills  blue_dragons  red_gold  red_towers  red_barons  \
 0                   0             0      2500           0           0
 1                   0             0      2500           0           0
 2                   0             0      2500           0           0
 3                   0             0      2500           0           0
 4                   0             0      2500           0           0
 ...               ...           ...       ...         ...         ...
 1566                7             1     56568          10           1
 1567                7             1     56639          10           1
 1568                7             1     56649          10           1
 1569                7             1     56659          10           1
 1570                7             1     56670          10           1

       red_totalKills  red_dragons
 0                  0            0
 1                  0            0
 2                  0            0
 3                  0            0
 4                  0            0
 ...              ...          ...
 1566              22            2
 1567              22            2
 1568              22            2
 1569              22            2
 1570              22            2

 [1571 rows x 12 columns],
 '102844212429092040':           Time                 Timestamp  blue_gold  blue_towers  blue_barons  \
 0     13-20-18  2019-10-02T13:20:18.470Z       2500            0            0
 1     13-20-19  2019-10-02T13:20:19.494Z       2500            0            0
 2     13-20-20  2019-10-02T13:20:20.316Z       2500            0            0
 3     13-20-21  2019-10-02T13:20:21.045Z       2500            0            0
 4     13-20-22  2019-10-02T13:20:22.166Z       2500            0            0
 ...        ...                       ...        ...          ...          ...
 2215  13-57-49  2019-10-02T13:57:49.006Z      69029            9            1
 2216  13-57-50  2019-10-02T13:57:50.031Z      69039            9            1
 2217  13-57-51  2019-10-02T13:57:51.058Z      69049            9            1
 2218  13-57-52  2019-10-02T13:57:52.083Z      69059            9            1
 2219  13-57-53  2019-10-02T13:57:53.281Z      69069            9            1

       blue_totalKills  blue_dragons  red_gold  red_towers  red_barons  \
 0                   0             0      2500           0           0
 1                   0             0      2500           0           0
 2                   0             0      2500           0           0
 3                   0             0      2500           0           0
 4                   0             0      2500           0           0
 ...               ...           ...       ...         ...         ...
 2215               18             4     60284           2           0
 2216               18             4     60295           2           0
 2217               18             4     60306           2           0
 2218               18             4     60316           2           0
 2219               18             4     60326           2           0

       red_totalKills  red_dragons
 0                  0            0
 1                  0            0
 2                  0            0
 3                  0            0
 4                  0            0
 ...              ...          ...
 2215               8            0
 2216               8            0
 2217               8            0
 2218               8            0
 2219               8            0

 [2220 rows x 12 columns],
 '102844212430402768':           Time                 Timestamp  blue_gold  blue_towers  blue_barons  \
 0     14-23-58  2019-10-02T14:23:58.095Z       2500            0            0
 1     14-23-59  2019-10-02T14:23:59.120Z       2500            0            0
 2      14-24-0  2019-10-02T14:24:00.141Z       2500            0            0
 3      14-24-1  2019-10-02T14:24:01.067Z       2500            0            0
 4      14-24-2  2019-10-02T14:24:02.155Z       2500            0            0
 ...        ...                       ...        ...          ...          ...
 2333   15-3-22  2019-10-02T15:03:22.560Z      64414            3            0
 2334   15-3-23  2019-10-02T15:03:23.586Z      64424            3            0
 2335   15-3-24  2019-10-02T15:03:24.611Z      64434            3            0
 2336   15-3-25  2019-10-02T15:03:25.640Z      64450            3            0
 2337   15-3-26  2019-10-02T15:03:26.737Z      64460            3            0

       blue_totalKills  blue_dragons  red_gold  red_towers  red_barons  \
 0                   0             0      2500           0           0
 1                   0             0      2500           0           0
 2                   0             0      2500           0           0
 3                   0             0      2500           0           0
 4                   0             0      2500           0           0
 ...               ...           ...       ...         ...         ...
 2333               12             1     74929           9           1
 2334               12             1     74940           9           1
 2335               12             1     74950           9           1
 2336               12             1     74966           9           1
 2337               12             1     74977           9           1

       red_totalKills  red_dragons
 0                  0            0
 1                  0            0
 2                  0            0
 3                  0            0
 4                  0            0
 ...              ...          ...
 2333              16            4
 2334              16            4
 2335              16            4
 2336              16            4
 2337              16            4

 [2338 rows x 12 columns],
 '102844212430599377':           Time                 Timestamp  blue_gold  blue_towers  blue_barons  \
 0     15-28-36  2019-10-02T15:28:36.590Z       2500            0            0
 1     15-28-37  2019-10-02T15:28:37.611Z       2500            0            0
 2     15-28-38  2019-10-02T15:28:38.039Z       2500            0            0
 3     15-28-39  2019-10-02T15:28:39.029Z       2500            0            0
 4     15-28-40  2019-10-02T15:28:40.085Z       2500            0            0
 ...        ...                       ...        ...          ...          ...
 2297   16-7-32  2019-10-02T16:07:32.524Z      59969            1            1
 2298   16-7-33  2019-10-02T16:07:33.547Z      59979            1            1
 2299   16-7-34  2019-10-02T16:07:34.572Z      59989            1            1
 2300   16-7-35  2019-10-02T16:07:35.595Z      59999            1            1
 2301   16-7-36  2019-10-02T16:07:36.613Z      60015            1            1

       blue_totalKills  blue_dragons  red_gold  red_towers  red_barons  \
 0                   0             0      2500           0           0
 1                   0             0      2500           0           0
 2                   0             0      2500           0           0
 3                   0             0      2500           0           0
 4                   0             0      2500           0           0
 ...               ...           ...       ...         ...         ...
 2297                2             1     71930          10           1
 2298                2             1     71940          10           1
 2299                2             1     71951          10           1
 2300                2             1     71961          10           1
 2301                2             1     71976          10           1

       red_totalKills  red_dragons
 0                  0            0
 1                  0            0
 2                  0            0
 3                  0            0
 4                  0            0
 ...              ...          ...
 2297              10            5
 2298              10            5
 2299              10            5
 2300              10            5
 2301              10            5

 [2302 rows x 12 columns],
 '102844212429747404':           Time                 Timestamp  blue_gold  blue_towers  blue_barons  \
 0     16-31-13  2019-10-02T16:31:13.432Z       2500            0            0
 1     16-31-14  2019-10-02T16:31:14.455Z       2500            0            0
 2     16-31-15  2019-10-02T16:31:15.047Z       2500            0            0
 3     16-31-16  2019-10-02T16:31:16.004Z       2500            0            0
 4     16-31-17  2019-10-02T16:31:17.027Z       2500            0            0
 ...        ...                       ...        ...          ...          ...
 1774   17-1-18  2019-10-02T17:01:18.268Z      56862           11            1
 1775   17-1-19  2019-10-02T17:01:19.292Z      56872           11            1
 1776   17-1-20  2019-10-02T17:01:20.317Z      56882           11            1
 1777   17-1-21  2019-10-02T17:01:21.345Z      56892           11            1
 1778   17-1-22  2019-10-02T17:01:22.312Z      56903           11            1

       blue_totalKills  blue_dragons  red_gold  red_towers  red_barons  \
 0                   0             0      2500           0           0
 1                   0             0      2500           0           0
 2                   0             0      2500           0           0
 3                   0             0      2500           0           0
 4                   0             0      2500           0           0
 ...               ...           ...       ...         ...         ...
 1774               13             4     45315           0           0
 1775               13             4     45325           0           0
 1776               13             4     45335           0           0
 1777               13             4     45347           0           0
 1778               13             4     45357           0           0

       red_totalKills  red_dragons
 0                  0            0
 1                  0            0
 2                  0            0
 3                  0            0
 4                  0            0
 ...              ...          ...
 1774               5            0
 1775               5            0
 1776               5            0
 1777               5            0
 1778               5            0

 [1779 rows x 12 columns],
 '102844224148503678':           Time                 Timestamp  blue_gold  blue_towers  blue_barons  \
 0     11-11-38  2019-10-03T11:11:38.059Z       2500            0            0
 1     11-11-39  2019-10-03T11:11:39.840Z       2500            0            0
 2     11-11-40  2019-10-03T11:11:40.072Z       2500            0            0
 3     11-11-41  2019-10-03T11:11:41.026Z       2500            0            0
 4     11-11-42  2019-10-03T11:11:42.082Z       2500            0            0
 ...        ...                       ...        ...          ...          ...
 2045  11-46-11  2019-10-03T11:46:11.465Z      56069            2            0
 2046  11-46-12  2019-10-03T11:46:12.486Z      56079            2            0
 2047  11-46-13  2019-10-03T11:46:13.508Z      56089            2            0
 2048  11-46-14  2019-10-03T11:46:14.530Z      56100            2            0
 2049  11-46-15  2019-10-03T11:46:15.990Z      56116            2            0

       blue_totalKills  blue_dragons  red_gold  red_towers  red_barons  \
 0                   0             0      2500           0           0
 1                   0             0      2500           0           0
 2                   0             0      2500           0           0
 3                   0             0      2500           0           0
 4                   0             0      2500           0           0
 ...               ...           ...       ...         ...         ...
 2045               12             1     68544           9           1
 2046               12             1     68555           9           1
 2047               12             1     68565           9           1
 2048               12             1     68575           9           1
 2049               12             1     68591           9           1

       red_totalKills  red_dragons
 0                  0            0
 1                  0            0
 2                  0            0
 3                  0            0
 4                  0            0
 ...              ...          ...
 2045              17            4
 2046              17            4
 2047              17            4
 2048              17            4
 2049              17            4

 [2050 rows x 12 columns],
 '102844212428895431':           Time                 Timestamp  blue_gold  blue_towers  blue_barons  \
 0     12-15-10  2019-10-03T12:15:10.018Z       2500            0            0
 1     12-15-11  2019-10-03T12:15:11.904Z       2500            0            0
 2     12-15-12  2019-10-03T12:15:12.660Z       2500            0            0
 3     12-15-13  2019-10-03T12:15:13.023Z       2500            0            0
 4     12-15-14  2019-10-03T12:15:14.147Z       2500            0            0
 ...        ...                       ...        ...          ...          ...
 2018  12-49-20  2019-10-03T12:49:20.202Z      56081            4            0
 2019  12-49-21  2019-10-03T12:49:21.231Z      56091            4            0
 2020  12-49-22  2019-10-03T12:49:22.257Z      56102            4            0
 2021  12-49-23  2019-10-03T12:49:23.278Z      56112            4            0
 2022  12-49-24  2019-10-03T12:49:24.907Z      56132            4            0

       blue_totalKills  blue_dragons  red_gold  red_towers  red_barons  \
 0                   0             0      2500           0           0
 1                   0             0      2500           0           0
 2                   0             0      2500           0           0
 3                   0             0      2500           0           0
 4                   0             0      2500           0           0
 ...               ...           ...       ...         ...         ...
 2018                5             4     62159           8           1
 2019                5             4     62219           8           1
 2020                5             4     62230           8           1
 2021                5             4     62240           8           1
 2022                5             4     62260           8           1

       red_totalKills  red_dragons
 0                  0            0
 1                  0            0
 2                  0            0
 3                  0            0
 4                  0            0
 ...              ...          ...
 2018               7            0
 2019               7            0
 2020               7            0
 2021               7            0
 2022               7            0

 [2023 rows x 12 columns],
 '102844224148896895':           Time                 Timestamp  blue_gold  blue_towers  blue_barons  \
 0     13-15-48  2019-10-03T13:15:48.818Z       2500            0            0
 1     13-15-49  2019-10-03T13:15:49.510Z       2500            0            0
 2     13-15-50  2019-10-03T13:15:50.695Z       2500            0            0
 3     13-15-51  2019-10-03T13:15:51.025Z       2500            0            0
 4     13-15-52  2019-10-03T13:15:52.048Z       2500            0            0
 ...        ...                       ...        ...          ...          ...
 1770  13-45-52  2019-10-03T13:45:52.780Z      63791           11            1
 1771  13-45-53  2019-10-03T13:45:53.808Z      63801           11            1
 1772  13-45-54  2019-10-03T13:45:54.834Z      63813           11            1
 1773  13-45-55  2019-10-03T13:45:55.861Z      63828           11            1
 1774  13-45-56  2019-10-03T13:45:56.496Z      63833           11            1

       blue_totalKills  blue_dragons  red_gold  red_towers  red_barons  \
 0                   0             0      2500           0           0
 1                   0             0      2500           0           0
 2                   0             0      2500           0           0
 3                   0             0      2500           0           0
 4                   0             0      2500           0           0
 ...               ...           ...       ...         ...         ...
 1770               22             3     48196           0           0
 1771               22             3     48207           0           0
 1772               22             3     48217           0           0
 1773               22             3     48232           0           0

In [7]:
for game in data.keys():
    data[game]['Time'] = list(map(lambda x:int(x.split('-')[0])*3600+int(x.split('-')[1])*60+int(x.split('-')[2]),data[game]['Time']))

In [8]:
data

{'102844212430075086':        Time                 Timestamp  blue_gold  blue_towers  blue_barons  \
 0     40398  2019-10-02T11:13:18.688Z       2500            0            0
 1     40399  2019-10-02T11:13:19.709Z       2500            0            0
 2     40400  2019-10-02T11:13:20.038Z       2500            0            0
 3     40401  2019-10-02T11:13:21.057Z       2500            0            0
 4     40402  2019-10-02T11:13:22.081Z       2500            0            0
 ...     ...                       ...        ...          ...          ...
 2243  42677  2019-10-02T11:51:17.076Z      61767            3            0
 2244  42678  2019-10-02T11:51:18.375Z      61864            3            0
 2245  42679  2019-10-02T11:51:19.394Z      61875            3            0
 2246  42680  2019-10-02T11:51:20.416Z      61885            3            0
 2247  42681  2019-10-02T11:51:21.804Z      61900            3            0

       blue_totalKills  blue_dragons  red_gold  red_towers  red_barons  \
 0                   0             0      2500           0           0
 1                   0             0      2500           0           0
 2                   0             0      2500           0           0
 3                   0             0      2500           0           0
 4                   0             0      2500           0           0
 ...               ...           ...       ...         ...         ...
 2243                8             0     68519          11           2
 2244                8             0     68590          11           2
 2245                8             0     68600          11           2
 2246                8             0     68610          11           2
 2247                8             0     68625          11           2

       red_totalKills  red_dragons
 0                  0            0
 1                  0            0
 2                  0            0
 3                  0            0
 4                  0            0
 ...              ...          ...
 2243              16            4
 2244              16            4
 2245              16            4
 2246              16            4
 2247              16            4

 [2248 rows x 12 columns],
 '102844212430271695':        Time                 Timestamp  blue_gold  blue_towers  blue_barons  \
 0     44425  2019-10-02T12:20:25.129Z       2500            0            0
 1     44427  2019-10-02T12:20:27.011Z       2500            0            0
 2     44428  2019-10-02T12:20:28.032Z       2500            0            0
 3     44429  2019-10-02T12:20:29.056Z       2500            0            0
 4     44430  2019-10-02T12:20:30.011Z       2500            0            0
 ...     ...                       ...        ...          ...          ...
 1566  46448  2019-10-02T12:54:08.077Z      41176            1            0
 1567  46450  2019-10-02T12:54:10.010Z      41196            1            0
 1568  46451  2019-10-02T12:54:11.034Z      41207            1            0
 1569  46452  2019-10-02T12:54:12.057Z      41217            1            0
 1570  46453  2019-10-02T12:54:13.187Z      41227            1            0

       blue_totalKills  blue_dragons  red_gold  red_towers  red_barons  \
 0                   0             0      2500           0           0
 1                   0             0      2500           0           0
 2                   0             0      2500           0           0
 3                   0             0      2500           0           0
 4                   0             0      2500           0           0
 ...               ...           ...       ...         ...         ...
 1566                7             1     56568          10           1
 1567                7             1     56639          10           1
 1568                7             1     56649          10           1
 1569                7             1     56659          10           1
 1570                7             1     56670          10           1

       red_totalKills  red_dragons
 0                  0            0
 1                  0            0
 2                  0            0
 3                  0            0
 4                  0            0
 ...              ...          ...
 1566              22            2
 1567              22            2
 1568              22            2
 1569              22            2
 1570              22            2

 [1571 rows x 12 columns],
 '102844212429092040':        Time                 Timestamp  blue_gold  blue_towers  blue_barons  \
 0     48018  2019-10-02T13:20:18.470Z       2500            0            0
 1     48019  2019-10-02T13:20:19.494Z       2500            0            0
 2     48020  2019-10-02T13:20:20.316Z       2500            0            0
 3     48021  2019-10-02T13:20:21.045Z       2500            0            0
 4     48022  2019-10-02T13:20:22.166Z       2500            0            0
 ...     ...                       ...        ...          ...          ...
 2215  50269  2019-10-02T13:57:49.006Z      69029            9            1
 2216  50270  2019-10-02T13:57:50.031Z      69039            9            1
 2217  50271  2019-10-02T13:57:51.058Z      69049            9            1
 2218  50272  2019-10-02T13:57:52.083Z      69059            9            1
 2219  50273  2019-10-02T13:57:53.281Z      69069            9            1

       blue_totalKills  blue_dragons  red_gold  red_towers  red_barons  \
 0                   0             0      2500           0           0
 1                   0             0      2500           0           0
 2                   0             0      2500           0           0
 3                   0             0      2500           0           0
 4                   0             0      2500           0           0
 ...               ...           ...       ...         ...         ...
 2215               18             4     60284           2           0
 2216               18             4     60295           2           0
 2217               18             4     60306           2           0
 2218               18             4     60316           2           0
 2219               18             4     60326           2           0

       red_totalKills  red_dragons
 0                  0            0
 1                  0            0
 2                  0            0
 3                  0            0
 4                  0            0
 ...              ...          ...
 2215               8            0
 2216               8            0
 2217               8            0
 2218               8            0
 2219               8            0

 [2220 rows x 12 columns],
 '102844212430402768':        Time                 Timestamp  blue_gold  blue_towers  blue_barons  \
 0     51838  2019-10-02T14:23:58.095Z       2500            0            0
 1     51839  2019-10-02T14:23:59.120Z       2500            0            0
 2     51840  2019-10-02T14:24:00.141Z       2500            0            0
 3     51841  2019-10-02T14:24:01.067Z       2500            0            0
 4     51842  2019-10-02T14:24:02.155Z       2500            0            0
 ...     ...                       ...        ...          ...          ...
 2333  54202  2019-10-02T15:03:22.560Z      64414            3            0
 2334  54203  2019-10-02T15:03:23.586Z      64424            3            0
 2335  54204  2019-10-02T15:03:24.611Z      64434            3            0
 2336  54205  2019-10-02T15:03:25.640Z      64450            3            0
 2337  54206  2019-10-02T15:03:26.737Z      64460            3            0

       blue_totalKills  blue_dragons  red_gold  red_towers  red_barons  \
 0                   0             0      2500           0           0
 1                   0             0      2500           0           0
 2                   0             0      2500           0           0
 3                   0             0      2500           0           0
 4                   0             0      2500           0           0
 ...               ...           ...       ...         ...         ...
 2333               12             1     74929           9           1
 2334               12             1     74940           9           1
 2335               12             1     74950           9           1
 2336               12             1     74966           9           1
 2337               12             1     74977           9           1

       red_totalKills  red_dragons
 0                  0            0
 1                  0            0
 2                  0            0
 3                  0            0
 4                  0            0
 ...              ...          ...
 2333              16            4
 2334              16            4
 2335              16            4
 2336              16            4
 2337              16            4

 [2338 rows x 12 columns],
 '102844212430599377':        Time                 Timestamp  blue_gold  blue_towers  blue_barons  \
 0     55716  2019-10-02T15:28:36.590Z       2500            0            0
 1     55717  2019-10-02T15:28:37.611Z       2500            0            0
 2     55718  2019-10-02T15:28:38.039Z       2500            0            0
 3     55719  2019-10-02T15:28:39.029Z       2500            0            0
 4     55720  2019-10-02T15:28:40.085Z       2500            0            0
 ...     ...                       ...        ...          ...          ...
 2297  58052  2019-10-02T16:07:32.524Z      59969            1            1
 2298  58053  2019-10-02T16:07:33.547Z      59979            1            1
 2299  58054  2019-10-02T16:07:34.572Z      59989            1            1
 2300  58055  2019-10-02T16:07:35.595Z      59999            1            1
 2301  58056  2019-10-02T16:07:36.613Z      60015            1            1

       blue_totalKills  blue_dragons  red_gold  red_towers  red_barons  \
 0                   0             0      2500           0           0
 1                   0             0      2500           0           0
 2                   0             0      2500           0           0
 3                   0             0      2500           0           0
 4                   0             0      2500           0           0
 ...               ...           ...       ...         ...         ...
 2297                2             1     71930          10           1
 2298                2             1     71940          10           1
 2299                2             1     71951          10           1
 2300                2             1     71961          10           1
 2301                2             1     71976          10           1

       red_totalKills  red_dragons
 0                  0            0
 1                  0            0
 2                  0            0
 3                  0            0
 4                  0            0
 ...              ...          ...
 2297              10            5
 2298              10            5
 2299              10            5
 2300              10            5
 2301              10            5

 [2302 rows x 12 columns],
 '102844212429747404':        Time                 Timestamp  blue_gold  blue_towers  blue_barons  \
 0     59473  2019-10-02T16:31:13.432Z       2500            0            0
 1     59474  2019-10-02T16:31:14.455Z       2500            0            0
 2     59475  2019-10-02T16:31:15.047Z       2500            0            0
 3     59476  2019-10-02T16:31:16.004Z       2500            0            0
 4     59477  2019-10-02T16:31:17.027Z       2500            0            0
 ...     ...                       ...        ...          ...          ...
 1774  61278  2019-10-02T17:01:18.268Z      56862           11            1
 1775  61279  2019-10-02T17:01:19.292Z      56872           11            1
 1776  61280  2019-10-02T17:01:20.317Z      56882           11            1
 1777  61281  2019-10-02T17:01:21.345Z      56892           11            1
 1778  61282  2019-10-02T17:01:22.312Z      56903           11            1

       blue_totalKills  blue_dragons  red_gold  red_towers  red_barons  \
 0                   0             0      2500           0           0
 1                   0             0      2500           0           0
 2                   0             0      2500           0           0
 3                   0             0      2500           0           0
 4                   0             0      2500           0           0
 ...               ...           ...       ...         ...         ...
 1774               13             4     45315           0           0
 1775               13             4     45325           0           0
 1776               13             4     45335           0           0
 1777               13             4     45347           0           0
 1778               13             4     45357           0           0

       red_totalKills  red_dragons
 0                  0            0
 1                  0            0
 2                  0            0
 3                  0            0
 4                  0            0
 ...              ...          ...
 1774               5            0
 1775               5            0
 1776               5            0
 1777               5            0
 1778               5            0

 [1779 rows x 12 columns],
 '102844224148503678':        Time                 Timestamp  blue_gold  blue_towers  blue_barons  \
 0     40298  2019-10-03T11:11:38.059Z       2500            0            0
 1     40299  2019-10-03T11:11:39.840Z       2500            0            0
 2     40300  2019-10-03T11:11:40.072Z       2500            0            0
 3     40301  2019-10-03T11:11:41.026Z       2500            0            0
 4     40302  2019-10-03T11:11:42.082Z       2500            0            0
 ...     ...                       ...        ...          ...          ...
 2045  42371  2019-10-03T11:46:11.465Z      56069            2            0
 2046  42372  2019-10-03T11:46:12.486Z      56079            2            0
 2047  42373  2019-10-03T11:46:13.508Z      56089            2            0
 2048  42374  2019-10-03T11:46:14.530Z      56100            2            0
 2049  42375  2019-10-03T11:46:15.990Z      56116            2            0

       blue_totalKills  blue_dragons  red_gold  red_towers  red_barons  \
 0                   0             0      2500           0           0
 1                   0             0      2500           0           0
 2                   0             0      2500           0           0
 3                   0             0      2500           0           0
 4                   0             0      2500           0           0
 ...               ...           ...       ...         ...         ...
 2045               12             1     68544           9           1
 2046               12             1     68555           9           1
 2047               12             1     68565           9           1
 2048               12             1     68575           9           1
 2049               12             1     68591           9           1

       red_totalKills  red_dragons
 0                  0            0
 1                  0            0
 2                  0            0
 3                  0            0
 4                  0            0
 ...              ...          ...
 2045              17            4
 2046              17            4
 2047              17            4
 2048              17            4
 2049              17            4

 [2050 rows x 12 columns],
 '102844212428895431':        Time                 Timestamp  blue_gold  blue_towers  blue_barons  \
 0     44110  2019-10-03T12:15:10.018Z       2500            0            0
 1     44111  2019-10-03T12:15:11.904Z       2500            0            0
 2     44112  2019-10-03T12:15:12.660Z       2500            0            0
 3     44113  2019-10-03T12:15:13.023Z       2500            0            0
 4     44114  2019-10-03T12:15:14.147Z       2500            0            0
 ...     ...                       ...        ...          ...          ...
 2018  46160  2019-10-03T12:49:20.202Z      56081            4            0
 2019  46161  2019-10-03T12:49:21.231Z      56091            4            0
 2020  46162  2019-10-03T12:49:22.257Z      56102            4            0
 2021  46163  2019-10-03T12:49:23.278Z      56112            4            0
 2022  46164  2019-10-03T12:49:24.907Z      56132            4            0

       blue_totalKills  blue_dragons  red_gold  red_towers  red_barons  \
 0                   0             0      2500           0           0
 1                   0             0      2500           0           0
 2                   0             0      2500           0           0
 3                   0             0      2500           0           0
 4                   0             0      2500           0           0
 ...               ...           ...       ...         ...         ...
 2018                5             4     62159           8           1
 2019                5             4     62219           8           1
 2020                5             4     62230           8           1
 2021                5             4     62240           8           1
 2022                5             4     62260           8           1

       red_totalKills  red_dragons
 0                  0            0
 1                  0            0
 2                  0            0
 3                  0            0
 4                  0            0
 ...              ...          ...
 2018               7            0
 2019               7            0
 2020               7            0
 2021               7            0
 2022               7            0

 [2023 rows x 12 columns],
 '102844224148896895':        Time                 Timestamp  blue_gold  blue_towers  blue_barons  \
 0     47748  2019-10-03T13:15:48.818Z       2500            0            0
 1     47749  2019-10-03T13:15:49.510Z       2500            0            0
 2     47750  2019-10-03T13:15:50.695Z       2500            0            0
 3     47751  2019-10-03T13:15:51.025Z       2500            0            0
 4     47752  2019-10-03T13:15:52.048Z       2500            0            0
 ...     ...                       ...        ...          ...          ...
 1770  49552  2019-10-03T13:45:52.780Z      63791           11            1
 1771  49553  2019-10-03T13:45:53.808Z      63801           11            1
 1772  49554  2019-10-03T13:45:54.834Z      63813           11            1
 1773  49555  2019-10-03T13:45:55.861Z      63828           11            1
 1774  49556  2019-10-03T13:45:56.496Z      63833           11            1

       blue_totalKills  blue_dragons  red_gold  red_towers  red_barons  \
 0                   0             0      2500           0           0
 1                   0             0      2500           0           0
 2                   0             0      2500           0           0
 3                   0             0      2500           0           0
 4                   0             0      2500           0           0
 ...               ...           ...       ...         ...         ...
 1770               22             3     48196           0           0
 1771               22             3     48207           0           0
 1772               22             3     48217           0           0
 1773               22             3     48232           0           0
 1774               22             3     48237           0           0

       red_totalKills  red_dragons
 0                  0            0
 1                  0            0
 2                  0            0
 3                  0            0
 4                  0            0
 ...              ...          ...

In [9]:
for game in data.keys():
    init = data[game]['Time'][0]
    data[game]['Time'] = list(map(lambda x:x-init,data[game]['Time']))

In [10]:
data

{'102844212430075086':       Time                 Timestamp  blue_gold  blue_towers  blue_barons  \
 0        0  2019-10-02T11:13:18.688Z       2500            0            0
 1        1  2019-10-02T11:13:19.709Z       2500            0            0
 2        2  2019-10-02T11:13:20.038Z       2500            0            0
 3        3  2019-10-02T11:13:21.057Z       2500            0            0
 4        4  2019-10-02T11:13:22.081Z       2500            0            0
 ...    ...                       ...        ...          ...          ...
 2243  2279  2019-10-02T11:51:17.076Z      61767            3            0
 2244  2280  2019-10-02T11:51:18.375Z      61864            3            0
 2245  2281  2019-10-02T11:51:19.394Z      61875            3            0
 2246  2282  2019-10-02T11:51:20.416Z      61885            3            0
 2247  2283  2019-10-02T11:51:21.804Z      61900            3            0

       blue_totalKills  blue_dragons  red_gold  red_towers  red_barons  \
 0                   0             0      2500           0           0
 1                   0             0      2500           0           0
 2                   0             0      2500           0           0
 3                   0             0      2500           0           0
 4                   0             0      2500           0           0
 ...               ...           ...       ...         ...         ...
 2243                8             0     68519          11           2
 2244                8             0     68590          11           2
 2245                8             0     68600          11           2
 2246                8             0     68610          11           2
 2247                8             0     68625          11           2

       red_totalKills  red_dragons
 0                  0            0
 1                  0            0
 2                  0            0
 3                  0            0
 4                  0            0
 ...              ...          ...
 2243              16            4
 2244              16            4
 2245              16            4
 2246              16            4
 2247              16            4

 [2248 rows x 12 columns],
 '102844212430271695':       Time                 Timestamp  blue_gold  blue_towers  blue_barons  \
 0        0  2019-10-02T12:20:25.129Z       2500            0            0
 1        2  2019-10-02T12:20:27.011Z       2500            0            0
 2        3  2019-10-02T12:20:28.032Z       2500            0            0
 3        4  2019-10-02T12:20:29.056Z       2500            0            0
 4        5  2019-10-02T12:20:30.011Z       2500            0            0
 ...    ...                       ...        ...          ...          ...
 1566  2023  2019-10-02T12:54:08.077Z      41176            1            0
 1567  2025  2019-10-02T12:54:10.010Z      41196            1            0
 1568  2026  2019-10-02T12:54:11.034Z      41207            1            0
 1569  2027  2019-10-02T12:54:12.057Z      41217            1            0
 1570  2028  2019-10-02T12:54:13.187Z      41227            1            0

       blue_totalKills  blue_dragons  red_gold  red_towers  red_barons  \
 0                   0             0      2500           0           0
 1                   0             0      2500           0           0
 2                   0             0      2500           0           0
 3                   0             0      2500           0           0
 4                   0             0      2500           0           0
 ...               ...           ...       ...         ...         ...
 1566                7             1     56568          10           1
 1567                7             1     56639          10           1
 1568                7             1     56649          10           1
 1569                7             1     56659          10           1
 1570                7             1     56670          10           1

       red_totalKills  red_dragons
 0                  0            0
 1                  0            0
 2                  0            0
 3                  0            0
 4                  0            0
 ...              ...          ...
 1566              22            2
 1567              22            2
 1568              22            2
 1569              22            2
 1570              22            2

 [1571 rows x 12 columns],
 '102844212429092040':       Time                 Timestamp  blue_gold  blue_towers  blue_barons  \
 0        0  2019-10-02T13:20:18.470Z       2500            0            0
 1        1  2019-10-02T13:20:19.494Z       2500            0            0
 2        2  2019-10-02T13:20:20.316Z       2500            0            0
 3        3  2019-10-02T13:20:21.045Z       2500            0            0
 4        4  2019-10-02T13:20:22.166Z       2500            0            0
 ...    ...                       ...        ...          ...          ...
 2215  2251  2019-10-02T13:57:49.006Z      69029            9            1
 2216  2252  2019-10-02T13:57:50.031Z      69039            9            1
 2217  2253  2019-10-02T13:57:51.058Z      69049            9            1
 2218  2254  2019-10-02T13:57:52.083Z      69059            9            1
 2219  2255  2019-10-02T13:57:53.281Z      69069            9            1

       blue_totalKills  blue_dragons  red_gold  red_towers  red_barons  \
 0                   0             0      2500           0           0
 1                   0             0      2500           0           0
 2                   0             0      2500           0           0
 3                   0             0      2500           0           0
 4                   0             0      2500           0           0
 ...               ...           ...       ...         ...         ...
 2215               18             4     60284           2           0
 2216               18             4     60295           2           0
 2217               18             4     60306           2           0
 2218               18             4     60316           2           0
 2219               18             4     60326           2           0

       red_totalKills  red_dragons
 0                  0            0
 1                  0            0
 2                  0            0
 3                  0            0
 4                  0            0
 ...              ...          ...
 2215               8            0
 2216               8            0
 2217               8            0
 2218               8            0
 2219               8            0

 [2220 rows x 12 columns],
 '102844212430402768':       Time                 Timestamp  blue_gold  blue_towers  blue_barons  \
 0        0  2019-10-02T14:23:58.095Z       2500            0            0
 1        1  2019-10-02T14:23:59.120Z       2500            0            0
 2        2  2019-10-02T14:24:00.141Z       2500            0            0
 3        3  2019-10-02T14:24:01.067Z       2500            0            0
 4        4  2019-10-02T14:24:02.155Z       2500            0            0
 ...    ...                       ...        ...          ...          ...
 2333  2364  2019-10-02T15:03:22.560Z      64414            3            0
 2334  2365  2019-10-02T15:03:23.586Z      64424            3            0
 2335  2366  2019-10-02T15:03:24.611Z      64434            3            0
 2336  2367  2019-10-02T15:03:25.640Z      64450            3            0
 2337  2368  2019-10-02T15:03:26.737Z      64460            3            0

       blue_totalKills  blue_dragons  red_gold  red_towers  red_barons  \
 0                   0             0      2500           0           0
 1                   0             0      2500           0           0
 2                   0             0      2500           0           0
 3                   0             0      2500           0           0
 4                   0             0      2500           0           0
 ...               ...           ...       ...         ...         ...
 2333               12             1     74929           9           1
 2334               12             1     74940           9           1
 2335               12             1     74950           9           1
 2336               12             1     74966           9           1
 2337               12             1     74977           9           1

       red_totalKills  red_dragons
 0                  0            0
 1                  0            0
 2                  0            0
 3                  0            0
 4                  0            0
 ...              ...          ...
 2333              16            4
 2334              16            4
 2335              16            4
 2336              16            4
 2337              16            4

 [2338 rows x 12 columns],
 '102844212430599377':       Time                 Timestamp  blue_gold  blue_towers  blue_barons  \
 0        0  2019-10-02T15:28:36.590Z       2500            0            0
 1        1  2019-10-02T15:28:37.611Z       2500            0            0
 2        2  2019-10-02T15:28:38.039Z       2500            0            0
 3        3  2019-10-02T15:28:39.029Z       2500            0            0
 4        4  2019-10-02T15:28:40.085Z       2500            0            0
 ...    ...                       ...        ...          ...          ...
 2297  2336  2019-10-02T16:07:32.524Z      59969            1            1
 2298  2337  2019-10-02T16:07:33.547Z      59979            1            1
 2299  2338  2019-10-02T16:07:34.572Z      59989            1            1
 2300  2339  2019-10-02T16:07:35.595Z      59999            1            1
 2301  2340  2019-10-02T16:07:36.613Z      60015            1            1

       blue_totalKills  blue_dragons  red_gold  red_towers  red_barons  \
 0                   0             0      2500           0           0
 1                   0             0      2500           0           0
 2                   0             0      2500           0           0
 3                   0             0      2500           0           0
 4                   0             0      2500           0           0
 ...               ...           ...       ...         ...         ...
 2297                2             1     71930          10           1
 2298                2             1     71940          10           1
 2299                2             1     71951          10           1
 2300                2             1     71961          10           1
 2301                2             1     71976          10           1

       red_totalKills  red_dragons
 0                  0            0
 1                  0            0
 2                  0            0
 3                  0            0
 4                  0            0
 ...              ...          ...
 2297              10            5
 2298              10            5
 2299              10            5
 2300              10            5
 2301              10            5

 [2302 rows x 12 columns],
 '102844212429747404':       Time                 Timestamp  blue_gold  blue_towers  blue_barons  \
 0        0  2019-10-02T16:31:13.432Z       2500            0            0
 1        1  2019-10-02T16:31:14.455Z       2500            0            0
 2        2  2019-10-02T16:31:15.047Z       2500            0            0
 3        3  2019-10-02T16:31:16.004Z       2500            0            0
 4        4  2019-10-02T16:31:17.027Z       2500            0            0
 ...    ...                       ...        ...          ...          ...
 1774  1805  2019-10-02T17:01:18.268Z      56862           11            1
 1775  1806  2019-10-02T17:01:19.292Z      56872           11            1
 1776  1807  2019-10-02T17:01:20.317Z      56882           11            1
 1777  1808  2019-10-02T17:01:21.345Z      56892           11            1
 1778  1809  2019-10-02T17:01:22.312Z      56903           11            1

       blue_totalKills  blue_dragons  red_gold  red_towers  red_barons  \
 0                   0             0      2500           0           0
 1                   0             0      2500           0           0
 2                   0             0      2500           0           0
 3                   0             0      2500           0           0
 4                   0             0      2500           0           0
 ...               ...           ...       ...         ...         ...
 1774               13             4     45315           0           0
 1775               13             4     45325           0           0
 1776               13             4     45335           0           0
 1777               13             4     45347           0           0
 1778               13             4     45357           0           0

       red_totalKills  red_dragons
 0                  0            0
 1                  0            0
 2                  0            0
 3                  0            0
 4                  0            0
 ...              ...          ...
 1774               5            0
 1775               5            0
 1776               5            0
 1777               5            0
 1778               5            0

 [1779 rows x 12 columns],
 '102844224148503678':       Time                 Timestamp  blue_gold  blue_towers  blue_barons  \
 0        0  2019-10-03T11:11:38.059Z       2500            0            0
 1        1  2019-10-03T11:11:39.840Z       2500            0            0
 2        2  2019-10-03T11:11:40.072Z       2500            0            0
 3        3  2019-10-03T11:11:41.026Z       2500            0            0
 4        4  2019-10-03T11:11:42.082Z       2500            0            0
 ...    ...                       ...        ...          ...          ...
 2045  2073  2019-10-03T11:46:11.465Z      56069            2            0
 2046  2074  2019-10-03T11:46:12.486Z      56079            2            0
 2047  2075  2019-10-03T11:46:13.508Z      56089            2            0
 2048  2076  2019-10-03T11:46:14.530Z      56100            2            0
 2049  2077  2019-10-03T11:46:15.990Z      56116            2            0

       blue_totalKills  blue_dragons  red_gold  red_towers  red_barons  \
 0                   0             0      2500           0           0
 1                   0             0      2500           0           0
 2                   0             0      2500           0           0
 3                   0             0      2500           0           0
 4                   0             0      2500           0           0
 ...               ...           ...       ...         ...         ...
 2045               12             1     68544           9           1
 2046               12             1     68555           9           1
 2047               12             1     68565           9           1
 2048               12             1     68575           9           1
 2049               12             1     68591           9           1

       red_totalKills  red_dragons
 0                  0            0
 1                  0            0
 2                  0            0
 3                  0            0
 4                  0            0
 ...              ...          ...
 2045              17            4
 2046              17            4
 2047              17            4
 2048              17            4
 2049              17            4

 [2050 rows x 12 columns],
 '102844212428895431':       Time                 Timestamp  blue_gold  blue_towers  blue_barons  \
 0        0  2019-10-03T12:15:10.018Z       2500            0            0
 1        1  2019-10-03T12:15:11.904Z       2500            0            0
 2        2  2019-10-03T12:15:12.660Z       2500            0            0
 3        3  2019-10-03T12:15:13.023Z       2500            0            0
 4        4  2019-10-03T12:15:14.147Z       2500            0            0
 ...    ...                       ...        ...          ...          ...
 2018  2050  2019-10-03T12:49:20.202Z      56081            4            0
 2019  2051  2019-10-03T12:49:21.231Z      56091            4            0
 2020  2052  2019-10-03T12:49:22.257Z      56102            4            0
 2021  2053  2019-10-03T12:49:23.278Z      56112            4            0
 2022  2054  2019-10-03T12:49:24.907Z      56132            4            0

       blue_totalKills  blue_dragons  red_gold  red_towers  red_barons  \
 0                   0             0      2500           0           0
 1                   0             0      2500           0           0
 2                   0             0      2500           0           0
 3                   0             0      2500           0           0
 4                   0             0      2500           0           0
 ...               ...           ...       ...         ...         ...
 2018                5             4     62159           8           1
 2019                5             4     62219           8           1
 2020                5             4     62230           8           1
 2021                5             4     62240           8           1
 2022                5             4     62260           8           1

       red_totalKills  red_dragons
 0                  0            0
 1                  0            0
 2                  0            0
 3                  0            0
 4                  0            0
 ...              ...          ...
 2018               7            0
 2019               7            0
 2020               7            0
 2021               7            0
 2022               7            0

 [2023 rows x 12 columns],
 '102844224148896895':       Time                 Timestamp  blue_gold  blue_towers  blue_barons  \
 0        0  2019-10-03T13:15:48.818Z       2500            0            0
 1        1  2019-10-03T13:15:49.510Z       2500            0            0
 2        2  2019-10-03T13:15:50.695Z       2500            0            0
 3        3  2019-10-03T13:15:51.025Z       2500            0            0
 4        4  2019-10-03T13:15:52.048Z       2500            0            0
 ...    ...                       ...        ...          ...          ...
 1770  1804  2019-10-03T13:45:52.780Z      63791           11            1
 1771  1805  2019-10-03T13:45:53.808Z      63801           11            1
 1772  1806  2019-10-03T13:45:54.834Z      63813           11            1
 1773  1807  2019-10-03T13:45:55.861Z      63828           11            1
 1774  1808  2019-10-03T13:45:56.496Z      63833           11            1

       blue_totalKills  blue_dragons  red_gold  red_towers  red_barons  \
 0                   0             0      2500           0           0
 1                   0             0      2500           0           0
 2                   0             0      2500           0           0
 3                   0             0      2500           0           0
 4                   0             0      2500           0           0
 ...               ...           ...       ...         ...         ...
 1770               22             3     48196           0           0
 1771               22             3     48207           0           0
 1772               22             3     48217           0           0
 1773               22             3     48232           0           0
 1774               22             3     48237           0           0

       red_totalKills  red_dragons
 0                  0            0
 1                  0            0
 2                  0            0
 3                  0            0
 4                  0            0
 ...              ...          ...
 1770              11            1
 1771              11            1
 1772              11            1

In [11]:
for game in data.keys():
    temp_data= pd.DataFrame(columns = data[game].columns)
    time = 0
    index = 0
    last = data[game]['Time'].values[-1]
    while(time<last):
        temp = data[game].iloc[[index]]
        if temp['Time'].values[0] == time:
            temp_data = pd.concat([temp_data,temp],ignore_index = True)
            index+=1
        else :
            temp['Time'] = time
            temp_data = pd.concat([temp_data,temp],ignore_index = True)
        time+=1
    data[game] = temp_data

/home/ubuntu/.local/lib/python3.6/site-packages/ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if sys.path[0] == '':

In [12]:
data

{'102844212430075086':       Time                 Timestamp blue_gold blue_towers blue_barons  \
 0        0  2019-10-02T11:13:18.688Z      2500           0           0
 1        1  2019-10-02T11:13:19.709Z      2500           0           0
 2        2  2019-10-02T11:13:20.038Z      2500           0           0
 3        3  2019-10-02T11:13:21.057Z      2500           0           0
 4        4  2019-10-02T11:13:22.081Z      2500           0           0
 ...    ...                       ...       ...         ...         ...
 2278  2278  2019-10-02T11:51:16.318Z     61767           3           0
 2279  2279  2019-10-02T11:51:17.076Z     61767           3           0
 2280  2280  2019-10-02T11:51:18.375Z     61864           3           0
 2281  2281  2019-10-02T11:51:19.394Z     61875           3           0
 2282  2282  2019-10-02T11:51:20.416Z     61885           3           0

      blue_totalKills blue_dragons red_gold red_towers red_barons  \
 0                  0            0     2500          0          0
 1                  0            0     2500          0          0
 2                  0            0     2500          0          0
 3                  0            0     2500          0          0
 4                  0            0     2500          0          0
 ...              ...          ...      ...        ...        ...
 2278               8            0    68519         11          2
 2279               8            0    68519         11          2
 2280               8            0    68590         11          2
 2281               8            0    68600         11          2
 2282               8            0    68610         11          2

      red_totalKills red_dragons
 0                 0           0
 1                 0           0
 2                 0           0
 3                 0           0
 4                 0           0
 ...             ...         ...
 2278             16           4
 2279             16           4
 2280             16           4
 2281             16           4
 2282             16           4

 [2283 rows x 12 columns],
 '102844212430271695':       Time                 Timestamp blue_gold blue_towers blue_barons  \
 0        0  2019-10-02T12:20:25.129Z      2500           0           0
 1        1  2019-10-02T12:20:27.011Z      2500           0           0
 2        2  2019-10-02T12:20:27.011Z      2500           0           0
 3        3  2019-10-02T12:20:28.032Z      2500           0           0
 4        4  2019-10-02T12:20:29.056Z      2500           0           0
 ...    ...                       ...       ...         ...         ...
 2023  2023  2019-10-02T12:54:08.077Z     41176           1           0
 2024  2024  2019-10-02T12:54:10.010Z     41196           1           0
 2025  2025  2019-10-02T12:54:10.010Z     41196           1           0
 2026  2026  2019-10-02T12:54:11.034Z     41207           1           0
 2027  2027  2019-10-02T12:54:12.057Z     41217           1           0

      blue_totalKills blue_dragons red_gold red_towers red_barons  \
 0                  0            0     2500          0          0
 1                  0            0     2500          0          0
 2                  0            0     2500          0          0
 3                  0            0     2500          0          0
 4                  0            0     2500          0          0
 ...              ...          ...      ...        ...        ...
 2023               7            1    56568         10          1
 2024               7            1    56639         10          1
 2025               7            1    56639         10          1
 2026               7            1    56649         10          1
 2027               7            1    56659         10          1

      red_totalKills red_dragons
 0                 0           0
 1                 0           0
 2                 0           0
 3                 0           0
 4                 0           0
 ...             ...         ...
 2023             22           2
 2024             22           2
 2025             22           2
 2026             22           2
 2027             22           2

 [2028 rows x 12 columns],
 '102844212429092040':       Time                 Timestamp blue_gold blue_towers blue_barons  \
 0        0  2019-10-02T13:20:18.470Z      2500           0           0
 1        1  2019-10-02T13:20:19.494Z      2500           0           0
 2        2  2019-10-02T13:20:20.316Z      2500           0           0
 3        3  2019-10-02T13:20:21.045Z      2500           0           0
 4        4  2019-10-02T13:20:22.166Z      2500           0           0
 ...    ...                       ...       ...         ...         ...
 2250  2250  2019-10-02T13:57:49.006Z     69029           9           1
 2251  2251  2019-10-02T13:57:49.006Z     69029           9           1
 2252  2252  2019-10-02T13:57:50.031Z     69039           9           1
 2253  2253  2019-10-02T13:57:51.058Z     69049           9           1
 2254  2254  2019-10-02T13:57:52.083Z     69059           9           1

      blue_totalKills blue_dragons red_gold red_towers red_barons  \
 0                  0            0     2500          0          0
 1                  0            0     2500          0          0
 2                  0            0     2500          0          0
 3                  0            0     2500          0          0
 4                  0            0     2500          0          0
 ...              ...          ...      ...        ...        ...
 2250              18            4    60284          2          0
 2251              18            4    60284          2          0
 2252              18            4    60295          2          0
 2253              18            4    60306          2          0
 2254              18            4    60316          2          0

      red_totalKills red_dragons
 0                 0           0
 1                 0           0
 2                 0           0
 3                 0           0
 4                 0           0
 ...             ...         ...
 2250              8           0
 2251              8           0
 2252              8           0
 2253              8           0
 2254              8           0

 [2255 rows x 12 columns],
 '102844212430402768':       Time                 Timestamp blue_gold blue_towers blue_barons  \
 0        0  2019-10-02T14:23:58.095Z      2500           0           0
 1        1  2019-10-02T14:23:59.120Z      2500           0           0
 2        2  2019-10-02T14:24:00.141Z      2500           0           0
 3        3  2019-10-02T14:24:01.067Z      2500           0           0
 4        4  2019-10-02T14:24:02.155Z      2500           0           0
 ...    ...                       ...       ...         ...         ...
 2363  2363  2019-10-02T15:03:21.546Z     64403           3           0
 2364  2364  2019-10-02T15:03:22.560Z     64414           3           0
 2365  2365  2019-10-02T15:03:23.586Z     64424           3           0
 2366  2366  2019-10-02T15:03:24.611Z     64434           3           0
 2367  2367  2019-10-02T15:03:25.640Z     64450           3           0

      blue_totalKills blue_dragons red_gold red_towers red_barons  \
 0                  0            0     2500          0          0
 1                  0            0     2500          0          0
 2                  0            0     2500          0          0
 3                  0            0     2500          0          0
 4                  0            0     2500          0          0
 ...              ...          ...      ...        ...        ...
 2363              12            1    74869          9          1
 2364              12            1    74929          9          1
 2365              12            1    74940          9          1
 2366              12            1    74950          9          1
 2367              12            1    74966          9          1

      red_totalKills red_dragons
 0                 0           0
 1                 0           0
 2                 0           0
 3                 0           0
 4                 0           0
 ...             ...         ...
 2363             16           4
 2364             16           4
 2365             16           4
 2366             16           4
 2367             16           4

 [2368 rows x 12 columns],
 '102844212430599377':       Time                 Timestamp blue_gold blue_towers blue_barons  \
 0        0  2019-10-02T15:28:36.590Z      2500           0           0
 1        1  2019-10-02T15:28:37.611Z      2500           0           0
 2        2  2019-10-02T15:28:38.039Z      2500           0           0
 3        3  2019-10-02T15:28:39.029Z      2500           0           0
 4        4  2019-10-02T15:28:40.085Z      2500           0           0
 ...    ...                       ...       ...         ...         ...
 2335  2335  2019-10-02T16:07:31.510Z     59959           1           1
 2336  2336  2019-10-02T16:07:32.524Z     59969           1           1
 2337  2337  2019-10-02T16:07:33.547Z     59979           1           1
 2338  2338  2019-10-02T16:07:34.572Z     59989           1           1
 2339  2339  2019-10-02T16:07:35.595Z     59999           1           1

      blue_totalKills blue_dragons red_gold red_towers red_barons  \
 0                  0            0     2500          0          0
 1                  0            0     2500          0          0
 2                  0            0     2500          0          0
 3                  0            0     2500          0          0
 4                  0            0     2500          0          0
 ...              ...          ...      ...        ...        ...
 2335               2            1    71919         10          1
 2336               2            1    71930         10          1
 2337               2            1    71940         10          1
 2338               2            1    71951         10          1
 2339               2            1    71961         10          1

      red_totalKills red_dragons
 0                 0           0
 1                 0           0
 2                 0           0
 3                 0           0
 4                 0           0
 ...             ...         ...
 2335             10           5
 2336             10           5
 2337             10           5
 2338             10           5
 2339             10           5

 [2340 rows x 12 columns],
 '102844212429747404':       Time                 Timestamp blue_gold blue_towers blue_barons  \
 0        0  2019-10-02T16:31:13.432Z      2500           0           0
 1        1  2019-10-02T16:31:14.455Z      2500           0           0
 2        2  2019-10-02T16:31:15.047Z      2500           0           0
 3        3  2019-10-02T16:31:16.004Z      2500           0           0
 4        4  2019-10-02T16:31:17.027Z      2500           0           0
 ...    ...                       ...       ...         ...         ...
 1804  1804  2019-10-02T17:01:17.245Z     56801          11           1
 1805  1805  2019-10-02T17:01:18.268Z     56862          11           1
 1806  1806  2019-10-02T17:01:19.292Z     56872          11           1
 1807  1807  2019-10-02T17:01:20.317Z     56882          11           1
 1808  1808  2019-10-02T17:01:21.345Z     56892          11           1

      blue_totalKills blue_dragons red_gold red_towers red_barons  \
 0                  0            0     2500          0          0
 1                  0            0     2500          0          0
 2                  0            0     2500          0          0
 3                  0            0     2500          0          0
 4                  0            0     2500          0          0
 ...              ...          ...      ...        ...        ...
 1804              13            4    45305          0          0
 1805              13            4    45315          0          0
 1806              13            4    45325          0          0
 1807              13            4    45335          0          0
 1808              13            4    45347          0          0

      red_totalKills red_dragons
 0                 0           0
 1                 0           0
 2                 0           0
 3                 0           0
 4                 0           0
 ...             ...         ...
 1804              5           0
 1805              5           0
 1806              5           0
 1807              5           0
 1808              5           0

 [1809 rows x 12 columns],
 '102844224148503678':       Time                 Timestamp blue_gold blue_towers blue_barons  \
 0        0  2019-10-03T11:11:38.059Z      2500           0           0
 1        1  2019-10-03T11:11:39.840Z      2500           0           0
 2        2  2019-10-03T11:11:40.072Z      2500           0           0
 3        3  2019-10-03T11:11:41.026Z      2500           0           0
 4        4  2019-10-03T11:11:42.082Z      2500           0           0
 ...    ...                       ...       ...         ...         ...
 2072  2072  2019-10-03T11:46:10.434Z     56058           2           0
 2073  2073  2019-10-03T11:46:11.465Z     56069           2           0
 2074  2074  2019-10-03T11:46:12.486Z     56079           2           0
 2075  2075  2019-10-03T11:46:13.508Z     56089           2           0
 2076  2076  2019-10-03T11:46:14.530Z     56100           2           0

      blue_totalKills blue_dragons red_gold red_towers red_barons  \
 0                  0            0     2500          0          0
 1                  0            0     2500          0          0
 2                  0            0     2500          0          0
 3                  0            0     2500          0          0
 4                  0            0     2500          0          0
 ...              ...          ...      ...        ...        ...
 2072              12            1    68513          9          1
 2073              12            1    68544          9          1
 2074              12            1    68555          9          1
 2075              12            1    68565          9          1
 2076              12            1    68575          9          1

      red_totalKills red_dragons
 0                 0           0
 1                 0           0
 2                 0           0
 3                 0           0
 4                 0           0
 ...             ...         ...
 2072             17           4
 2073             17           4
 2074             17           4
 2075             17           4
 2076             17           4

 [2077 rows x 12 columns],
 '102844212428895431':       Time                 Timestamp blue_gold blue_towers blue_barons  \
 0        0  2019-10-03T12:15:10.018Z      2500           0           0
 1        1  2019-10-03T12:15:11.904Z      2500           0           0
 2        2  2019-10-03T12:15:12.660Z      2500           0           0
 3        3  2019-10-03T12:15:13.023Z      2500           0           0
 4        4  2019-10-03T12:15:14.147Z      2500           0           0
 ...    ...                       ...       ...         ...         ...
 2049  2049  2019-10-03T12:49:19.178Z     56071           4           0
 2050  2050  2019-10-03T12:49:20.202Z     56081           4           0
 2051  2051  2019-10-03T12:49:21.231Z     56091           4           0
 2052  2052  2019-10-03T12:49:22.257Z     56102           4           0
 2053  2053  2019-10-03T12:49:23.278Z     56112           4           0

      blue_totalKills blue_dragons red_gold red_towers red_barons  \
 0                  0            0     2500          0          0
 1                  0            0     2500          0          0
 2                  0            0     2500          0          0
 3                  0            0     2500          0          0
 4                  0            0     2500          0          0
 ...              ...          ...      ...        ...        ...
 2049               5            4    62149          8          1
 2050               5            4    62159          8          1
 2051               5            4    62219          8          1
 2052               5            4    62230          8          1
 2053               5            4    62240          8          1

      red_totalKills red_dragons
 0                 0           0
 1                 0           0
 2                 0           0
 3                 0           0
 4                 0           0
 ...             ...         ...
 2049              7           0
 2050              7           0
 2051              7           0
 2052              7           0
 2053              7           0

 [2054 rows x 12 columns],
 '102844224148896895':       Time                 Timestamp blue_gold blue_towers blue_barons  \
 0        0  2019-10-03T13:15:48.818Z      2500           0           0
 1        1  2019-10-03T13:15:49.510Z      2500           0           0
 2        2  2019-10-03T13:15:50.695Z      2500           0           0
 3        3  2019-10-03T13:15:51.025Z      2500           0           0
 4        4  2019-10-03T13:15:52.048Z      2500           0           0
 ...    ...                       ...       ...         ...         ...
 1803  1803  2019-10-03T13:45:51.351Z     63770          11           1
 1804  1804  2019-10-03T13:45:52.780Z     63791          11           1
 1805  1805  2019-10-03T13:45:53.808Z     63801          11           1
 1806  1806  2019-10-03T13:45:54.834Z     63813          11           1
 1807  1807  2019-10-03T13:45:55.861Z     63828          11           1

      blue_totalKills blue_dragons red_gold red_towers red_barons  \
 0                  0            0     2500          0          0
 1                  0            0     2500          0          0
 2                  0            0     2500          0          0
 3                  0            0     2500          0          0
 4                  0            0     2500          0          0
 ...              ...          ...      ...        ...        ...
 1803              22            3    48176          0          0
 1804              22            3    48196          0          0
 1805              22            3    48207          0          0
 1806              22            3    48217          0          0
 1807              22            3    48232          0          0

      red_totalKills red_dragons
 0                 0           0
 1                 0           0
 2                 0           0
 3                 0           0
 4                 0           0
 ...             ...         ...
 1803             11           1
 1804             11           1
 1805             11           1
 1806             11           1
 1807             11           1

 [1808 rows x 12 columns],
 '102844212430730450':       Time                 Timestamp blue_gold blue_towers blue_barons  \
 0        0  2019-10-03T14:10:23.059Z      2500           0           0
 1        1  2019-10-03T14:10:24.944Z      2500           0           0
 2        2  2019-10-03T14:10:25.008Z      2500           0           0
 3        3  2019-10-03T14:10:26.226Z      2500           0           0
 4        4  2019-10-03T14:10:27.119Z      2500           0           0
 ...    ...                       ...       ...         ...         ...
 2397  2397  2019-10-03T14:50:20.607Z     75749           8           1
 2398  2398  2019-10-03T14:50:21.616Z     75809           8           1
 2399  2399  2019-10-03T14:50:22.642Z     75819           8           1
 2400  2400  2019-10-03T14:50:23.668Z     75830           8           1
 2401  2401  2019-10-03T14:50:24.695Z     75840           8           1

      blue_totalKills blue_dragons red_gold red_towers red_barons  \

In [13]:
for game in data.keys():
    data[game] = data[game].drop(['Time','Timestamp'],axis=1)

In [14]:
data

{'102844212430075086':      blue_gold blue_towers blue_barons blue_totalKills blue_dragons red_gold  \
 0         2500           0           0               0            0     2500
 1         2500           0           0               0            0     2500
 2         2500           0           0               0            0     2500
 3         2500           0           0               0            0     2500
 4         2500           0           0               0            0     2500
 ...        ...         ...         ...             ...          ...      ...
 2278     61767           3           0               8            0    68519
 2279     61767           3           0               8            0    68519
 2280     61864           3           0               8            0    68590
 2281     61875           3           0               8            0    68600
 2282     61885           3           0               8            0    68610

      red_towers red_barons red_totalKills red_dragons
 0             0          0              0           0
 1             0          0              0           0
 2             0          0              0           0
 3             0          0              0           0
 4             0          0              0           0
 ...         ...        ...            ...         ...
 2278         11          2             16           4
 2279         11          2             16           4
 2280         11          2             16           4
 2281         11          2             16           4
 2282         11          2             16           4

 [2283 rows x 10 columns],
 '102844212430271695':      blue_gold blue_towers blue_barons blue_totalKills blue_dragons red_gold  \
 0         2500           0           0               0            0     2500
 1         2500           0           0               0            0     2500
 2         2500           0           0               0            0     2500
 3         2500           0           0               0            0     2500
 4         2500           0           0               0            0     2500
 ...        ...         ...         ...             ...          ...      ...
 2023     41176           1           0               7            1    56568
 2024     41196           1           0               7            1    56639
 2025     41196           1           0               7            1    56639
 2026     41207           1           0               7            1    56649
 2027     41217           1           0               7            1    56659

      red_towers red_barons red_totalKills red_dragons
 0             0          0              0           0
 1             0          0              0           0
 2             0          0              0           0
 3             0          0              0           0
 4             0          0              0           0
 ...         ...        ...            ...         ...
 2023         10          1             22           2
 2024         10          1             22           2
 2025         10          1             22           2
 2026         10          1             22           2
 2027         10          1             22           2

 [2028 rows x 10 columns],
 '102844212429092040':      blue_gold blue_towers blue_barons blue_totalKills blue_dragons red_gold  \
 0         2500           0           0               0            0     2500
 1         2500           0           0               0            0     2500
 2         2500           0           0               0            0     2500
 3         2500           0           0               0            0     2500
 4         2500           0           0               0            0     2500
 ...        ...         ...         ...             ...          ...      ...
 2250     69029           9           1              18            4    60284
 2251     69029           9           1              18            4    60284
 2252     69039           9           1              18            4    60295
 2253     69049           9           1              18            4    60306
 2254     69059           9           1              18            4    60316

      red_towers red_barons red_totalKills red_dragons
 0             0          0              0           0
 1             0          0              0           0
 2             0          0              0           0
 3             0          0              0           0
 4             0          0              0           0
 ...         ...        ...            ...         ...
 2250          2          0              8           0
 2251          2          0              8           0
 2252          2          0              8           0
 2253          2          0              8           0
 2254          2          0              8           0

 [2255 rows x 10 columns],
 '102844212430402768':      blue_gold blue_towers blue_barons blue_totalKills blue_dragons red_gold  \
 0         2500           0           0               0            0     2500
 1         2500           0           0               0            0     2500
 2         2500           0           0               0            0     2500
 3         2500           0           0               0            0     2500
 4         2500           0           0               0            0     2500
 ...        ...         ...         ...             ...          ...      ...
 2363     64403           3           0              12            1    74869
 2364     64414           3           0              12            1    74929
 2365     64424           3           0              12            1    74940
 2366     64434           3           0              12            1    74950
 2367     64450           3           0              12            1    74966

      red_towers red_barons red_totalKills red_dragons
 0             0          0              0           0
 1             0          0              0           0
 2             0          0              0           0
 3             0          0              0           0
 4             0          0              0           0
 ...         ...        ...            ...         ...
 2363          9          1             16           4
 2364          9          1             16           4
 2365          9          1             16           4
 2366          9          1             16           4
 2367          9          1             16           4

 [2368 rows x 10 columns],
 '102844212430599377':      blue_gold blue_towers blue_barons blue_totalKills blue_dragons red_gold  \
 0         2500           0           0               0            0     2500
 1         2500           0           0               0            0     2500
 2         2500           0           0               0            0     2500
 3         2500           0           0               0            0     2500
 4         2500           0           0               0            0     2500
 ...        ...         ...         ...             ...          ...      ...
 2335     59959           1           1               2            1    71919
 2336     59969           1           1               2            1    71930
 2337     59979           1           1               2            1    71940
 2338     59989           1           1               2            1    71951
 2339     59999           1           1               2            1    71961

      red_towers red_barons red_totalKills red_dragons
 0             0          0              0           0
 1             0          0              0           0
 2             0          0              0           0
 3             0          0              0           0
 4             0          0              0           0
 ...         ...        ...            ...         ...
 2335         10          1             10           5
 2336         10          1             10           5
 2337         10          1             10           5
 2338         10          1             10           5
 2339         10          1             10           5

 [2340 rows x 10 columns],
 '102844212429747404':      blue_gold blue_towers blue_barons blue_totalKills blue_dragons red_gold  \
 0         2500           0           0               0            0     2500
 1         2500           0           0               0            0     2500
 2         2500           0           0               0            0     2500
 3         2500           0           0               0            0     2500
 4         2500           0           0               0            0     2500
 ...        ...         ...         ...             ...          ...      ...
 1804     56801          11           1              13            4    45305
 1805     56862          11           1              13            4    45315
 1806     56872          11           1              13            4    45325
 1807     56882          11           1              13            4    45335
 1808     56892          11           1              13            4    45347

      red_towers red_barons red_totalKills red_dragons
 0             0          0              0           0
 1             0          0              0           0
 2             0          0              0           0
 3             0          0              0           0
 4             0          0              0           0
 ...         ...        ...            ...         ...
 1804          0          0              5           0
 1805          0          0              5           0
 1806          0          0              5           0
 1807          0          0              5           0
 1808          0          0              5           0

 [1809 rows x 10 columns],
 '102844224148503678':      blue_gold blue_towers blue_barons blue_totalKills blue_dragons red_gold  \
 0         2500           0           0               0            0     2500
 1         2500           0           0               0            0     2500
 2         2500           0           0               0            0     2500
 3         2500           0           0               0            0     2500
 4         2500           0           0               0            0     2500
 ...        ...         ...         ...             ...          ...      ...
 2072     56058           2           0              12            1    68513
 2073     56069           2           0              12            1    68544
 2074     56079           2           0              12            1    68555
 2075     56089           2           0              12            1    68565
 2076     56100           2           0              12            1    68575

      red_towers red_barons red_totalKills red_dragons
 0             0          0              0           0
 1             0          0              0           0
 2             0          0              0           0
 3             0          0              0           0
 4             0          0              0           0
 ...         ...        ...            ...         ...
 2072          9          1             17           4
 2073          9          1             17           4
 2074          9          1             17           4
 2075          9          1             17           4
 2076          9          1             17           4

 [2077 rows x 10 columns],
 '102844212428895431':      blue_gold blue_towers blue_barons blue_totalKills blue_dragons red_gold  \
 0         2500           0           0               0            0     2500
 1         2500           0           0               0            0     2500
 2         2500           0           0               0            0     2500
 3         2500           0           0               0            0     2500
 4         2500           0           0               0            0     2500
 ...        ...         ...         ...             ...          ...      ...
 2049     56071           4           0               5            4    62149
 2050     56081           4           0               5            4    62159
 2051     56091           4           0               5            4    62219
 2052     56102           4           0               5            4    62230
 2053     56112           4           0               5            4    62240

      red_towers red_barons red_totalKills red_dragons
 0             0          0              0           0
 1             0          0              0           0
 2             0          0              0           0
 3             0          0              0           0
 4             0          0              0           0
 ...         ...        ...            ...         ...
 2049          8          1              7           0
 2050          8          1              7           0
 2051          8          1              7           0
 2052          8          1              7           0
 2053          8          1              7           0

 [2054 rows x 10 columns],
 '102844224148896895':      blue_gold blue_towers blue_barons blue_totalKills blue_dragons red_gold  \
 0         2500           0           0               0            0     2500
 1         2500           0           0               0            0     2500
 2         2500           0           0               0            0     2500
 3         2500           0           0               0            0     2500
 4         2500           0           0               0            0     2500
 ...        ...         ...         ...             ...          ...      ...
 1803     63770          11           1              22            3    48176
 1804     63791          11           1              22            3    48196
 1805     63801          11           1              22            3    48207
 1806     63813          11           1              22            3    48217
 1807     63828          11           1              22            3    48232

      red_towers red_barons red_totalKills red_dragons
 0             0          0              0           0
 1             0          0              0           0
 2             0          0              0           0
 3             0          0              0           0
 4             0          0              0           0
 ...         ...        ...            ...         ...
 1803          0          0             11           1
 1804          0          0             11           1
 1805          0          0             11           1
 1806          0          0             11           1
 1807          0          0             11           1

 [1808 rows x 10 columns],
 '102844212430730450':      blue_gold blue_towers blue_barons blue_totalKills blue_dragons red_gold  \
 0         2500           0           0               0            0     2500
 1         2500           0           0               0            0     2500
 2         2500           0           0               0            0     2500
 3         2500           0           0               0            0     2500
 4         2500           0           0               0            0     2500
 ...        ...         ...         ...             ...          ...      ...
 2397     75749           8           1              21            3    73778
 2398     75809           8           1              21            3    73788
 2399     75819           8           1              21            3    73798
 2400     75830           8           1              21            3    73808
 2401     75840           8           1              21            3    73820

      red_towers red_barons red_totalKills red_dragons
 0             0          0              0           0
 1             0          0              0           0
 2             0          0              0           0
 3             0          0              0           0
 4             0          0              0           0
 ...         ...        ...            ...         ...
 2397          5          1             19           1
 2398          5          1             19           1
 2399          5          1             19           1
 2400          5          1             19           1
 2401          5          1             19           1

 [2402 rows x 10 columns],
 '102844224146472059':      blue_gold blue_towers blue_barons blue_totalKills blue_dragons red_gold  \
 0         2500           0           0               0            0     2500
 1         2500           0           0               0            0     2500
 2         2500           0           0               0            0     2500
 3         2500           0           0               0            0     2500
 4         2500           0           0               0            0     2500
 ...        ...         ...         ...             ...          ...      ...
 1452     37095           2           0               3            0    48726
 1453     37106           2           0               3            0    48788
 1454     37116           2           0               3            0    48798
 1455     37126           2           0               3            0    48809
 1456     37136           2           0               3            0    48819

      red_towers red_barons red_totalKills red_dragons
 0             0          0              0           0
 1             0          0              0           0
 2             0          0              0           0
 3             0          0              0           0
 4             0          0              0           0
 ...         ...        ...            ...         ...
 1452          9          1             14           3
 1453          9          1             14           3
 1454          9          1             14           3
 1455          9          1             14           3
 1456          9          1             14           3

 [1457 rows x 10 columns],
 '102844212429419722':      blue_gold blue_towers blue_barons blue_totalKills blue_dragons red_gold  \
 0         2500           0           0               0            0     2500
 1         2500           0           0               0            0     2500
 2         2500           0           0               0            0     2500
 3         2500           0           0               0            0     2500
 4         2500           0           0               0            0     2500
 ...        ...         ...         ...             ...          ...      ...
 1796     49939           3           0               9            0    57374
 1797     49949           3           0               9            0    57384
 1798     49959           3           0               9            0    57395
 1799     49959           3           0               9            0    57395
 1800     49969           3           0               9            0    57405

      red_towers red_barons red_totalKills red_dragons
 0             0          0              0           0
 1             0          0              0           0
 2             0          0              0           0
 3             0          0              0           0
 4             0          0              0           0
 ...         ...        ...            ...         ...
 1796          9          1             20           3
 1797          9          1             20           3
 1798          9          1             20           3
 1799          9          1             20           3
 1800          9          1             20           3

 [1801 rows x 10 columns],
 '102844212429288649':      blue_gold blue_towers blue_barons blue_totalKills blue_dragons red_gold  \
 0         2500           0           0               0            0     2500

# dragon, baron, end event

In [15]:
highlight_add = {}

In [17]:
#   
for game in data.keys():
    baron = []
    dragon = []
    end = []
    bb=0
    rb=0
    bd=0
    rd=0
    for i in range(len(data[game])):
        if data[game].loc[i]['blue_barons']!=bb:
            for j in range(i-12,min(i+5,len(data[game])-1)):
                baron.append(j)
            bb = data[game].loc[i]['blue_barons']
        if data[game].loc[i]['red_barons']!=rb:
            for j in range(i-12,min(i+5,len(data[game])-1)):
                baron.append(j)
            rb = data[game].loc[i]['red_barons']
        if data[game].loc[i]['blue_dragons']!=bd:
            for j in range(i-4,min(i+2,len(data[game])-1)):
                dragon.append(j)
            bd = data[game].loc[i]['blue_dragons']
        if data[game].loc[i]['red_dragons']!=rd:
            for j in range(i-4,min(i+2,len(data[game])-1)):
                dragon.append(j)
            rd = data[game].loc[i]['red_dragons']
    for j in range(len(data[game])-27,len(data[game])):
            end.append(j)
    highlight_add[game] = baron+dragon+end

In [18]:
highlight_add

{'102844212430075086': [1367,
  1368,
  1369,
  1370,
  1371,
  1372,
  1373,
  1374,
  1375,
  1376,
  1377,
  1378,
  1379,
  1380,
  1381,
  1382,
  1383,
  1812,
  1813,
  1814,
  1815,
  1816,
  1817,
  1818,
  1819,
  1820,
  1821,
  1822,
  1823,
  1824,
  1825,
  1826,
  1827,
  1828,
  1023,
  1024,
  1025,
  1026,
  1027,
  1028,
  1345,
  1346,
  1347,
  1348,
  1349,
  1350,
  1653,
  1654,
  1655,
  1656,
  1657,
  1658,
  1976,
  1977,
  1978,
  1979,
  1980,
  1981,
  2256,
  2257,
  2258,
  2259,
  2260,
  2261,
  2262,
  2263,
  2264,
  2265,
  2266,
  2267,
  2268,
  2269,
  2270,
  2271,
  2272,
  2273,
  2274,
  2275,
  2276,
  2277,
  2278,
  2279,
  2280,
  2281,
  2282],
 '102844212430271695': [1851,
  1852,
  1853,
  1854,
  1855,
  1856,
  1857,
  1858,
  1859,
  1860,
  1861,
  1862,
  1863,
  1864,
  1865,
  1866,
  1867,
  580,
  581,
  582,
  583,
  584,
  585,
  933,
  934,
  935,
  936,
  937,
  938,
  1701,
  1702,
  1703,
  1704,
  1705,
  1706,
  2001,
  2002,
  2003,
  2004,
  2005,
  2006,
  2007,
  2008,
  2009,
  2010,
  2011,
  2012,
  2013,
  2014,
  2015,
  2016,
  2017,
  2018,
  2019,
  2020,
  2021,
  2022,
  2023,
  2024,
  2025,
  2026,
  2027],
 '102844212429092040': [1635,
  1636,
  1637,
  1638,
  1639,
  1640,
  1641,
  1642,
  1643,
  1644,
  1645,
  1646,
  1647,
  1648,
  1649,
  1650,
  1651,
  495,
  496,
  497,
  498,
  499,
  500,
  1001,
  1002,
  1003,
  1004,
  1005,
  1006,
  1392,
  1393,
  1394,
  1395,
  1396,
  1397,
  1699,
  1700,
  1701,
  1702,
  1703,
  1704,
  2228,
  2229,
  2230,
  2231,
  2232,
  2233,
  2234,
  2235,
  2236,
  2237,
  2238,
  2239,
  2240,
  2241,
  2242,
  2243,
  2244,
  2245,
  2246,
  2247,
  2248,
  2249,
  2250,
  2251,
  2252,
  2253,
  2254],
 '102844212430402768': [2180,
  2181,
  2182,
  2183,
  2184,
  2185,
  2186,
  2187,
  2188,
  2189,
  2190,
  2191,
  2192,
  2193,
  2194,
  2195,
  2196,
  600,
  601,
  602,
  603,
  604,
  605,
  977,
  978,
  979,
  980,
  981,
  982,
  1329,
  1330,
  1331,
  1332,
  1333,
  1334,
  1662,
  1663,
  1664,
  1665,
  1666,
  1667,
  2093,
  2094,
  2095,
  2096,
  2097,
  2098,
  2341,
  2342,
  2343,
  2344,
  2345,
  2346,
  2347,
  2348,
  2349,
  2350,
  2351,
  2352,
  2353,
  2354,
  2355,
  2356,
  2357,
  2358,
  2359,
  2360,
  2361,
  2362,
  2363,
  2364,
  2365,
  2366,
  2367],
 '102844212430599377': [1445,
  1446,
  1447,
  1448,
  1449,
  1450,
  1451,
  1452,
  1453,
  1454,
  1455,
  1456,
  1457,
  1458,
  1459,
  1460,
  1461,
  1917,
  1918,
  1919,
  1920,
  1921,
  1922,
  1923,
  1924,
  1925,
  1926,
  1927,
  1928,
  1929,
  1930,
  1931,
  1932,
  1933,
  545,
  546,
  547,
  548,
  549,
  550,
  863,
  864,
  865,
  866,
  867,
  868,
  1189,
  1190,
  1191,
  1192,
  1193,
  1194,
  1509,
  1510,
  1511,
  1512,
  1513,
  1514,
  1836,
  1837,
  1838,
  1839,
  1840,
  1841,
  2174,
  2175,
  2176,
  2177,
  2178,
  2179,
  2313,
  2314,
  2315,
  2316,
  2317,
  2318,
  2319,
  2320,
  2321,
  2322,
  2323,
  2324,
  2325,
  2326,
  2327,
  2328,
  2329,
  2330,
  2331,
  2332,
  2333,
  2334,
  2335,
  2336,
  2337,
  2338,
  2339],
 '102844212429747404': [1609,
  1610,
  1611,
  1612,
  1613,
  1614,
  1615,
  1616,
  1617,
  1618,
  1619,
  1620,
  1621,
  1622,
  1623,
  1624,
  1625,
  469,
  470,
  471,
  472,
  473,
  474,
  807,
  808,
  809,
  810,
  811,
  812,
  1160,
  1161,
  1162,
  1163,
  1164,
  1165,
  1482,
  1483,
  1484,
  1485,
  1486,
  1487,
  1782,
  1783,
  1784,
  1785,
  1786,
  1787,
  1788,
  1789,
  1790,
  1791,
  1792,
  1793,
  1794,
  1795,
  1796,
  1797,
  1798,
  1799,
  1800,
  1801,
  1802,
  1803,
  1804,
  1805,
  1806,
  1807,
  1808],
 '102844224148503678': [1857,
  1858,
  1859,
  1860,
  1861,
  1862,
  1863,
  1864,
  1865,
  1866,
  1867,
  1868,
  1869,
  1870,
  1871,
  1872,
  1873,
  401,
  402,
  403,
  404,
  405,
  406,
  764,
  765,
  766,
  767,
  768,
  769,
  1101,
  1102,
  1103,
  1104,
  1105,
  1106,
  1461,
  1462,
  1463,
  1464,
  1465,
  1466,
  1795,
  1796,
  1797,
  1798,
  1799,
  1800,
  2050,
  2051,
  2052,
  2053,
  2054,
  2055,
  2056,
  2057,
  2058,
  2059,
  2060,
  2061,
  2062,
  2063,
  2064,
  2065,
  2066,
  2067,
  2068,
  2069,
  2070,
  2071,
  2072,
  2073,
  2074,
  2075,
  2076],
 '102844212428895431': [1987,
  1988,
  1989,
  1990,
  1991,
  1992,
  1993,
  1994,
  1995,
  1996,
  1997,
  1998,
  1999,
  2000,
  2001,
  2002,
  2003,
  684,
  685,
  686,
  687,
  688,
  689,
  1028,
  1029,
  1030,
  1031,
  1032,
  1033,
  1336,
  1337,
  1338,
  1339,
  1340,
  1341,
  1796,
  1797,
  1798,
  1799,
  1800,
  1801,
  2027,
  2028,
  2029,
  2030,
  2031,
  2032,
  2033,
  2034,
  2035,
  2036,
  2037,
  2038,
  2039,
  2040,
  2041,
  2042,
  2043,
  2044,
  2045,
  2046,
  2047,
  2048,
  2049,
  2050,
  2051,
  2052,
  2053],
 '102844224148896895': [1563,
  1564,
  1565,
  1566,
  1567,
  1568,
  1569,
  1570,
  1571,
  1572,
  1573,
  1574,
  1575,
  1576,
  1577,
  1578,
  1579,
  595,
  596,
  597,
  598,
  599,
  600,
  906,
  907,
  908,
  909,
  910,
  911,
  1271,
  1272,
  1273,
  1274,
  1275,
  1276,
  1655,
  1656,
  1657,
  1658,
  1659,
  1660,
  1781,
  1782,
  1783,
  1784,
  1785,
  1786,
  1787,
  1788,
  1789,
  1790,
  1791,
  1792,
  1793,
  1794,
  1795,
  1796,
  1797,
  1798,
  1799,
  1800,
  1801,
  1802,
  1803,
  1804,
  1805,
  1806,
  1807],
 '102844212430730450': [1478,
  1479,
  1480,
  1481,
  1482,
  1483,
  1484,
  1485,
  1486,
  1487,
  1488,
  1489,
  1490,
  1491,
  1492,
  1493,
  1494,
  2334,
  2335,
  2336,
  2337,
  2338,
  2339,
  2340,
  2341,
  2342,
  2343,
  2344,
  2345,
  2346,
  2347,
  2348,
  2349,
  2350,
  921,
  922,
  923,
  924,
  925,
  926,
  1236,
  1237,
  1238,
  1239,
  1240,
  1241,
  1667,
  1668,
  1669,
  1670,
  1671,
  1672,
  2036,
  2037,
  2038,
  2039,
  2040,
  2041,
  2375,
  2376,
  2377,
  2378,
  2379,
  2380,
  2381,
  2382,
  2383,
  2384,
  2385,
  2386,
  2387,
  2388,
  2389,
  2390,
  2391,
  2392,
  2393,
  2394,
  2395,
  2396,
  2397,
  2398,
  2399,
  2400,
  2401],
 '102844224146472059': [1296,
  1297,
  1298,
  1299,
  1300,
  1301,
  1302,
  1303,
  1304,
  1305,
  1306,
  1307,
  1308,
  1309,
  1310,
  1311,
  1312,
  601,
  602,
  603,
  604,
  605,
  606,
  950,
  951,
  952,
  953,
  954,
  955,
  1340,
  1341,
  1342,
  1343,
  1344,
  1345,
  1430,
  1431,
  1432,
  1433,
  1434,
  1435,
  1436,
  1437,
  1438,
  1439,
  1440,
  1441,
  1442,
  1443,
  1444,
  1445,
  1446,
  1447,
  1448,
  1449,
  1450,
  1451,
  1452,
  1453,
  1454,
  1455,
  1456],
 '102844212429419722': [1421,
  1422,
  1423,
  1424,
  1425,
  1426,
  1427,
  1428,
  1429,
  1430,
  1431,
  1432,
  1433,
  1434,
  1435,
  1436,
  1437,
  710,
  711,
  712,
  713,
  714,
  715,
  1206,
  1207,
  1208,
  1209,
  1210,
  1211,
  1516,
  1517,
  1518,
  1519,
  1520,
  1521,
  1774,
  1775,
  1776,
  1777,
  1778,
  1779,
  1780,
  1781,
  1782,
  1783,
  1784,
  1785,
  1786,
  1787,
  1788,
  1789,
  1790,
  1791,
  1792,
  1793,
  1794,
  1795,
  1796,
  1797,
  1798,
  1799,
  1800],
 '102844212429288649': [2216,
  2217,
  2218,
  2219,
  2220,
  2221,
  2222,
  2223,
  2224,
  2225,
  2226,
  2227,
  2228,
  2229,
  2230,
  2231,
  2232,
  2629,
  2630,
  2631,
  2632,
  2633,
  2634,
  2635,
  2636,
  2637,
  2638,
  2639,
  2640,
  2641,
  2642,
  2643,
  2644,
  2645,
  480,
  481,
  482,
  483,
  484,
  485,
  799,
  800,
  801,
  802,
  803,
  804,
  1717,
  1718,
  1719,
  1720,
  1721,
  1722,
  2042,
  2043,
  2044,
  2045,
  2046,
  2047,
  2357,
  2358,
  2359,
  2360,
  2361,
  2362,
  2895,
  2896,
  2897,
  2898,
  2899,
  2900,
  2901,
  2902,
  2903,
  2904,
  2905,
  2906,
  2907,
  2908,
  2909,
  2910,
  2911,
  2912,
  2913,
  2914,
  2915,
  2916,
  2917,
  2918,
  2919,
  2920,
  2921],
 '102844212431779031': [1731,
  1732,
  1733,
  1734,
  1735,
  1736,
  1737,
  1738,
  1739,
  1740,
  1741,
  1742,
  1743,
  1744,
  1745,
  1746,
  1747,
  479,
  480,
  481,
  482,
  483,
  484,
  957,
  958,
  959,
  960,
  961,
  962,
  1344,
  1345,
  1346,
  1347,
  1348,
  1349,
  1659,
  1660,
  1661,
  1662,
  1663,
  1664,
  1992,
  1993,
  1994,
  1995,
  1996,
  1997,
  1998,
  1999,
  2000,
  2001,
  2002,
  2003,
  2004,
  2005,
  2006,
  2007,
  2008,
  2009,
  2010,
  2011,
  2012,
  2013,
  2014,
  2015,
  2016,
  2017,
  2018],
 '102844212431058132': [1889,
  1890,
  1891,
  1892,
  1893,
  1894,
  1895,
  1896,
  1897,
  1898,
  1899,
  1900,
  1901,
  1902,
  1903,
  1904,
  1905,
  433,
  434,
  435,
  436,
  437,
  438,
  750,
  751,
  752,
  753,
  754,
  755,
  1117,
  1118,
  1119,
  1120,
  1121,
  1122,
  1431,
  1432,
  1433,
  1434,
  1435,
  1436,
  1934,
  1935,
  1936,
  1937,
  1938,
  1939,
  2308,
  2309,
  2310,
  2311,
  2312,
  2313,
  2443,
  2444,
  2445,
  2446,
  2447,
  2448,
  2449,
  2450,
  2451,
  2452,
  2453,
  2454,
  2455,
  2456,
  2457,
  2458,
  2459,
  2460,
  2461,
  2462,
  2463,
  2464,
  2465,
  2466,
  2467,
  2468,
  2469],
 '102844212430927059': [2228,
  2229,
  2230,
  2231,
  2232,
  2233,
  2234,
  2235,
  2236,
  2237,
  2238,
  2239,
  2240,
  2241,
  2242,
  2243,
  2244,
  2597,
  2598,
  2599,
  2600,
  2601,
  2602,
  2603,
  2604,
  2605,
  2606,
  2607,
  2608,
  2609,
  2610,
  2611,
  2612,
  2613,
  3004,
  3005,
  3006,
  3007,
  3008,
  3009,
  3010,
  3011,
  3012,
  3013,
  3014,
  3015,
  3016,
  3017,
  3018,
  3019,
  3020,
  3600,
  3601,
  3602,
  3603,
  3604,
  3605,
  3606,
  3607,
  3608,
  3609,
  3610,
  3611,
  3612,
  3613,
  3614,
  3615,
  3616,
  676,
  677,
  678,
  679,
  680,
  681,
  1031,
  1032,
  1033,
  1034,
  1035,
  1036,
  1357,
  1358,
  1359,
  1360,
  1361,
  1362,
  1729,
  1730,
  1731,
  1732,
  1733,
  1734,
  2059,
  2060,
  2061,
  2062,
  2063,
  2064,
  2444,
  2445,
  2446,
  2447,
  2448,
  2449,
  2877,
  2878,
  2879,
  2880,
  2881,
  2882,
  3274,
  3275,
  3276,
  3277,
  3278,
  3279,
  3777,
  3778,
  3779,
  3780,
  3781,
  3782,
  3783,
  3784,
  3785,
  3786,
  3787,
  3788,
  3789,
  3790,
  3791,
  3792,
  3793,
  3794,
  3795,
  3796,
  3797,
  3798,
  3799,
  3800,
  3801,
  3802,
  3803],
 '102844212429550795': [1226,
  1227,
  1228,
  1229,
  1230,
  1231,
  1232,
  1233,
  1234,
  1235,
  1236,
  1237,
  1238,
  1239,
  1240,
  1241,
  1242,
  387,
  388,
  389,
  390,
  391,
  392,
  784,
  785,
  786,
  787,
  788,
  789,
  1124,
  1125,
  1126,
  1127,
  1128,
  1129,
  1448,
  1449,
  1450,
  1451,
  1452,
  1453,
  1454,
  1455,
  1456,
  1457,
  1458,
  1459,
  1460,
  1461,
  1462,
  1463,
  1464,
  1465,
  1466,
  1467,
  1468,
  1469,
  1470,
  1471,
  1472,
  1473,
  1474],
 '102844212431320277': [1976,
  1977,
  1978,
  1979,
  1980,
  1981,
  1982,
  1983,
  1984,
  1985,
  1986,
  1987,
  1988,
  1989,
  1990,
  1991,
  1992,
  2390,
  2391,
  2392,
  2393,
  2394,
  2395,
  2396,
  2397,
  2398,
  2399,
  2400,
  2401,
  2402,
  2403,
  2404,
  2405,
  2406,
  693,
  694,
  695,
  696,
  697,
  698,
  1179,
  1180,
  1181,
  1182,
  1183,
  1184,
  1726,
  1727,
  1728,
  1729,
  1730,
  1731,
  2092,
  2093,
  2094,
  2095,
  2096,
  2097,
  2420,
  2421,
  2422,
  2423,
  2424,
  2425,
  2426,
  2427,
  2428,
  2429,
  2430,
  2431,
  2432,
  2433,
  2434,
  2435,
  2436,
  2437,
  2438,
  2439,
  2440,
  2441,
  2442,
  2443,
  2444,
  2445,
  2446],
 '102904869420860038': [1543,
  1544,
  1545,
  1546,
  1547,
  1548,
  1549,
  1550,
  1551,
  1552,
  1553,
  1554,
  1555,
  1556,
  1557,
  1558,
  1559,
  352,
  353,
  354,
  355,
  356,
  357,
  746,
  747,
  748,
  749,
  750,
  751,
  1081,
  1082,
  1083,
  1084,
  1085,
  1086,
  1394,
  1395,
  1396,
  1397,
  1398,
  1399,
  1675,
  1676,
  1677,
  1678,
  1679,
  1680,
  1681,
  1682,
  1683,
  1684,
  1685,
  1686,
  1687,
  1688,
  1689,
  1690,
  1691,
  1692,
  1693,
  1694,
  1695,
  1696,
  1697,
  1698,
  1699,
  1700,
  1701],
 '102844224147717245': [1476,
  1477,
  1478,
  1479,
  1480,
  1481,
  1482,
  1483,
  1484,
  1485,
  1486,
  1487,
  1488,
  1489,
  1490,
  1491,
  1492,
  328,
  329,
  330,
  331,
  332,
  333,
  665,
  666,
  667,
  668,
  669,
  670,
  1021,
  1022,
  1023,
  1024,
  1025,
  1026,
  1372,
  1373,
  1374,
  1375,
  1376,
  1377,
  1721,
  1722,
  1723,
  1724,
  1725,
  1726,
  1810,
  1811,
  1812,
  1813,
  1814,
  1815,
  1816,
  1817,
  1818,
  1819,
  1820,
  1821,
  1822,
  1823,
  1824,
  1825,
  1826,
  1827,
  1828,
  1829,
  1830,
  1831,
  1832,
  1833,
  1834,
  1835,
  1836],
 '102844212431975640': [1926,
  1927,
  1928,
  1929,
  1930,
  1931,
  1932,
  1933,
  1934,
  1935,
  1936,
  1937,
  1938,
  1939,
  1940,
  1941,
  1942,
  332,
  333,
  334,
  335,
  336,
  337,
  660,
  661,
  662,
  663,
  664,
  665,
  1065,
  1066,
  1067,
  1068,
  1069,
  1070,
  1387,
  1388,
  1389,
  1390,
  1391,
  1392,
  1727,
  1728,
  1729,
  1730,
  1731,
  1732,
  2182,
  2183,
  2184,
  2185,
  2186,
  2187,
  2337,
  2338,
  2339,
  2340,
  2341,
  2342,
  2343,
  2344,
  2345,
  2346,
  2347,
  2348,
  2349,
  2350,
  2351,
  2352,
  2353,
  2354,
  2355,
  2356,
  2357,
  2358,
  2359,
  2360,
  2361,
  2362,
  2363],
 '102844224145685626': [1429,
  1430,
  1431,
  1432,
  1433,
  1434,
  1435,
  1436,
  1437,
  1438,
  1439,
  1440,
  1441,
  1442,
  1443,
  1444,
  1445,
  610,
  611,
  612,
  613,
  614,
  615,
  922,
  923,
  924,
  925,
  926,
  927,
  1246,
  1247,
  1248,
  1249,
  1250,
  1251,
  1665,
  1666,
  1667,
  1668,
  1669,
  1670,
  1671,
  1672,
  1673,
  1674,
  1675,
  1676,
  1677,
  1678,
  1679,
  1680,
  1681,
  1682,
  1683,
  1684,
  1685,
  1686,
  1687,
  1688,
  1689,
  1690,
  1691],
 '102844212429944013': [1854,
  1855,
  1856,
  1857,
  1858,
  1859,
  1860,
  1861,
  1862,
  1863,
  1864,
  1865,
  1866,
  1867,
  1868,
  1869,
  1870,
  800,
  801,
  802,
  803,
  804,
  805,
  1125,
  1126,
  1127,
  1128,
  1129,
  1130,
  1500,
  1501,
  1502,
  1503,
  1504,
  1505,
  2022,
  2023,
  2024,
  2025,
  2026,
  2027,
  2028,
  2029,
  2030,
  2031,
  2032,
  2033,
  2034,
  2035,
  2036,
  2037,
  2038,
  2039,
  2040,
  2041,
  2042,
  2043,
  2044,
  2045,
  2046,
  2047,
  2048],
 '102844224146930812': [1799,
  1800,
  1801,
  1802,
  1803,
  1804,
  1805,
  1806,
  1807,
  1808,
  1809,
  1810,
  1811,
  1812,
  1813,
  1814,
  1815,
  2276,
  2277,
  2278,
  2279,
  2280,
  2281,
  2282,
  2283,
  2284,
  2285,
  2286,
  2287,
  2288,
  2289,
  2290,
  2291,
  2292,
  577,
  578,
  579,
  580,
  581,
  582,
  921,
  922,
  923,
  924,
  925,
  926,
  1250,
  1251,
  1252,
  1253,
  1254,
  1255,
  1624,
  1625,
  1626,
  1627,
  1628,
  1629,
  1991,
  1992,
  1993,
  1994,
  1995,
  1996,
  2319,
  2320,
  2321,
  2322,
  2323,
  2324,
  2407,
  2408,
  2409,
  2410,
  2411,
  2412,
  2413,
  2414,
  2415,
  2416,
  2417,
  2418,
  2419,
  2420,
  2421,
  2422,
  2423,
  2424,
  2425,
  2426,
  2427,
  2428,
  2429,
  2430,
  2431,
  2432,
  2433],
 '102844212431516886': [1315,
  1316,
  1317,
  1318,
  1319,
  1320,
  1321,
  1322,
  1323,
  1324,
  1325,
  1326,
  1327,
  1328,
  1329,
  1330,
  1331,
  1706,
  1707,
  1708,
  1709,
  1710,
  1711,
  1712,
  1713,
  1714,
  1715,
  1716,
  1717,
  1718,
  1719,
  1720,
  1721,
  1722,
  544,
  545,
  546,
  547,
  548,
  549,
  861,
  862,
  863,
  864,
  865,
  866,
  1176,
  1177,
  1178,
  1179,
  1180,
  1181,
  1499,
  1500,
  1501,
  1502,
  1503,
  1504,
  1794,
  1795,
  1796,
  1797,
  1798,
  1799,
  1800,
  1801,
  1802,
  1803,
  1804,
  1805,
  1806,
  1807,
  1808,
  1809,
  1810,
  1811,
  1812,
  1813,
  1814,
  1815,
  1816,
  1817,
  1818,
  1819,
  1820],
 '102910307641576395': [1406,
  1407,
  1408,
  1409,
  1410,
  1411,
  1412,
  1413,
  1414,
  1415,
  1416,
  1417,
  1418,
  1419,
  1420,
  1421,
  1422,
  456,
  457,
  458,
  459,
  460,
  461,
  888,
  889,
  890,
  891,
  892,
  893,
  1248,
  1249,
  1250,
  1251,
  1252,
  1253,
  1647,
  1648,
  1649,
  1650,
  1651,
  1652,
  1653,
  1654,
  1655,
  1656,
  1657,
  1658,
  1659,
  1660,
  1661,
  1662,
  1663,
  1664,
  1665,
  1666,
  1667,
  1668,
  1669,
  1670,
  1671,
  1672,
  1673],
 '102844341902586509': [1838,
  1839,
  1840,
  1841,
  1842,
  1843,
  1844,
  1845,
  1846,
  1847,
  1848,
  1849,
  1850,
  1851,
  1852,
  1853,
  1854,
  717,
  718,
  719,
  720,
  721,
  722,
  1044,
  1045,
  1046,
  1047,
  1048,
  1049,
  1510,
  1511,
  1512,
  1513,
  1514,
  1515,
  1901,
  1902,
  1903,
  1904,
  1905,
  1906,
  2115,
  2116,
  2117,
  2118,
  2119,
  2120,
  2121,
  2122,
  2123,
  2124,
  2125,
  2126,
  2127,
  2128,
  2129,
  2130,
  2131,
  2132,
  2133,
  2134,
  2135,
  2136,
  2137,
  2138,
  2139,
  2140,
  2141],
 '102844341905404560': [1644,
  1645,
  1646,
  1647,
  1648,
  1649,
  1650,
  1651,
  1652,
  1653,
  1654,
  1655,
  1656,
  1657,
  1658,
  1659,
  1660,
  583,
  584,
  585,
  586,
  587,
  588,
  909,
  910,
  911,
  912,
  913,
  914,
  1248,
  1249,
  1250,
  1251,
  1252,
  1253,
  1571,
  1572,
  1573,
  1574,
  1575,
  1576,
  1856,
  1857,
  1858,
  1859,
  1860,
  1861,
  1862,
  1863,
  1864,
  1865,
  1866,
  1867,
  1868,
  1869,
  1870,
  1871,
  1872,
  1873,
  1874,
  1875,
  1876,
  1877,
  1878,
  1879,
  1880,
  1881,
  1882],
 '102844401153971877': [544,
  545,
  546,
  547,
  548,
  549,
  871,
  872,
  873,
  874,
  875,
  876,
  1228,
  1229,
  1230,
  1231,
  1232,
  1233,
  1544,
  1545,
  1546,
  1547,
  1548,
  1549,
  1752,
  1753,
  1754,
  1755,
  1756,
  1757,
  1758,
  1759,
  1760,
  1761,
  1762,
  1763,
  1764,
  1765,
  1766,
  1767,
  1768,
  1769,
  1770,
  1771,
  1772,
  1773,
  1774,
  1775,
  1776,
  1777,
  1778],
 '102844401152071328': [1385,
  1386,
  1387,
  1388,
  1389,
  1390,
  1391,
  1392,
  1393,
  1394,
  1395,
  1396,
  1397,
  1398,
  1399,
  1400,
  1401,
  408,
  409,
  410,
  411,
  412,
  413,
  789,
  790,
  791,
  792,
  793,
  794,
  1136,
  1137,
  1138,
  1139,
  1140,
  1141,
  1492,
  1493,
  1494,
  1495,
  1496,
  1497,
  1837,
  1838,
  1839,
  1840,
  1841,
  1842,
  1843,
  1844,
  1845,
  1846,
  1847,
  1848,
  1849,
  1850,
  1851,
  1852,
  1853,
  1854,
  1855,
  1856,
  1857,
  1858,
  1859,
  1860,
  1861,
  1862,
  1863],
 '102844294670878922': [1559,
  1560,
  1561,
  1562,
  1563,
  1564,
  1565,
  1566,
  1567,
  1568,
  1569,
  1570,
  1571,
  1572,
  1573,
  1574,
  1575,
  1985,
  1986,
  1987,
  1988,
  1989,
  1990,
  1991,
  1992,
  1993,
  1994,
  1995,
  1996,
  1997,
  1998,
  1999,
  2000,
  2001,
  531,
  532,
  533,
  534,
  535,
  536,
  861,
  862,
  863,
  864,
  865,
  866,
  1185,
  1186,
  1187,
  1188,
  1189,
  1190,
  1503,
  1504,
  1505,
  1506,
  1507,
  1508,
  1825,
  1826,
  1827,
  1828,
  1829,
  1830,
  2172,
  2173,
  2174,
  2175,
  2176,
  2177,
  2178,
  2179,
  2180,
  2181,
  2182,
  2183,
  2184,
  2185,
  2186,
  2187,
  2188,
  2189,
  2190,
  2191,
  2192,
  2193,
  2194,
  2195,
  2196,
  2197,
  2198],
 '102844294667405508': [1593,
  1594,
  1595,
  1596,
  1597,
  1598,
  1599,
  1600,
  1601,
  1602,
  1603,
  1604,
  1605,
  1606,
  1607,
  1608,
  1609,
  393,
  394,
  395,
  396,
  397,
  398,
  750,
  751,
  752,
  753,
  754,
  755,
  1096,
  1097,
  1098,
  1099,
  1100,
  1101,
  1421,
  1422,
  1423,
  1424,
  1425,
  1426,
  1800,
  1801,
  1802,
  1803,
  1804,
  1805,
  1806,
  1807,
  1808,
  1809,
  1810,
  1811,
  1812,
  1813,
  1814,
  1815,
  1816,
  1817,
  1818,
  1819,
  1820,
  1821,
  1822,
  1823,
  1824,
  1825,
  1826],
 '102844341907370644': [1331,
  1332,
  1333,
  1334,
  1335,
  1336,
  1337,
  1338,
  1339,
  1340,
  1341,
  1342,
  1343,
  1344,
  1345,
  1346,
  1347,
  1893,
  1894,
  1895,
  1896,
  1897,
  1898,
  1899,
  1900,
  1901,
  1902,
  1903,
  1904,
  1905,
  1906,
  1907,
  1908,
  1909,
  2279,
  2280,
  2281,
  2282,
  2283,

In [3]:
print(1367//60,1367%60)

22 47

# win_loss classifier

In [19]:
for game in data.keys():
    data[game] = data[game][['blue_gold','blue_towers','blue_totalKills']]
    data[game].columns = ['gold','tower','kill']

In [20]:
data

{'102844212430075086':        gold tower kill
 0      2500     0    0
 1      2500     0    0
 2      2500     0    0
 3      2500     0    0
 4      2500     0    0
 ...     ...   ...  ...
 2278  61767     3    8
 2279  61767     3    8
 2280  61864     3    8
 2281  61875     3    8
 2282  61885     3    8

 [2283 rows x 3 columns], '102844212430271695':        gold tower kill
 0      2500     0    0
 1      2500     0    0
 2      2500     0    0
 3      2500     0    0
 4      2500     0    0
 ...     ...   ...  ...
 2023  41176     1    7
 2024  41196     1    7
 2025  41196     1    7
 2026  41207     1    7
 2027  41217     1    7

 [2028 rows x 3 columns], '102844212429092040':        gold tower kill
 0      2500     0    0
 1      2500     0    0
 2      2500     0    0
 3      2500     0    0
 4      2500     0    0
 ...     ...   ...  ...
 2250  69029     9   18
 2251  69029     9   18
 2252  69039     9   18
 2253  69049     9   18
 2254  69059     9   18

 [2255 rows x 3 columns], '102844212430402768':        gold tower kill
 0      2500     0    0
 1      2500     0    0
 2      2500     0    0
 3      2500     0    0
 4      2500     0    0
 ...     ...   ...  ...
 2363  64403     3   12
 2364  64414     3   12
 2365  64424     3   12
 2366  64434     3   12
 2367  64450     3   12

 [2368 rows x 3 columns], '102844212430599377':        gold tower kill
 0      2500     0    0
 1      2500     0    0
 2      2500     0    0
 3      2500     0    0
 4      2500     0    0
 ...     ...   ...  ...
 2335  59959     1    2
 2336  59969     1    2
 2337  59979     1    2
 2338  59989     1    2
 2339  59999     1    2

 [2340 rows x 3 columns], '102844212429747404':        gold tower kill
 0      2500     0    0
 1      2500     0    0
 2      2500     0    0
 3      2500     0    0
 4      2500     0    0
 ...     ...   ...  ...
 1804  56801    11   13
 1805  56862    11   13
 1806  56872    11   13
 1807  56882    11   13
 1808  56892    11   13

 [1809 rows x 3 columns], '102844224148503678':        gold tower kill
 0      2500     0    0
 1      2500     0    0
 2      2500     0    0
 3      2500     0    0
 4      2500     0    0
 ...     ...   ...  ...
 2072  56058     2   12
 2073  56069     2   12
 2074  56079     2   12
 2075  56089     2   12
 2076  56100     2   12

 [2077 rows x 3 columns], '102844212428895431':        gold tower kill
 0      2500     0    0
 1      2500     0    0
 2      2500     0    0
 3      2500     0    0
 4      2500     0    0
 ...     ...   ...  ...
 2049  56071     4    5
 2050  56081     4    5
 2051  56091     4    5
 2052  56102     4    5
 2053  56112     4    5

 [2054 rows x 3 columns], '102844224148896895':        gold tower kill
 0      2500     0    0
 1      2500     0    0
 2      2500     0    0
 3      2500     0    0
 4      2500     0    0
 ...     ...   ...  ...
 1803  63770    11   22
 1804  63791    11   22
 1805  63801    11   22
 1806  63813    11   22
 1807  63828    11   22

 [1808 rows x 3 columns], '102844212430730450':        gold tower kill
 0      2500     0    0
 1      2500     0    0
 2      2500     0    0
 3      2500     0    0
 4      2500     0    0
 ...     ...   ...  ...
 2397  75749     8   21
 2398  75809     8   21
 2399  75819     8   21
 2400  75830     8   21
 2401  75840     8   21

 [2402 rows x 3 columns], '102844224146472059':        gold tower kill
 0      2500     0    0
 1      2500     0    0
 2      2500     0    0
 3      2500     0    0
 4      2500     0    0
 ...     ...   ...  ...
 1452  37095     2    3
 1453  37106     2    3
 1454  37116     2    3
 1455  37126     2    3
 1456  37136     2    3

 [1457 rows x 3 columns], '102844212429419722':        gold tower kill
 0      2500     0    0
 1      2500     0    0
 2      2500     0    0
 3      2500     0    0
 4      2500     0    0
 ...     ...   ...  ...
 1796  49939     3    9
 1797  49949     3    9
 1798  49959     3    9
 1799  49959     3    9
 1800  49969     3    9

 [1801 rows x 3 columns], '102844212429288649':        gold tower kill
 0      2500     0    0
 1      2500     0    0
 2      2500     0    0
 3      2500     0    0
 4      2500     0    0
 ...     ...   ...  ...
 2917  70543    11   14
 2918  70553    11   14
 2919  70563    11   14
 2920  70573    11   14
 2921  70584    11   14

 [2922 rows x 3 columns], '102844212431779031':        gold tower kill
 0      2500     0    0
 1      2500     0    0
 2      2500     0    0
 3      2500     0    0
 4      2500     0    0
 ...     ...   ...  ...
 2014  54344     2    8
 2015  54360     2    8
 2016  54370     2    8
 2017  54380     2    8
 2018  54390     2    8

 [2019 rows x 3 columns], '102844212431058132':        gold tower kill
 0      2500     0    0
 1      2500     0    0
 2      2500     0    0
 3      2500     0    0
 4      2500     0    0
 ...     ...   ...  ...
 2465  67734     9   10
 2466  67745     9   10
 2467  67755     9   10
 2468  67765     9   10
 2469  67775     9   10

 [2470 rows x 3 columns], '102844212430927059':         gold tower kill
 0       2500     0    0
 1       2500     0    0
 2       2500     0    0
 3       2500     0    0
 4       2500     0    0
 ...      ...   ...  ...
 3799  112580    11   21
 3800  112640    11   21
 3801  112656    11   21
 3802  112667    11   21
 3803  112677    11   21

 [3804 rows x 3 columns], '102844212429550795':        gold tower kill
 0      2500     0    0
 1      2500     0    0
 2      2500     0    0
 3      2500     0    0
 4      2500     0    0
 ...     ...   ...  ...
 1470  49459    10   13
 1471  49469    10   13
 1472  49479    10   13
 1473  49490    10   13
 1474  49500    10   13

 [1475 rows x 3 columns], '102844212431320277':        gold tower kill
 0      2500     0    0
 1      2500     0    0
 2      2500     0    0
 3      2500     0    0
 4      2500     0    0
 ...     ...   ...  ...
 2442  68774     4   17
 2443  68785     4   17
 2444  68795     4   17
 2445  68805     4   17
 2446  68816     4   17

 [2447 rows x 3 columns], '102904869420860038':        gold tower kill
 0      2500     0    0
 1      2500     0    0
 2      2500     0    0
 3      2500     0    0
 4      2500     0    0
 ...     ...   ...  ...
 1697  42094     2    2
 1698  42115     2    2
 1699  42125     2    2
 1700  42135     2    2
 1701  42146     2    2

 [1702 rows x 3 columns], '102844224147717245':        gold tower kill
 0      2500     0    0
 1      2500     0    0
 2      2500     0    0
 3      2500     0    0
 4      2500     0    0
 ...     ...   ...  ...
 1832  60644     9   15
 1833  60704     9   15
 1834  60716     9   15
 1835  60726     9   15
 1836  60737     9   15

 [1837 rows x 3 columns], '102844212431975640':        gold tower kill
 0      2500     0    0
 1      2500     0    0
 2      2500     0    0
 3      2500     0    0
 4      2500     0    0
 ...     ...   ...  ...
 2359  71615     9   13
 2360  71686     9   13
 2361  71696     9   13
 2362  71706     9   13
 2363  71716     9   13

 [2364 rows x 3 columns], '102844224145685626':        gold tower kill
 0      2500     0    0
 1      2500     0    0
 2      2500     0    0
 3      2500     0    0
 4      2500     0    0
 ...     ...   ...  ...
 1687  45333     2    7
 1688  45343     2    7
 1689  45353     2    7
 1690  45364     2    7
 1691  45374     2    7

 [1692 rows x 3 columns], '102844212429944013':        gold tower kill
 0      2500     0    0
 1      2500     0    0
 2      2500     0    0
 3      2500     0    0
 4      2500     0    0
 ...     ...   ...  ...
 2044  63127     7   17
 2045  63137     7   17
 2046  63149     7   17
 2047  63159     7   17
 2048  63169     7   17

 [2049 rows x 3 columns], '102844224146930812':        gold tower kill
 0      2500     0    0
 1      2500     0    0
 2      2500     0    0
 3      2500     0    0
 4      2500     0    0
 ...     ...   ...  ...
 2429  69994     3   12
 2430  70005     3   12
 2431  70015     3   12
 2432  70025     3   12
 2433  70035     3   12

 [2434 rows x 3 columns], '102844212431516886':        gold tower kill
 0      2500     0    0
 1      2500     0    0
 2      2500     0    0
 3      2500     0    0
 4      2500     0    0
 ...     ...   ...  ...
 1816  48455     4    2
 1817  48465     4    2
 1818  48475     4    2
 1819  48486     4    2
 1820  48496     4    2

 [1821 rows x 3 columns], '102910307641576395':        gold tower kill
 0      2500     0    0
 1      2500     0    0
 2      2500     0    0
 3      2500     0    0
 4      2500     0    0
 ...     ...   ...  ...
 1669  54257    11   15
 1670  54267    11   15
 1671  54283    11   15
 1672  54293    11   15
 1673  54308    11   15

 [1674 rows x 3 columns], '102844341902586509':        gold tower kill
 0      2500     0    0
 1      2500     0    0
 2      2500     0    0
 3      2500     0    0
 4      2500     0    0
 ...     ...   ...  ...
 2137  63401     3    9
 2138  63401     3    9
 2139  63412     3    9
 2140  63422     3    9
 2141  63432     3    9

 [2142 rows x 3 columns], '102844341905404560':        gold tower kill
 0      2500     0    0
 1      2500     0    0
 2      2500     0    0
 3      2500     0    0
 4      2500     0    0
 ...     ...   ...  ...
 1878  61792    11   12
 1879  61803    11   12
 1880  61813    11   12
 1881  61824    11   12
 1882  61835    11   12

 [1883 rows x 3 columns], '102844401153971877':        gold tower kill
 0      2500     0    0
 1      2500     0    0
 2      2500     0    0
 3      2500     0    0
 4      2500     0    0
 ...     ...   ...  ...
 1774  52589     6   10
 1775  52654     6   10
 1776  52664     6   10
 1777  52674     6   10
 1778  52684     6   10

 [1779 rows x 3 columns], '102844401152071328':        gold tower kill
 0      2500     0    0
 1      2500     0    0
 2      2500     0    0
 3      2500     0    0
 4      2500     0    0
 ...     ...   ...  ...
 1859  51207     2    9
 1860  51228     2    9
 1861  51238     2    9
 1862  51249     2    9
 1863  51259     2    9

 [1864 rows x 3 columns], '102844294670878922':        gold tower kill
 0      2500     0    0
 1      2500     0    0
 2      2500     0    0
 3      2500     0    0
 4      2500     0    0
 ...     ...   ...  ...
 2194  68624     9   18
 2195  68686     9   18
 2196  68696     9   18
 2197  68696     9   18
 2198  68706     9   18

 [2199 rows x 3 columns], '102844294667405508':        gold tower kill
 0      2500     0    0
 1      2500     0    0
 2      2500     0    0
 3      2500     0    0
 4      2500     0    0
 ...     ...   ...  ...
 1822  50587     3    3
 1823  50597     3    3
 1824  50608     3    3
 1825  50618     3    3
 1826  50628     3    3

 [1827 rows x 3 columns], '102844341907370644':        gold tower kill
 0      2500     0    0
 1      2500     0    0
 2      2500     0    0
 3      2500     0    0
 4      2500     0    0
 ...     ...   ...  ...
 2558  82600    10   18
 2559  82674    10   18
 2560  82685    10   18
 2561  82695    10   18
 2562  82705    10   18

 [2563 rows x 3 columns], '102844341909598870':        gold tower kill
 0      2500     0    0
 1      2500     0    0
 2      2500     0    0
 3      2500     0    0
 4      2500     0    0
 ...     ...   ...  ...
 2339  74921     8   23
 2340  74931     8   23
 2341  74942     8   23
 2342  74952     8   23
 2343  74963     8   23

 [2344 rows x 3 columns], '102844401155937960':        gold tower kill
 0      2500     0    0
 1      2500     0    0
 2      2500     0    0
 3      2500     0    0
 4      2500     0    0
 ...     ...   ...  ...
 2021  58715     5   11
 2022  58725     5   11
 2023  58735     5   11
 2024  58746     5   11
 2025  58757     5   11

 [2026 rows x 3 columns], '102844401154430631':        gold tower kill
 0      2500     0    0
 1      2500     0    0
 2      2500     0    0
 3      2500     0    0
 4      2500     0    0
 ...     ...   ...  ...
 1651  42056     1    6
 1652  42066     1    6
 1653  42076     1    6
 1654  42087     1    6
 1655  42102     1    6

 [1656 rows x 3 columns], '102844283027531868':        gold tower kill
 0      2500     0    0
 1      2500     0    0
 2      2500     0    0
 3      2500     0    0
 4      2500     0    0
 ...     ...   ...  ...
 1783  48787     2    7
 1784  48807     2    7
 1785  48818     2    7
 1786  48828     2    7
 1787  48838     2    7

 [1788 rows x 3 columns], '102844283020453971':        gold tower kill
 0      2500     0    0
 1      2500     0    0
 2      2500     0    0
 3      2500     0    0
 4      2500     0    0
 ...     ...   ...  ...
 2816  88994    10   18
 2817  89054    10   18
 2818  89064    10   18
 2819  89074    10   18
 2820  89086    10   18

 [2821 rows x 3 columns], '102844401152267937':        gold tower kill
 0      2500     0    0
 1      2500     0    0
 2      2500     0    0
 3      2500     0    0
 4      2500     0    0
 ...     ...   ...  ...
 2288  66888     6   13
 2289  66888     6   13
 2290  66908     6   13
 2291  66919     6   13
 2292  66929     6   13

 [2293 rows x 3 columns], '102844401153578660':        gold tower kill
 0      2500     0    0
 1      2500     0    0
 2      2500     0    0
 3      2500     0    0
 4      2500     0    0
 ...     ...   ...  ...
 2517  74683     6   22
 2518  74694     6   22
 2519  74704     6   22
 2520  74714     6   22
 2521  74724     6   22

 [2522 rows x 3 columns], '102844294669568199':        gold tower kill
 0      2500     0    0
 1      2500     0    0
 2      2500     0    0
 3      2500     0    0
 4      2500     0    0
 ...     ...   ...  ...
 2088  68338     9   17
 2089  68338     9   18
 2090  68879     9   18
 2091  68889     9   18
 2092  68899     9   18

 [2093 rows x 3 columns], '102844294670551241':        gold tower kill
 0      2500     0    0
 1      2500     0    0
 2      2500     0    0
 3      2500     0    0
 4      2500     0    0
 ...     ...   ...  ...
 2341  66079     1   12
 2342  66090     1   12
 2343  66100     1   12
 2344  66110     1   12
 2345  66120     1   12

 [2346 rows x 3 columns], '102844283027925085':        gold tower kill
 0      2500     0    0
 1      2500     0    0
 2      2500     0    0
 3      2500     0    0
 4      2500     0    0
 ...     ...   ...  ...
 2265  74118     8   16
 2266  74220     8   16
 2267  74231     8   16
 2268  74241     8   16
 2269  74252     8   16

 [2270 rows x 3 columns], '102844283023599703':        gold tower kill
 0      2500     0    0
 1      2500     0    0
 2      2500     0    0
 3      2500     0    0
 4      2500     0    0
 ...     ...   ...  ...
 1472  53505    10   26
 1473  53565    10   26
 1474  53577    10   26
 1475  53587    10   26
 1476  53602    10   26

 [1477 rows x 3 columns], '102844341906649746':        gold tower kill
 0      2500     0    0
 1      2500     0    0
 2      2500     0    0
 3      2500     0    0
 4      2500     0    0
 ...     ...   ...  ...
 2175  69884     9   15
 2176  69890     9   15
 2177  69905     9   15
 2178  69916     9   15
 2179  69926     9   15

 [2180 rows x 3 columns], '102844341906256529':        gold tower kill
 0      2500     0    0
 1      2500     0    0
 2      2500     0    0
 3      2500     0    0
 4      2500     0    0
 ...     ...   ...  ...
 1746  36752     0    2
 1747  36773     0    2
 1748  36783     0    2
 1749  36793     0    2
 1750  36803     0    2

 [1751 rows x 3 columns], '102844294667995333':        gold tower kill
 0      2500     0    0
 1      2500     0    0
 2      2500     0    0
 3      2500     0    0
 4      2500     0    0
 ...     ...   ...  ...
 1814  50656    10   19
 1815  50716    10   19
 1816  50726    10   19
 1817  50737    10   19
 1818  50747    10   19

 [1819 rows x 3 columns], '102844294674286796':        gold tower kill
 0      2500     0    0
 1      2500     0    0
 2      2500     0    0
 3      2500     0    0
 4      2500     0    0
 ...     ...   ...  ...
 2675  74826     4    5
 2676  74836     4    5
 2677  74846     4    5
 2678  74856     4    5
 2679  74867     4    5

 [2680 rows x 3 columns], '102844283025696858':        gold tower kill
 0      2500     0    0
 1      2500     0    0
 2      2500     0    0
 3      2500     0    0
 4      2500     0    0
 ...     ...   ...  ...
 2602  81034     7    8
 2603  81045     7    8
 2604  81055     7    8
 2605  81065     7    8
 2606  81075     7    8

 [2607 rows x 3 columns], '102844283023206486':        gold tower kill
 0      2500     0    0
 1      2500     0    0
 2      2500     0    0
 3      2500     0    0
 4      2500     0    0
 ...     ...   ...  ...
 1831  50921     4   10
 1832  50932     4   10
 1833  50942     4   10
 1834  50952     4   10
 1835  50963     4   10

 [1836 rows x 3 columns], '102844294674876621':        gold tower kill
 0      2500     0    0
 1      2500     0    0
 2      2500     0    0
 3      2500     0    0
 4      2500     0    0
 ...     ...   ...  ...
 1714  46751     2    6
 1715  46751     2    6
 1716  46776     2    6
 1717  46786     2    6
 1718  46796     2    6

 [1719 rows x 3 columns], '102844294670026952':        gold tower kill
 0      2500     0    0
 1      2500     0    0
 2      2500     0    0
 3      2500     0    0
 4      2500     0    0
 ...     ...   ...  ...
 1703  42843     2    5
 1704  42853     2    5
 1705  42863     2    5
 1706  42873     2    5
 1707  42883     2    5

 [1708 rows x 3 columns], '102844294666881219':        gold tower kill
 0      2500     0    0
 1      2500     0    0
 2      2500     0    0
 3      2500     0    0
 4      2500     0    0
 ...     ...   ...  ...
 1604  42490     1    9
 1605  42500     1    9
 1606  42510     1    9
 1607  42520     1    9
 1608  42530     1    9

 [1609 rows x 3 columns], '102844294671796427':        gold tower kill
 0      2500     0    0
 1      2500     0    0
 2      2500     0    0
 3      2500     0    0
 4      2500     0    0
 ...     ...   ...  ...
 2050  66730    11   20
 2051  66741    11   20
 2052  66801    11   20
 2053  66811    11   20
 2054  66822    11   20

 [2055 rows x 3 columns], '102844294666422466':        gold tower kill
 0      2500     0    0
 1      2500     0    0
 2      2500     0    0
 3      2500     0    0
 4      2500     0    0
 ...     ...   ...  ...
 1984  68038     8   20
 1985  68048     8   20
 1986  68058     8   20
 1987  68069     8   20
 1988  68080     8   20

 [1989 rows x 3 columns], '102844294669109446':        gold tower kill
 0      2500     0    0
 1      2500     0    0
 2      2500     0    0
 3      2500     0    0
 4      2500     0    0
 ...     ...   ...  ...
 1557  54522    10   20
 1558  54582    10   20
 1559  54592    10   20
 1560  54604    10   20
 1561  54614    10   20

 [1562 rows x 3 columns], '102979081290790284':        gold tower kill
 0      2500     0    0
 1      2500     0    0
 2      2500     0    0
 3      2500     0    0
 4      2500     0    0
 ...     ...   ...  ...
 2330  75752    10   16
 2331  75812    10   16
 2332  75822    10   16
 2333  75837    10   16
 2334  75848    10   16

 [2335 rows x 3 columns], '102844283022747733':        gold tower kill
 0      2500     0    0
 1      2500     0    0
 2      2500     0    0
 3      2500     0    0
 4      2500     0    0
 ...     ...   ...  ...
 1429  53113     9   21
 1430  53175     9   21
 1431  53185     9   21
 1432  53196     9   21
 1433  53206     9   21

 [1434 rows x 3 columns], '102844283026548827':        gold tower kill
 0      2500     0    0
 1      2500     0    0
 2      2500     0    0
 3      2500     0    0
 4      2500     0    0
 ...     ...   ...  ...
 1777  59725    11   14
 1778  59736    11   14
 1779  59746    11   14
 1780  59756    11   14
 1781  59766    11   14

 [1782 rows x 3 columns], '102844283024648280':        gold tower kill
 0      2500     0    0
 1      2500     0    0
 2      2500     0    0
 3      2500     0    0

In [21]:
#normalization
for game in data.keys():
    goldSum = data[game]['gold'].sum()+len(data[game])
    towerSum = data[game]['tower'].sum()+len(data[game])
    killSum = data[game]['kill'].sum()+len(data[game])

    data[game]['gold'] = list(map(lambda x:(x+1)/goldSum, data[game]['gold']))
    data[game]['tower'] = list(map(lambda x:(x+1)/towerSum, data[game]['tower']))
    data[game]['kill'] = list(map(lambda x:(x+1)/killSum, data[game]['kill']))

/home/ubuntu/.local/lib/python3.6/site-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
/home/ubuntu/.local/lib/python3.6/site-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/home/ubuntu/.local/lib/python3.6/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':

In [22]:
data

{'102844212430075086':           gold     tower      kill
 0     0.000037  0.000198  0.000104
 1     0.000037  0.000198  0.000104
 2     0.000037  0.000198  0.000104
 3     0.000037  0.000198  0.000104
 4     0.000037  0.000198  0.000104
 ...        ...       ...       ...
 2278  0.000914  0.000793  0.000937
 2279  0.000914  0.000793  0.000937
 2280  0.000916  0.000793  0.000937
 2281  0.000916  0.000793  0.000937
 2282  0.000916  0.000793  0.000937

 [2283 rows x 3 columns],
 '102844212430271695':           gold     tower      kill
 0     0.000053  0.000323  0.000121
 1     0.000053  0.000323  0.000121
 2     0.000053  0.000323  0.000121
 3     0.000053  0.000323  0.000121
 4     0.000053  0.000323  0.000121
 ...        ...       ...       ...
 2023  0.000879  0.000646  0.000968
 2024  0.000880  0.000646  0.000968
 2025  0.000880  0.000646  0.000968
 2026  0.000880  0.000646  0.000968
 2027  0.000880  0.000646  0.000968

 [2028 rows x 3 columns],
 '102844212429092040':           gold     tower      kill
 0     0.000034  0.000120  0.000067
 1     0.000034  0.000120  0.000067
 2     0.000034  0.000120  0.000067
 3     0.000034  0.000120  0.000067
 4     0.000034  0.000120  0.000067
 ...        ...       ...       ...
 2250  0.000938  0.001199  0.001277
 2251  0.000938  0.001199  0.001277
 2252  0.000938  0.001199  0.001277
 2253  0.000938  0.001199  0.001277
 2254  0.000938  0.001199  0.001277

 [2255 rows x 3 columns],
 '102844212430402768':           gold     tower      kill
 0     0.000032  0.000198  0.000058
 1     0.000032  0.000198  0.000058
 2     0.000032  0.000198  0.000058
 3     0.000032  0.000198  0.000058
 4     0.000032  0.000198  0.000058
 ...        ...       ...       ...
 2363  0.000823  0.000792  0.000758
 2364  0.000823  0.000792  0.000758
 2365  0.000823  0.000792  0.000758
 2366  0.000823  0.000792  0.000758
 2367  0.000824  0.000792  0.000758

 [2368 rows x 3 columns],
 '102844212430599377':           gold     tower      kill
 0     0.000036  0.000367  0.000225
 1     0.000036  0.000367  0.000225
 2     0.000036  0.000367  0.000225
 3     0.000036  0.000367  0.000225
 4     0.000036  0.000367  0.000225
 ...        ...       ...       ...
 2335  0.000867  0.000733  0.000675
 2336  0.000867  0.000733  0.000675
 2337  0.000867  0.000733  0.000675
 2338  0.000867  0.000733  0.000675
 2339  0.000868  0.000733  0.000675

 [2340 rows x 3 columns],
 '102844212429747404':           gold     tower      kill
 0     0.000054  0.000201  0.000099
 1     0.000054  0.000201  0.000099
 2     0.000054  0.000201  0.000099
 3     0.000054  0.000201  0.000099
 4     0.000054  0.000201  0.000099
 ...        ...       ...       ...
 1804  0.001217  0.002414  0.001383
 1805  0.001219  0.002414  0.001383
 1806  0.001219  0.002414  0.001383
 1807  0.001219  0.002414  0.001383
 1808  0.001219  0.002414  0.001383

 [1809 rows x 3 columns],
 '102844224148503678':           gold     tower      kill
 0     0.000043  0.000296  0.000073
 1     0.000043  0.000296  0.000073
 2     0.000043  0.000296  0.000073
 3     0.000043  0.000296  0.000073
 4     0.000043  0.000296  0.000073
 ...        ...       ...       ...
 2072  0.000969  0.000888  0.000948
 2073  0.000969  0.000888  0.000948
 2074  0.000969  0.000888  0.000948
 2075  0.000969  0.000888  0.000948
 2076  0.000969  0.000888  0.000948

 [2077 rows x 3 columns],
 '102844212428895431':           gold     tower      kill
 0     0.000043  0.000198  0.000145
 1     0.000043  0.000198  0.000145
 2     0.000043  0.000198  0.000145
 3     0.000043  0.000198  0.000145
 4     0.000043  0.000198  0.000145
 ...        ...       ...       ...
 2049  0.000963  0.000988  0.000868
 2050  0.000963  0.000988  0.000868
 2051  0.000963  0.000988  0.000868
 2052  0.000963  0.000988  0.000868
 2053  0.000964  0.000988  0.000868

 [2054 rows x 3 columns],
 '102844224148896895':           gold     tower      kill
 0     0.000050  0.000187  0.000068
 1     0.000050  0.000187  0.000068
 2     0.000050  0.000187  0.000068
 3     0.000050  0.000187  0.000068
 4     0.000050  0.000187  0.000068
 ...        ...       ...       ...
 1803  0.001279  0.002248  0.001572
 1804  0.001280  0.002248  0.001572
 1805  0.001280  0.002248  0.001572
 1806  0.001280  0.002248  0.001572
 1807  0.001281  0.002248  0.001572

 [1808 rows x 3 columns],
 '102844212430730450':           gold     tower      kill
 0     0.000030  0.000122  0.000056
 1     0.000030  0.000122  0.000056
 2     0.000030  0.000122  0.000056
 3     0.000030  0.000122  0.000056
 4     0.000030  0.000122  0.000056
 ...        ...       ...       ...
 2397  0.000922  0.001094  0.001224
 2398  0.000923  0.001094  0.001224
 2399  0.000923  0.001094  0.001224
 2400  0.000923  0.001094  0.001224
 2401  0.000923  0.001094  0.001224

 [2402 rows x 3 columns],
 '102844224146472059':           gold     tower      kill
 0     0.000091  0.000426  0.000364
 1     0.000091  0.000426  0.000364
 2     0.000091  0.000426  0.000364
 3     0.000091  0.000426  0.000364
 4     0.000091  0.000426  0.000364
 ...        ...       ...       ...
 1452  0.001350  0.001279  0.001457
 1453  0.001351  0.001279  0.001457
 1454  0.001351  0.001279  0.001457
 1455  0.001351  0.001279  0.001457
 1456  0.001352  0.001279  0.001457

 [1457 rows x 3 columns],
 '102844212429419722':           gold     tower      kill
 0     0.000055  0.000272  0.000099
 1     0.000055  0.000272  0.000099
 2     0.000055  0.000272  0.000099
 3     0.000055  0.000272  0.000099
 4     0.000055  0.000272  0.000099
 ...        ...       ...       ...
 1796  0.001095  0.001089  0.000986
 1797  0.001096  0.001089  0.000986
 1798  0.001096  0.001089  0.000986
 1799  0.001096  0.001089  0.000986
 1800  0.001096  0.001089  0.000986

 [1801 rows x 3 columns],
 '102844212429288649':           gold     tower      kill
 0     0.000028  0.000107  0.000060
 1     0.000028  0.000107  0.000060
 2     0.000028  0.000107  0.000060
 3     0.000028  0.000107  0.000060
 4     0.000028  0.000107  0.000060
 ...        ...       ...       ...
 2917  0.000784  0.001280  0.000896
 2918  0.000785  0.001280  0.000896
 2919  0.000785  0.001280  0.000896
 2920  0.000785  0.001280  0.000896
 2921  0.000785  0.001280  0.000896

 [2922 rows x 3 columns],
 '102844212431779031':           gold     tower      kill
 0     0.000046  0.000327  0.000137
 1     0.000046  0.000327  0.000137
 2     0.000046  0.000327  0.000137
 3     0.000046  0.000327  0.000137
 4     0.000046  0.000327  0.000137
 ...        ...       ...       ...
 2014  0.000991  0.000982  0.001231
 2015  0.000991  0.000982  0.001231
 2016  0.000991  0.000982  0.001231
 2017  0.000991  0.000982  0.001231
 2018  0.000992  0.000982  0.001231

 [2019 rows x 3 columns],
 '102844212431058132':           gold     tower      kill
 0     0.000030  0.000099  0.000089
 1     0.000030  0.000099  0.000089
 2     0.000030  0.000099  0.000089
 3     0.000030  0.000099  0.000089
 4     0.000030  0.000099  0.000089
 ...        ...       ...       ...
 2465  0.000804  0.000987  0.000984
 2466  0.000804  0.000987  0.000984
 2467  0.000804  0.000987  0.000984
 2468  0.000804  0.000987  0.000984
 2469  0.000804  0.000987  0.000984

 [2470 rows x 3 columns],
 '102844212430927059':           gold     tower      kill
 0     0.000012  0.000051  0.000031
 1     0.000012  0.000051  0.000031
 2     0.000012  0.000051  0.000031
 3     0.000012  0.000051  0.000031
 4     0.000012  0.000051  0.000031
 ...        ...       ...       ...
 3799  0.000534  0.000611  0.000672
 3800  0.000534  0.000611  0.000672
 3801  0.000534  0.000611  0.000672
 3802  0.000534  0.000611  0.000672
 3803  0.000534  0.000611  0.000672

 [3804 rows x 3 columns],
 '102844212429550795':           gold     tower      kill
 0     0.000081  0.000279  0.000262
 1     0.000081  0.000279  0.000262
 2     0.000081  0.000279  0.000262
 3     0.000081  0.000279  0.000262
 4     0.000081  0.000279  0.000262
 ...        ...       ...       ...
 1470  0.001601  0.003074  0.003674
 1471  0.001602  0.003074  0.003674
 1472  0.001602  0.003074  0.003674
 1473  0.001602  0.003074  0.003674
 1474  0.001603  0.003074  0.003674

 [1475 rows x 3 columns],
 '102844212431320277':           gold     tower      kill
 0     0.000032  0.000156  0.000062
 1     0.000032  0.000156  0.000062
 2     0.000032  0.000156  0.000062
 3     0.000032  0.000156  0.000062
 4     0.000032  0.000156  0.000062
 ...        ...       ...       ...
 2442  0.000870  0.000782  0.001114
 2443  0.000870  0.000782  0.001114
 2444  0.000870  0.000782  0.001114
 2445  0.000871  0.000782  0.001114
 2446  0.000871  0.000782  0.001114

 [2447 rows x 3 columns],
 '102904869420860038':           gold     tower      kill
 0     0.000069  0.000355  0.000336
 1     0.000069  0.000355  0.000336
 2     0.000069  0.000355  0.000336
 3     0.000069  0.000355  0.000336
 4     0.000069  0.000355  0.000336
 ...        ...       ...       ...
 1697  0.001165  0.001065  0.001009
 1698  0.001166  0.001065  0.001009
 1699  0.001166  0.001065  0.001009
 1700  0.001167  0.001065  0.001009
 1701  0.001167  0.001065  0.001009

 [1702 rows x 3 columns],
 '102844224147717245':           gold     tower      kill
 0     0.000050  0.000208  0.000111
 1     0.000050  0.000208  0.000111
 2     0.000050  0.000208  0.000111
 3     0.000050  0.000208  0.000111
 4     0.000050  0.000208  0.000111
 ...        ...       ...       ...
 1832  0.001215  0.002076  0.001781
 1833  0.001216  0.002076  0.001781
 1834  0.001216  0.002076  0.001781
 1835  0.001217  0.002076  0.001781
 1836  0.001217  0.002076  0.001781

 [1837 rows x 3 columns],
 '102844212431975640':           gold     tower      kill
 0     0.000033  0.000195  0.000135
 1     0.000033  0.000195  0.000135
 2     0.000033  0.000195  0.000135
 3     0.000033  0.000195  0.000135
 4     0.000033  0.000195  0.000135
 ...        ...       ...       ...
 2359  0.000936  0.001947  0.001886
 2360  0.000937  0.001947  0.001886
 2361  0.000937  0.001947  0.001886
 2362  0.000938  0.001947  0.001886
 2363  0.000938  0.001947  0.001886

 [2364 rows x 3 columns],
 '102844224145685626':           gold     tower      kill
 0     0.000062  0.000291  0.000116
 1     0.000062  0.000291  0.000116
 2     0.000062  0.000291  0.000116
 3     0.000062  0.000291  0.000116
 4     0.000062  0.000291  0.000116
 ...        ...       ...       ...
 1687  0.001130  0.000873  0.000928
 1688  0.001130  0.000873  0.000928
 1689  0.001131  0.000873  0.000928
 1690  0.001131  0.000873  0.000928
 1691  0.001131  0.000873  0.000928

 [1692 rows x 3 columns],
 '102844212429944013':           gold     tower      kill
 0     0.000041  0.000208  0.000062
 1     0.000041  0.000208  0.000062
 2     0.000041  0.000208  0.000062
 3     0.000041  0.000208  0.000062
 4     0.000041  0.000208  0.000062
 ...        ...       ...       ...
 2044  0.001038  0.001665  0.001123
 2045  0.001038  0.001665  0.001123
 2046  0.001038  0.001665  0.001123
 2047  0.001038  0.001665  0.001123
 2048  0.001038  0.001665  0.001123

 [2049 rows x 3 columns],
 '102844224146930812':           gold     tower      kill
 0     0.000031  0.000214  0.000079
 1     0.000031  0.000214  0.000079
 2     0.000031  0.000214  0.000079
 3     0.000031  0.000214  0.000079
 4     0.000031  0.000214  0.000079
 ...        ...       ...       ...
 2429  0.000880  0.000855  0.001032
 2430  0.000880  0.000855  0.001032
 2431  0.000880  0.000855  0.001032
 2432  0.000880  0.000855  0.001032
 2433  0.000880  0.000855  0.001032

 [2434 rows x 3 columns],
 '102844212431516886':           gold     tower      kill
 0     0.000058  0.000238  0.000476
 1     0.000058  0.000238  0.000476
 2     0.000058  0.000238  0.000476
 3     0.000058  0.000238  0.000476
 4     0.000058  0.000238  0.000476
 ...        ...       ...       ...
 1816  0.001132  0.001192  0.001429
 1817  0.001132  0.001192  0.001429
 1818  0.001133  0.001192  0.001429
 1819  0.001133  0.001192  0.001429
 1820  0.001133  0.001192  0.001429

 [1821 rows x 3 columns],
 '102910307641576395':           gold     tower      kill
 0     0.000061  0.000186  0.000116
 1     0.000061  0.000186  0.000116
 2     0.000061  0.000186  0.000116
 3     0.000061  0.000186  0.000116
 4     0.000061  0.000186  0.000116
 ...        ...       ...       ...
 1669  0.001330  0.002231  0.001861
 1670  0.001330  0.002231  0.001861
 1671  0.001331  0.002231  0.001861
 1672  0.001331  0.002231  0.001861
 1673  0.001331  0.002231  0.001861

 [1674 rows x 3 columns],
 '102844341902586509':           gold     tower      kill
 0     0.000038  0.000221  0.000146
 1     0.000038  0.000221  0.000146
 2     0.000038  0.000221  0.000146
 3     0.000038  0.000221  0.000146
 4     0.000038  0.000221  0.000146
 ...        ...       ...       ...
 2137  0.000974  0.000884  0.001463
 2138  0.000974  0.000884  0.001463
 2139  0.000975  0.000884  0.001463
 2140  0.000975  0.000884  0.001463
 2141  0.000975  0.000884  0.001463

 [2142 rows x 3 columns],
 '102844341905404560':           gold     tower      kill
 0     0.000048  0.000197  0.000107
 1     0.000048  0.000197  0.000107
 2     0.000048  0.000197  0.000107
 3     0.000048  0.000197  0.000107
 4     0.000048  0.000197  0.000107
 ...        ...       ...       ...
 1878  0.001178  0.002367  0.001388
 1879  0.001178  0.002367  0.001388
 1880  0.001178  0.002367  0.001388
 1881  0.001179  0.002367  0.001388
 1882  0.001179  0.002367  0.001388

 [1883 rows x 3 columns],
 '102844401153971877':           gold     tower      kill
 0     0.000057  0.000273  0.000194
 1     0.000057  0.000273  0.000194
 2     0.000057  0.000273  0.000194
 3     0.000057  0.000273  0.000194
 4     0.000057  0.000273  0.000194
 ...        ...       ...       ...
 1774  0.001191  0.001911  0.002133
 1775  0.001193  0.001911  0.002133
 1776  0.001193  0.001911  0.002133
 1777  0.001193  0.001911  0.002133
 1778  0.001194  0.001911  0.002133

 [1779 rows x 3 columns],
 '102844401152071328':           gold     tower      kill
 0     0.000053  0.000279  0.000111
 1     0.000053  0.000279  0.000111
 2     0.000053  0.000279  0.000111
 3     0.000053  0.000279  0.000111
 4     0.000053  0.000279  0.000111
 ...        ...       ...       ...
 1859  0.001077  0.000837  0.001108
 1860  0.001077  0.000837  0.001108
 1861  0.001077  0.000837  0.001108
 1862  0.001078  0.000837  0.001108
 1863  0.001078  0.000837  0.001108

 [1864 rows x 3 columns],
 '102844294670878922':           gold     tower      kill
 0     0.000037  0.000149  0.000099
 1     0.000037  0.000149  0.000099
 2     0.000037  0.000149  0.000099
 3     0.000037  0.000149  0.000099
 4     0.000037  0.000149  0.000099
 ...        ...       ...       ...
 2194  0.001020  0.001493  0.001880
 2195  0.001021  0.001493  0.001880
 2196  0.001021  0.001493  0.001880
 2197  0.001021  0.001493  0.001880
 2198  0.001021  0.001493  0.001880

 [2199 rows x 3 columns],
 '102844294667405508':           gold     tower      kill
 0     0.000057  0.000309  0.000401
 1     0.000057  0.000309  0.000401
 2     0.000057  0.000309  0.000401
 3     0.000057  0.000309  0.000401
 4     0.000057  0.000309  0.000401
 ...        ...       ...       ...
 1822  0.001148  0.001238  0.001604
 1823  0.001148  0.001238  0.001604
 1824  0.001148  0.001238  0.001604
 1825  0.001148  0.001238  0.001604
 1826  0.001149  0.001238  0.001604

 [1827 rows x 3 columns],
 '102844341907370644':           gold     tower      kill
 0     0.000024  0.000102  0.000037
 1     0.000024  0.000102  0.000037
 2     0.000024  0.000102  0.000037
 3     0.000024  0.000102  0.000037
 4     0.000024  0.000102  0.000037
 ...        ...       ...       ...
 2558  0.000801  0.001127  0.000701
 2559  0.000801  0.001127  0.000701
 2560  0.000802  0.001127  0.000701
 2561  0.000802  0.001127  0.000701
 2562  0.000802  0.001127  0.000701

 [2563 rows x 3 columns],
 '102844341909598870':           gold     tower     kill
 0     0.000031  0.000151  0.00005
 1     0.000031  0.000151  0.00005
 2     0.000031  0.000151  0.00005
 3     0.000031  0.000151  0.00005
 4     0.000031  0.000151  0.00005
 ...        ...       ...      ...
 2339  0.000940  0.001360  0.00121
 2340  0.000940  0.001360  0.00121
 2341  0.000941  0.001360  0.00121
 2342  0.000941  0.001360  0.00121
 2343  0.000941  0.001360  0.00121

 [2344 rows x 3 columns],
 '102844401155937960':           gold     tower      kill
 0     0.000042  0.000164  0.000072
 1     0.000042  0.000164  0.000072
 2     0.000042  0.000164  0.000072
 3     0.000042  0.000164  0.000072
 4     0.000042  0.000164  0.000072
 ...        ...       ...       ...
 2021  0.000994  0.000981  0.000867
 2022  0.000994  0.000981  0.000867
 2023  0.000994  0.000981  0.000867
 2024  0.000994  0.000981  0.000867
 2025  0.000994  0.000981  0.000867

 [2026 rows x 3 columns],
 '102844401154430631':           gold     tower      kill
 0     0.000071  0.000420  0.000176
 1     0.000071  0.000420  0.000176
 2     0.000071  0.000420  0.000176
 3     0.000071  0.000420  0.000176
 4     0.000071  0.000420  0.000176
 ...        ...       ...       ...
 1651  0.001200  0.000841  0.001230
 1652  0.001200  0.000841  0.001230
 1653  0.001201  0.000841  0.001230
 1654  0.001201  0.000841  0.001230
 1655  0.001201  0.000841  0.001230

 [1656 rows x 3 columns],
 '102844283027531868':           gold     tower      kill
 0     0.000057  0.000314  0.000136
 1     0.000057  0.000314  0.000136
 2     0.000057  0.000314  0.000136
 3     0.000057  0.000314  0.000136
 4     0.000057  0.000314  0.000136
 ...        ...       ...       ...
 1783  0.001121  0.000943  0.001087
 1784  0.001121  0.000943  0.001087
 1785  0.001121  0.000943  0.001087
 1786  0.001122  0.000943  0.001087
 1787  0.001122  0.000943  0.001087

 [1788 rows x 3 columns],
 '102844283020453971':           gold     tower      kill
 0     0.000022  0.000086  0.000054
 1     0.000022  0.000086  0.000054
 2     0.000022  0.000086  0.000054
 3     0.000022  0.000086  0.000054
 4     0.000022  0.000086  0.000054
 ...        ...       ...       ...
 2816  0.000766  0.000948  0.001027
 2817  0.000767  0.000948  0.001027
 2818  0.000767  0.000948  0.001027
 2819  0.000767  0.000948  0.001027
 2820  0.000767  0.000948  0.001027

 [2821 rows x 3 columns],
 '102844401152267937':           gold     tower      kill
 0     0.000033  0.000140  0.000093
 1     0.000033  0.000140  0.000093
 2     0.000033  0.000140  0.000093
 3     0.000033  0.000140  0.000093
 4     0.000033  0.000140  0.000093
 ...        ...       ...       ...
 2288  0.000894  0.000979  0.001305
 2289  0.000894  0.000979  0.001305
 2290  0.000894  0.000979  0.001305
 2291  0.000894  0.000979  0.001305
 2292  0.000894  0.000979  0.001305

 [2293 rows x 3 columns],
 '102844401153578660':           gold     tower      kill
 0     0.000027  0.000152  0.000039
 1     0.000027  0.000152  0.000039
 2     0.000027  0.000152  0.000039
 3     0.000027  0.000152  0.000039
 4     0.000027  0.000152  0.000039
 ...        ...       ...       ...
 2517  0.000816  0.001067  0.000895
 2518  0.000816  0.001067  0.000895
 2519  0.000816  0.001067  0.000895
 2520  0.000816  0.001067  0.000895
 2521  0.000816  0.001067  0.000895

 [2522 rows x 3 columns],
 '102844294669568199':           gold     tower      kill
 0     0.000039  0.000154  0.000071
 1     0.000039  0.000154  0.000071
 2     0.000039  0.000154  0.000071
 3     0.000039  0.000154  0.000071
 4     0.000039  0.000154  0.000071
 ...        ...       ...       ...
 2088  0.001068  0.001538  0.001272
 2089  0.001068  0.001538  0.001343
 2090  0.001076  0.001538  0.001343
 2091  0.001077  0.001538  0.001343
 2092  0.001077  0.001538  0.001343

 [2093 rows x 3 columns],
 '102844294670551241':           gold     tower      kill
 0     0.000033  0.000343  0.000081
 1     0.000033  0.000343  0.000081
 2     0.000033  0.000343  0.000081
 3     0.000033  0.000343  0.000081
 4     0.000033  0.000343  0.000081
 ...        ...       ...       ...

# road model

In [23]:
# 0.   
from keras.utils import np_utils
from keras.models import Sequential
from keras.layers import Dense, Activation
import numpy as np
from numpy import argmax
 

# load model
from keras.models import load_model
model = load_model('/home/ubuntu/gangmin/tsvt/video/win_loss_classifier/models/957-0.3305.hdf5')

Using TensorFlow backend.
/home/ubuntu/.local/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:516: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
/home/ubuntu/.local/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:517: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
/home/ubuntu/.local/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:518: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
/home/ubuntu/.local/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:519: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
/home/ubuntu/.local/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:520: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
/home/ubuntu/.local/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:525: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])
/home/ubuntu/.local/lib/python3.6/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:541: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
/home/ubuntu/.local/lib/python3.6/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:542: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
/home/ubuntu/.local/lib/python3.6/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:543: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
/home/ubuntu/.local/lib/python3.6/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:544: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
/home/ubuntu/.local/lib/python3.6/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:545: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
/home/ubuntu/.local/lib/python3.6/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:550: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])

WARNING:tensorflow:From /home/ubuntu/.local/lib/python3.6/site-packages/tensorflow/python/ops/math_grad.py:1250: add_dispatch_support.<locals>.wrapper (from tensorflow.python.ops.array_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.where in 2.0, which has the same broadcast rule as np.where
WARNING:tensorflow:From /home/ubuntu/.local/lib/python3.6/site-packages/keras/backend/tensorflow_backend.py:422: The name tf.global_variables is deprecated. Please use tf.compat.v1.global_variables instead.

In [29]:
predict = {}

In [30]:
result = {}

In [31]:
for game in data.keys():
    predict[game] = model.predict(data[game])

In [32]:
for game in data.keys():
    predict_blue = pd.DataFrame(predict[game])
    predict_red = predict_blue[1]
    predict_blue = predict_blue[0]
    
    predict_temp = list(predict_blue)
    predict_temp.insert(0,0)
    predict_temp.pop(-1)
    
    predict_blue = abs(np.array(predict_blue)-np.array(predict_temp))
    predict_blue[0] = predict_blue[1]
    
    predict_temp = list(predict_red)
    predict_temp.insert(0,0)
    predict_temp.pop(-1)
    
    predict_red = abs(np.array(predict_red)-np.array(predict_temp))
    predict_red[0] = predict_red[1]
    
    predict_delta = predict_blue+predict_red
    
    highlight = []
    
    
    for i,v in enumerate(predict_delta):
        if v>0.005:
            for j in range(i-12,i+7):
                highlight.append(j)
    
    result[game] = highlight + highlight_add[game]

In [33]:
result

{'102844212430075086': [463,
  464,
  465,
  466,
  467,
  468,
  469,
  470,
  471,
  472,
  473,
  474,
  475,
  476,
  477,
  478,
  479,
  480,
  481,
  769,
  770,
  771,
  772,
  773,
  774,
  775,
  776,
  777,
  778,
  779,
  780,
  781,
  782,
  783,
  784,
  785,
  786,
  787,
  913,
  914,
  915,
  916,
  917,
  918,
  919,
  920,
  921,
  922,
  923,
  924,
  925,
  926,
  927,
  928,
  929,
  930,
  931,
  1367,
  1368,
  1369,
  1370,
  1371,
  1372,
  1373,
  1374,
  1375,
  1376,
  1377,
  1378,
  1379,
  1380,
  1381,
  1382,
  1383,
  1812,
  1813,
  1814,
  1815,
  1816,
  1817,
  1818,
  1819,
  1820,
  1821,
  1822,
  1823,
  1824,
  1825,
  1826,
  1827,
  1828,
  1023,
  1024,
  1025,
  1026,
  1027,
  1028,
  1345,
  1346,
  1347,
  1348,
  1349,
  1350,
  1653,
  1654,
  1655,
  1656,
  1657,
  1658,
  1976,
  1977,
  1978,
  1979,
  1980,
  1981,
  2256,
  2257,
  2258,
  2259,
  2260,
  2261,
  2262,
  2263,
  2264,
  2265,
  2266,
  2267,
  2268,
  2269,
  2270,
  2271,
  2272,
  2273,
  2274,
  2275,
  2276,
  2277,
  2278,
  2279,
  2280,
  2281,
  2282],
 '102844212430271695': [1851,
  1852,
  1853,
  1854,
  1855,
  1856,
  1857,
  1858,
  1859,
  1860,
  1861,
  1862,
  1863,
  1864,
  1865,
  1866,
  1867,
  580,
  581,
  582,
  583,
  584,
  585,
  933,
  934,
  935,
  936,
  937,
  938,
  1701,
  1702,
  1703,
  1704,
  1705,
  1706,
  2001,
  2002,
  2003,
  2004,
  2005,
  2006,
  2007,
  2008,
  2009,
  2010,
  2011,
  2012,
  2013,
  2014,
  2015,
  2016,
  2017,
  2018,
  2019,
  2020,
  2021,
  2022,
  2023,
  2024,
  2025,
  2026,
  2027],
 '102844212429092040': [158,
  159,
  160,
  161,
  162,
  163,
  164,
  165,
  166,
  167,
  168,
  169,
  170,
  171,
  172,
  173,
  174,
  175,
  176,
  502,
  503,
  504,
  505,
  506,
  507,
  508,
  509,
  510,
  511,
  512,
  513,
  514,
  515,
  516,
  517,
  518,
  519,
  520,
  503,
  504,
  505,
  506,
  507,
  508,
  509,
  510,
  511,
  512,
  513,
  514,
  515,
  516,
  517,
  518,
  519,
  520,
  521,
  636,
  637,
  638,
  639,
  640,
  641,
  642,
  643,
  644,
  645,
  646,
  647,
  648,
  649,
  650,
  651,
  652,
  653,
  654,
  684,
  685,
  686,
  687,
  688,
  689,
  690,
  691,
  692,
  693,
  694,
  695,
  696,
  697,
  698,
  699,
  700,
  701,
  702,
  878,
  879,
  880,
  881,
  882,
  883,
  884,
  885,
  886,
  887,
  888,
  889,
  890,
  891,
  892,
  893,
  894,
  895,
  896,
  914,
  915,
  916,
  917,
  918,
  919,
  920,
  921,
  922,
  923,
  924,
  925,
  926,
  927,
  928,
  929,
  930,
  931,
  932,
  1028,
  1029,
  1030,
  1031,
  1032,
  1033,
  1034,
  1035,
  1036,
  1037,
  1038,
  1039,
  1040,
  1041,
  1042,
  1043,
  1044,
  1045,
  1046,
  1044,
  1045,
  1046,
  1047,
  1048,
  1049,
  1050,
  1051,
  1052,
  1053,
  1054,
  1055,
  1056,
  1057,
  1058,
  1059,
  1060,
  1061,
  1062,
  1635,
  1636,
  1637,
  1638,
  1639,
  1640,
  1641,
  1642,
  1643,
  1644,
  1645,
  1646,
  1647,
  1648,
  1649,
  1650,
  1651,
  495,
  496,
  497,
  498,
  499,
  500,
  1001,
  1002,
  1003,
  1004,
  1005,
  1006,
  1392,
  1393,
  1394,
  1395,
  1396,
  1397,
  1699,
  1700,
  1701,
  1702,
  1703,
  1704,
  2228,
  2229,
  2230,
  2231,
  2232,
  2233,
  2234,
  2235,
  2236,
  2237,
  2238,
  2239,
  2240,
  2241,
  2242,
  2243,
  2244,
  2245,
  2246,
  2247,
  2248,
  2249,
  2250,
  2251,
  2252,
  2253,
  2254],
 '102844212430402768': [786,
  787,
  788,
  789,
  790,
  791,
  792,
  793,
  794,
  795,
  796,
  797,
  798,
  799,
  800,
  801,
  802,
  803,
  804,
  791,
  792,
  793,
  794,
  795,
  796,
  797,
  798,
  799,
  800,
  801,
  802,
  803,
  804,
  805,
  806,
  807,
  808,
  809,
  903,
  904,
  905,
  906,
  907,
  908,
  909,
  910,
  911,
  912,
  913,
  914,
  915,
  916,
  917,
  918,
  919,
  920,
  921,
  910,
  911,
  912,
  913,
  914,
  915,
  916,
  917,
  918,
  919,
  920,
  921,
  922,
  923,
  924,
  925,
  926,
  927,
  928,
  933,
  934,
  935,
  936,
  937,
  938,
  939,
  940,
  941,
  942,
  943,
  944,
  945,
  946,
  947,
  948,
  949,
  950,
  951,
  1075,
  1076,
  1077,
  1078,
  1079,
  1080,
  1081,
  1082,
  1083,
  1084,
  1085,
  1086,
  1087,
  1088,
  1089,
  1090,
  1091,
  1092,
  1093,
  2180,
  2181,
  2182,
  2183,
  2184,
  2185,
  2186,
  2187,
  2188,
  2189,
  2190,
  2191,
  2192,
  2193,
  2194,
  2195,
  2196,
  600,
  601,
  602,
  603,
  604,
  605,
  977,
  978,
  979,
  980,
  981,
  982,
  1329,
  1330,
  1331,
  1332,
  1333,
  1334,
  1662,
  1663,
  1664,
  1665,
  1666,
  1667,
  2093,
  2094,
  2095,
  2096,
  2097,
  2098,
  2341,
  2342,
  2343,
  2344,
  2345,
  2346,
  2347,
  2348,
  2349,
  2350,
  2351,
  2352,
  2353,
  2354,
  2355,
  2356,
  2357,
  2358,
  2359,
  2360,
  2361,
  2362,
  2363,
  2364,
  2365,
  2366,
  2367],
 '102844212430599377': [1445,
  1446,
  1447,
  1448,
  1449,
  1450,
  1451,
  1452,
  1453,
  1454,
  1455,
  1456,
  1457,
  1458,
  1459,
  1460,
  1461,
  1917,
  1918,
  1919,
  1920,
  1921,
  1922,
  1923,
  1924,
  1925,
  1926,
  1927,
  1928,
  1929,
  1930,
  1931,
  1932,
  1933,
  545,
  546,
  547,
  548,
  549,
  550,
  863,
  864,
  865,
  866,
  867,
  868,
  1189,
  1190,
  1191,
  1192,
  1193,
  1194,
  1509,
  1510,
  1511,
  1512,
  1513,
  1514,
  1836,
  1837,
  1838,
  1839,
  1840,
  1841,
  2174,
  2175,
  2176,
  2177,
  2178,
  2179,
  2313,
  2314,
  2315,
  2316,
  2317,
  2318,
  2319,
  2320,
  2321,
  2322,
  2323,
  2324,
  2325,
  2326,
  2327,
  2328,
  2329,
  2330,
  2331,
  2332,
  2333,
  2334,
  2335,
  2336,
  2337,
  2338,
  2339],
 '102844212429747404': [216,
  217,
  218,
  219,
  220,
  221,
  222,
  223,
  224,
  225,
  226,
  227,
  228,
  229,
  230,
  231,
  232,
  233,
  234,
  440,
  441,
  442,
  443,
  444,
  445,
  446,
  447,
  448,
  449,
  450,
  451,
  452,
  453,
  454,
  455,
  456,
  457,
  458,
  587,
  588,
  589,
  590,
  591,
  592,
  593,
  594,
  595,
  596,
  597,
  598,
  599,
  600,
  601,
  602,
  603,
  604,
  605,
  1609,
  1610,
  1611,
  1612,
  1613,
  1614,
  1615,
  1616,
  1617,
  1618,
  1619,
  1620,
  1621,
  1622,
  1623,
  1624,
  1625,
  469,
  470,
  471,
  472,
  473,
  474,
  807,
  808,
  809,
  810,
  811,
  812,
  1160,
  1161,
  1162,
  1163,
  1164,
  1165,
  1482,
  1483,
  1484,
  1485,
  1486,
  1487,
  1782,
  1783,
  1784,
  1785,
  1786,
  1787,
  1788,
  1789,
  1790,
  1791,
  1792,
  1793,
  1794,
  1795,
  1796,
  1797,
  1798,
  1799,
  1800,
  1801,
  1802,
  1803,
  1804,
  1805,
  1806,
  1807,
  1808],
 '102844224148503678': [1857,
  1858,
  1859,
  1860,
  1861,
  1862,
  1863,
  1864,
  1865,
  1866,
  1867,
  1868,
  1869,
  1870,
  1871,
  1872,
  1873,
  401,
  402,
  403,
  404,
  405,
  406,
  764,
  765,
  766,
  767,
  768,
  769,
  1101,
  1102,
  1103,
  1104,
  1105,
  1106,
  1461,
  1462,
  1463,
  1464,
  1465,
  1466,
  1795,
  1796,
  1797,
  1798,
  1799,
  1800,
  2050,
  2051,
  2052,
  2053,
  2054,
  2055,
  2056,
  2057,
  2058,
  2059,
  2060,
  2061,
  2062,
  2063,
  2064,
  2065,
  2066,
  2067,
  2068,
  2069,
  2070,
  2071,
  2072,
  2073,
  2074,
  2075,
  2076],
 '102844212428895431': [366,
  367,
  368,
  369,
  370,
  371,
  372,
  373,
  374,
  375,
  376,
  377,
  378,
  379,
  380,
  381,
  382,
  383,
  384,
  728,
  729,
  730,
  731,
  732,
  733,
  734,
  735,
  736,
  737,
  738,
  739,
  740,
  741,
  742,
  743,
  744,
  745,
  746,
  1987,
  1988,
  1989,
  1990,
  1991,
  1992,
  1993,
  1994,
  1995,
  1996,
  1997,
  1998,
  1999,
  2000,
  2001,
  2002,
  2003,
  684,
  685,
  686,
  687,
  688,
  689,
  1028,
  1029,
  1030,
  1031,
  1032,
  1033,
  1336,
  1337,
  1338,
  1339,
  1340,
  1341,
  1796,
  1797,
  1798,
  1799,
  1800,
  1801,
  2027,
  2028,
  2029,
  2030,
  2031,
  2032,
  2033,
  2034,
  2035,
  2036,
  2037,
  2038,
  2039,
  2040,
  2041,
  2042,
  2043,
  2044,
  2045,
  2046,
  2047,
  2048,
  2049,
  2050,
  2051,
  2052,
  2053],
 '102844224148896895': [200,
  201,
  202,
  203,
  204,
  205,
  206,
  207,
  208,
  209,
  210,
  211,
  212,
  213,
  214,
  215,
  216,
  217,
  218,
  292,
  293,
  294,
  295,
  296,
  297,
  298,
  299,
  300,
  301,
  302,
  303,
  304,
  305,
  306,
  307,
  308,
  309,
  310,
  366,
  367,
  368,
  369,
  370,
  371,
  372,
  373,
  374,
  375,
  376,
  377,
  378,
  379,
  380,
  381,
  382,
  383,
  384,
  439,
  440,
  441,
  442,
  443,
  444,
  445,
  446,
  447,
  448,
  449,
  450,
  451,
  452,
  453,
  454,
  455,
  456,
  457,
  1563,
  1564,
  1565,
  1566,
  1567,
  1568,
  1569,
  1570,
  1571,
  1572,
  1573,
  1574,
  1575,
  1576,
  1577,
  1578,
  1579,
  595,
  596,
  597,
  598,
  599,
  600,
  906,
  907,
  908,
  909,
  910,
  911,
  1271,
  1272,
  1273,
  1274,
  1275,
  1276,
  1655,
  1656,
  1657,
  1658,
  1659,
  1660,
  1781,
  1782,
  1783,
  1784,
  1785,
  1786,
  1787,
  1788,
  1789,
  1790,
  1791,
  1792,
  1793,
  1794,
  1795,
  1796,
  1797,
  1798,
  1799,
  1800,
  1801,
  1802,
  1803,
  1804,
  1805,
  1806,
  1807],
 '102844212430730450': [233,
  234,
  235,
  236,
  237,
  238,
  239,
  240,
  241,
  242,
  243,
  244,
  245,
  246,
  247,
  248,
  249,
  250,
  251,
  234,
  235,
  236,
  237,
  238,
  239,
  240,
  241,
  242,
  243,
  244,
  245,
  246,
  247,
  248,
  249,
  250,
  251,
  252,
  345,
  346,
  347,
  348,
  349,
  350,
  351,
  352,
  353,
  354,
  355,
  356,
  357,
  358,
  359,
  360,
  361,
  362,
  363,
  346,
  347,
  348,
  349,
  350,
  351,
  352,
  353,
  354,
  355,
  356,
  357,
  358,
  359,
  360,
  361,
  362,
  363,
  364,
  805,
  806,
  807,
  808,
  809,
  810,
  811,
  812,
  813,
  814,
  815,
  816,
  817,
  818,
  819,
  820,
  821,
  822,
  823,
  806,
  807,
  808,
  809,
  810,
  811,
  812,
  813,
  814,
  815,
  816,
  817,
  818,
  819,
  820,
  821,
  822,
  823,
  824,
  816,
  817,
  818,
  819,
  820,
  821,
  822,
  823,
  824,
  825,
  826,
  827,
  828,
  829,
  830,
  831,
  832,
  833,
  834,
  817,
  818,
  819,
  820,
  821,
  822,
  823,
  824,
  825,
  826,
  827,
  828,
  829,
  830,
  831,
  832,
  833,
  834,
  835,
  936,
  937,
  938,
  939,
  940,
  941,
  942,
  943,
  944,
  945,
  946,
  947,
  948,
  949,
  950,
  951,
  952,
  953,
  954,
  1478,
  1479,
  1480,
  1481,
  1482,
  1483,
  1484,
  1485,
  1486,
  1487,
  1488,
  1489,
  1490,
  1491,
  1492,
  1493,
  1494,
  2334,
  2335,
  2336,
  2337,
  2338,
  2339,
  2340,
  2341,
  2342,
  2343,
  2344,
  2345,
  2346,
  2347,
  2348,
  2349,
  2350,
  921,
  922,
  923,
  924,
  925,
  926,
  1236,
  1237,
  1238,
  1239,
  1240,
  1241,
  1667,
  1668,
  1669,
  1670,
  1671,
  1672,
  2036,
  2037,
  2038,
  2039,
  2040,
  2041,
  2375,
  2376,
  2377,
  2378,
  2379,
  2380,
  2381,
  2382,
  2383,
  2384,
  2385,
  2386,
  2387,
  2388,
  2389,
  2390,
  2391,
  2392,
  2393,
  2394,
  2395,
  2396,
  2397,
  2398,
  2399,
  2400,
  2401],
 '102844224146472059': [1296,
  1297,
  1298,
  1299,
  1300,
  1301,
  1302,
  1303,
  1304,
  1305,
  1306,
  1307,
  1308,
  1309,
  1310,
  1311,
  1312,
  601,
  602,
  603,
  604,
  605,
  606,
  950,
  951,
  952,
  953,
  954,
  955,
  1340,
  1341,
  1342,
  1343,
  1344,
  1345,
  1430,
  1431,
  1432,
  1433,
  1434,
  1435,
  1436,
  1437,
  1438,
  1439,
  1440,
  1441,
  1442,
  1443,
  1444,
  1445,
  1446,
  1447,
  1448,
  1449,
  1450,
  1451,
  1452,
  1453,
  1454,
  1455,
  1456],
 '102844212429419722': [1421,
  1422,
  1423,
  1424,
  1425,
  1426,
  1427,
  1428,
  1429,
  1430,
  1431,
  1432,
  1433,
  1434,
  1435,
  1436,
  1437,
  710,
  711,
  712,
  713,
  714,
  715,
  1206,
  1207,
  1208,
  1209,
  1210,
  1211,
  1516,
  1517,
  1518,
  1519,
  1520,
  1521,
  1774,
  1775,
  1776,
  1777,
  1778,
  1779,
  1780,
  1781,
  1782,
  1783,
  1784,
  1785,
  1786,
  1787,
  1788,
  1789,
  1790,
  1791,
  1792,
  1793,
  1794,
  1795,
  1796,
  1797,
  1798,
  1799,
  1800],
 '102844212429288649': [507,
  508,
  509,
  510,
  511,
  512,
  513,
  514,
  515,
  516,
  517,
  518,
  519,
  520,
  521,
  522,
  523,
  524,
  525,
  612,
  613,
  614,
  615,
  616,
  617,
  618,
  619,
  620,
  621,
  622,
  623,
  624,
  625,
  626,
  627,
  628,
  629,
  630,
  613,
  614,
  615,
  616,
  617,
  618,
  619,
  620,
  621,
  622,
  623,
  624,
  625,
  626,
  627,
  628,
  629,
  630,
  631,
  614,
  615,
  616,
  617,
  618,
  619,
  620,
  621,
  622,
  623,
  624,
  625,
  626,
  627,
  628,
  629,
  630,
  631,
  632,
  747,
  748,
  749,
  750,
  751,
  752,
  753,
  754,
  755,
  756,
  757,
  758,
  759,
  760,
  761,
  762,
  763,
  764,
  765,
  1561,
  1562,
  1563,
  1564,
  1565,
  1566,
  1567,
  1568,
  1569,
  1570,
  1571,
  1572,
  1573,
  1574,
  1575,
  1576,
  1577,
  1578,
  1579,
  1717,
  1718,
  1719,
  1720,
  1721,
  1722,
  1723,
  1724,
  1725,
  1726,
  1727,
  1728,
  1729,
  1730,
  1731,
  1732,
  1733,
  1734,
  1735,
  2216,
  2217,
  2218,
  2219,
  2220,
  2221,
  2222,
  2223,
  2224,
  2225,
  2226,
  2227,
  2228,
  2229,
  2230,
  2231,
  2232,
  2629,
  2630,
  2631,
  2632,
  2633,
  2634,
  2635,
  2636,
  2637,
  2638,
  2639,
  2640,
  2641,
  2642,
  2643,
  2644,
  2645,
  480,
  481,
  482,
  483,
  484,
  485,
  799,
  800,
  801,
  802,
  803,
  804,
  1717,
  1718,
  1719,
  1720,
  1721,
  1722,
  2042,
  2043,
  2044,
  2045,
  2046,
  2047,
  2357,
  2358,
  2359,
  2360,
  2361,
  2362,
  2895,
  2896,
  2897,
  2898,
  2899,
  2900,
  2901,
  2902,
  2903,
  2904,
  2905,
  2906,
  2907,
  2908,
  2909,
  2910,
  2911,
  2912,
  2913,
  2914,
  2915,
  2916,
  2917,
  2918,
  2919,
  2920,
  2921],
 '102844212431779031': [1731,
  1732,
  1733,
  1734,
  1735,
  1736,
  1737,
  1738,
  1739,
  1740,
  1741,
  1742,
  1743,
  1744,
  1745,
  1746,
  1747,
  479,
  480,
  481,
  482,
  483,
  484,
  957,
  958,
  959,
  960,
  961,
  962,
  1344,
  1345,
  1346,
  1347,
  1348,
  1349,
  1659,
  1660,
  1661,
  1662,
  1663,
  1664,
  1992,
  1993,
  1994,
  1995,
  1996,
  1997,
  1998,
  1999,
  2000,
  2001,
  2002,
  2003,
  2004,
  2005,
  2006,
  2007,
  2008,
  2009,
  2010,
  2011,
  2012,
  2013,
  2014,
  2015,
  2016,
  2017,
  2018],
 '102844212431058132': [639,
  640,
  641,
  642,
  643,
  644,
  645,
  646,
  647,
  648,
  649,
  650,
  651,
  652,
  653,
  654,
  655,
  656,
  657,
  680,
  681,
  682,
  683,
  684,
  685,
  686,
  687,
  688,
  689,
  690,
  691,
  692,
  693,
  694,
  695,
  696,
  697,
  698,
  745,
  746,
  747,
  748,
  749,
  750,
  751,
  752,
  753,
  754,
  755,
  756,
  757,
  758,
  759,
  760,
  761,
  762,
  763,
  746,
  747,
  748,
  749,
  750,
  751,
  752,
  753,
  754,
  755,
  756,
  757,
  758,
  759,
  760,
  761,
  762,
  763,
  764,
  851,
  852,
  853,
  854,
  855,
  856,
  857,
  858,
  859,
  860,
  861,
  862,
  863,
  864,
  865,
  866,
  867,
  868,
  869,
  982,
  983,
  984,
  985,
  986,
  987,
  988,
  989,
  990,
  991,
  992,
  993,
  994,
  995,
  996,
  997,
  998,
  999,
  1000,
  1889,
  1890,
  1891,
  1892,
  1893,
  1894,
  1895,
  1896,
  1897,
  1898,
  1899,
  1900,
  1901,
  1902,
  1903,
  1904,
  1905,
  433,
  434,
  435,
  436,
  437,
  438,
  750,
  751,
  752,
  753,
  754,
  755,
  1117,
  1118,
  1119,
  1120,
  1121,
  1122,
  1431,
  1432,
  1433,
  1434,
  1435,
  1436,
  1934,
  1935,
  1936,
  1937,
  1938,
  1939,
  2308,
  2309,
  2310,
  2311,
  2312,
  2313,
  2443,
  2444,
  2445,
  2446,
  2447,
  2448,
  2449,
  2450,
  2451,
  2452,
  2453,
  2454,
  2455,
  2456,
  2457,
  2458,
  2459,
  2460,
  2461,
  2462,
  2463,
  2464,
  2465,
  2466,
  2467,
  2468,
  2469],
 '102844212430927059': [688,
  689,
  690,
  691,
  692,
  693,
  694,
  695,
  696,
  697,
  698,
  699,
  700,
  701,
  702,
  703,
  704,
  705,
  706,
  1035,
  1036,
  1037,
  1038,
  1039,
  1040,
  1041,
  1042,
  1043,
  1044,
  1045,
  1046,
  1047,
  1048,
  1049,
  1050,
  1051,
  1052,
  1053,
  1041,
  1042,
  1043,
  1044,
  1045,
  1046,
  1047,
  1048,
  1049,
  1050,
  1051,
  1052,
  1053,
  1054,
  1055,
  1056,
  1057,
  1058,
  1059,
  1051,
  1052,
  1053,
  1054,
  1055,
  1056,
  1057,
  1058,
  1059,
  1060,
  1061,
  1062,
  1063,
  1064,
  1065,
  1066,
  1067,
  1068,
  1069,
  1362,
  1363,
  1364,
  1365,
  1366,
  1367,
  1368,
  1369,
  1370,
  1371,
  1372,
  1373,
  1374,
  1375,
  1376,
  1377,
  1378,
  1379,
  1380,
  1492,
  1493,
  1494,
  1495,
  1496,
  1497,
  1498,
  1499,
  1500,
  1501,
  1502,
  1503,
  1504,
  1505,
  1506,
  1507,
  1508,
  1509,
  1510,
  2228,
  2229,
  2230,
  2231,
  2232,
  2233,
  2234,
  2235,
  2236,
  2237,
  2238,
  2239,
  2240,
  2241,
  2242,
  2243,
  2244,
  2597,
  2598,
  2599,
  2600,
  2601,
  2602,
  2603,
  2604,
  2605,
  2606,
  2607,
  2608,
  2609,
  2610,
  2611,
  2612,
  2613,
  3004,
  3005,
  3006,
  3007,
  3008,
  3009,
  3010,
  3011,
  3012,
  3013,
  3014,
  3015,
  3016,
  3017,
  3018,
  3019,
  3020,
  3600,
  3601,
  3602,
  3603,
  3604,
  3605,
  3606,
  3607,
  3608,
  3609,
  3610,
  3611,
  3612,
  3613,
  3614,
  3615,
  3616,
  676,
  677,
  678,
  679,
  680,
  681,
  1031,
  1032,
  1033,
  1034,
  1035,
  1036,
  1357,
  1358,
  1359,
  1360,
  1361,
  1362,
  1729,
  1730,
  1731,
  1732,
  1733,
  1734,
  2059,
  2060,
  2061,
  2062,
  2063,
  2064,
  2444,
  2445,
  2446,
  2447,
  2448,
  2449,
  2877,
  2878,
  2879,
  2880,
  2881,
  2882,
  3274,
  3275,
  3276,
  3277,
  3278,
  3279,
  3777,
  3778,
  3779,
  3780,
  3781,
  3782,
  3783,
  3784,
  3785,
  3786,
  3787,
  3788,
  3789,
  3790,
  3791,
  3792,
  3793,
  3794,
  3795,
  3796,
  3797,
  3798,
  3799,
  3800,
  3801,
  3802,
  3803],
 '102844212429550795': [909,
  910,
  911,
  912,
  913,
  914,
  915,
  916,
  917,
  918,
  919,
  920,
  921,
  922,
  923,
  924,
  925,
  926,
  927,
  1226,
  1227,
  1228,
  1229,
  1230,
  1231,
  1232,
  1233,
  1234,
  1235,
  1236,
  1237,
  1238,
  1239,
  1240,
  1241,
  1242,
  387,
  388,
  389,
  390,
  391,
  392,
  784,
  785,
  786,
  787,
  788,
  789,
  1124,
  1125,
  1126,
  1127,
  1128,
  1129,
  1448,
  1449,
  1450,
  1451,
  1452,
  1453,
  1454,
  1455,
  1456,
  1457,
  1458,
  1459,
  1460,
  1461,
  1462,
  1463,
  1464,
  1465,
  1466,
  1467,
  1468,
  1469,
  1470,
  1471,
  1472,
  1473,
  1474],
 '102844212431320277': [284,
  285,
  286,
  287,
  288,
  289,
  290,
  291,
  292,
  293,
  294,
  295,
  296,
  297,
  298,
  299,
  300,
  301,
  302,
  647,
  648,
  649,
  650,
  651,
  652,
  653,
  654,
  655,
  656,
  657,
  658,
  659,
  660,
  661,
  662,
  663,
  664,
  665,
  1976,
  1977,
  1978,
  1979,
  1980,
  1981,
  1982,
  1983,
  1984,
  1985,
  1986,
  1987,
  1988,
  1989,
  1990,
  1991,
  1992,
  2390,
  2391,
  2392,
  2393,
  2394,
  2395,
  2396,
  2397,
  2398,
  2399,
  2400,
  2401,
  2402,
  2403,
  2404,
  2405,
  2406,
  693,
  694,
  695,
  696,
  697,
  698,
  1179,
  1180,
  1181,
  1182,
  1183,
  1184,
  1726,
  1727,
  1728,
  1729,
  1730,
  1731,
  2092,
  2093,
  2094,
  2095,
  2096,
  2097,
  2420,
  2421,
  2422,
  2423,
  2424,
  2425,
  2426,
  2427,
  2428,
  2429,
  2430,
  2431,
  2432,
  2433,
  2434,
  2435,
  2436,
  2437,
  2438,
  2439,
  2440,
  2441,
  2442,
  2443,
  2444,
  2445,
  2446],
 '102904869420860038': [1543,
  1544,
  1545,
  1546,
  1547,
  1548,
  1549,
  1550,
  1551,
  1552,
  1553,
  1554,
  1555,
  1556,
  1557,
  1558,
  1559,
  352,
  353,
  354,
  355,
  356,
  357,
  746,
  747,
  748,
  749,
  750,
  751,
  1081,
  1082,
  1083,
  1084,
  1085,
  1086,
  1394,
  1395,
  1396,
  1397,
  1398,
  1399,
  1675,
  1676,
  1677,
  1678,
  1679,
  1680,
  1681,
  1682,
  1683,
  1684,
  1685,
  1686,
  1687,
  1688,
  1689,
  1690,
  1691,
  1692,
  1693,
  1694,
  1695,
  1696,
  1697,
  1698,
  1699,
  1700,
  1701],
 '102844224147717245': [599,
  600,
  601,
  602,
  603,
  604,
  605,
  606,

In [34]:
import pickle
with open('/home/ubuntu/gangmin/tsvt/video/lolData/exp_data/result.pickle',"wb") as f:
    pickle.dump(result,f)

In [35]:
for i in result['102979081290790284']:
    print(i//60,i%60)

6 53
6 54
6 55
6 56
6 57
6 58
6 59
7 0
7 1
7 2
7 3
7 4
7 5
7 6
7 7
7 8
7 9
7 10
7 11
6 54
6 55
6 56
6 57
6 58
6 59
7 0
7 1
7 2
7 3
7 4
7 5
7 6
7 7
7 8
7 9
7 10
7 11
7 12
7 5
7 6
7 7
7 8
7 9
7 10
7 11
7 12
7 13
7 14
7 15
7 16
7 17
7 18
7 19
7 20
7 21
7 22
7 23
8 5
8 6
8 7
8 8
8 9
8 10
8 11
8 12
8 13
8 14
8 15
8 16
8 17
8 18
8 19
8 20
8 21
8 22
8 23
8 6
8 7
8 8
8 9
8 10
8 11
8 12
8 13
8 14
8 15
8 16
8 17
8 18
8 19
8 20
8 21
8 22
8 23
8 24
10 13
10 14
10 15
10 16
10 17
10 18
10 19
10 20
10 21
10 22
10 23
10 24
10 25
10 26
10 27
10 28
10 29
10 30
10 31
12 24
12 25
12 26
12 27
12 28
12 29
12 30
12 31
12 32
12 33
12 34
12 35
12 36
12 37
12 38
12 39
12 40
12 41
12 42
15 52
15 53
15 54
15 55
15 56
15 57
15 58
15 59
16 0
16 1
16 2
16 3
16 4
16 5
16 6
16 7
16 8
16 9
16 10
25 30
25 31
25 32
25 33
25 34
25 35
25 36
25 37
25 38
25 39
25 40
25 41
25 42
25 43
25 44
25 45
25 46
11 24
11 25
11 26
11 27
11 28
11 29
19 8
19 9
19 10
19 11
19 12
19 13
24 31
24 32
24 33
24 34
24 35
24 36
30 47
30 48
30 49
30 50
30 51
30 52
36 53
36 54
36 55
36 56
36 57
36 58
38 28
38 29
38 30
38 31
38 32
38 33
38 34
38 35
38 36
38 37
38 38
38 39
38 40
38 41
38 42
38 43
38 44
38 45
38 46
38 47
38 48
38 49
38 50
38 51
38 52
38 53
38 54

# frame

In [76]:
import pickle
with open('/home/ubuntu/gangmin/tsvt/video/lolData/exp_data/result.pickle',"rb") as f:
    result = pickle.load(f)

In [36]:
result

{'102844212430075086': [463,
  464,
  465,
  466,
  467,
  468,
  469,
  470,
  471,
  472,
  473,
  474,
  475,
  476,
  477,
  478,
  479,
  480,
  481,
  769,
  770,
  771,
  772,
  773,
  774,
  775,
  776,
  777,
  778,
  779,
  780,
  781,
  782,
  783,
  784,
  785,
  786,
  787,
  913,
  914,
  915,
  916,
  917,
  918,
  919,
  920,
  921,
  922,
  923,
  924,
  925,
  926,
  927,
  928,
  929,
  930,
  931,
  1367,
  1368,
  1369,
  1370,
  1371,
  1372,
  1373,
  1374,
  1375,
  1376,
  1377,
  1378,
  1379,
  1380,
  1381,
  1382,
  1383,
  1812,
  1813,
  1814,
  1815,
  1816,
  1817,
  1818,
  1819,
  1820,
  1821,
  1822,
  1823,
  1824,
  1825,
  1826,
  1827,
  1828,
  1023,
  1024,
  1025,
  1026,
  1027,
  1028,
  1345,
  1346,
  1347,
  1348,
  1349,
  1350,
  1653,
  1654,
  1655,
  1656,
  1657,
  1658,
  1976,
  1977,
  1978,
  1979,
  1980,
  1981,
  2256,
  2257,
  2258,
  2259,
  2260,
  2261,
  2262,
  2263,
  2264,
  2265,
  2266,
  2267,
  2268,
  2269,
  2270,
  2271,
  2272,
  2273,
  2274,
  2275,
  2276,
  2277,
  2278,
  2279,
  2280,
  2281,
  2282],
 '102844212430271695': [1851,
  1852,
  1853,
  1854,
  1855,
  1856,
  1857,
  1858,
  1859,
  1860,
  1861,
  1862,
  1863,
  1864,
  1865,
  1866,
  1867,
  580,
  581,
  582,
  583,
  584,
  585,
  933,
  934,
  935,
  936,
  937,
  938,
  1701,
  1702,
  1703,
  1704,
  1705,
  1706,
  2001,
  2002,
  2003,
  2004,
  2005,
  2006,
  2007,
  2008,
  2009,
  2010,
  2011,
  2012,
  2013,
  2014,
  2015,
  2016,
  2017,
  2018,
  2019,
  2020,
  2021,
  2022,
  2023,
  2024,
  2025,
  2026,
  2027],
 '102844212429092040': [158,
  159,
  160,
  161,
  162,
  163,
  164,
  165,
  166,
  167,
  168,
  169,
  170,
  171,
  172,
  173,
  174,
  175,
  176,
  502,
  503,
  504,
  505,
  506,
  507,
  508,
  509,
  510,
  511,
  512,
  513,
  514,
  515,
  516,
  517,
  518,
  519,
  520,
  503,
  504,
  505,
  506,
  507,
  508,
  509,
  510,
  511,
  512,
  513,
  514,
  515,
  516,
  517,
  518,
  519,
  520,
  521,
  636,
  637,
  638,
  639,
  640,
  641,
  642,
  643,
  644,
  645,
  646,
  647,
  648,
  649,
  650,
  651,
  652,
  653,
  654,
  684,
  685,
  686,
  687,
  688,
  689,
  690,
  691,
  692,
  693,
  694,
  695,
  696,
  697,
  698,
  699,
  700,
  701,
  702,
  878,
  879,
  880,
  881,
  882,
  883,
  884,
  885,
  886,
  887,
  888,
  889,
  890,
  891,
  892,
  893,
  894,
  895,
  896,
  914,
  915,
  916,
  917,
  918,
  919,
  920,
  921,
  922,
  923,
  924,
  925,
  926,
  927,
  928,
  929,
  930,
  931,
  932,
  1028,
  1029,
  1030,
  1031,
  1032,
  1033,
  1034,
  1035,
  1036,
  1037,
  1038,
  1039,
  1040,
  1041,
  1042,
  1043,
  1044,
  1045,
  1046,
  1044,
  1045,
  1046,
  1047,
  1048,
  1049,
  1050,
  1051,
  1052,
  1053,
  1054,
  1055,
  1056,
  1057,
  1058,
  1059,
  1060,
  1061,
  1062,
  1635,
  1636,
  1637,
  1638,
  1639,
  1640,
  1641,
  1642,
  1643,
  1644,
  1645,
  1646,
  1647,
  1648,
  1649,
  1650,
  1651,
  495,
  496,
  497,
  498,
  499,
  500,
  1001,
  1002,
  1003,
  1004,
  1005,
  1006,
  1392,
  1393,
  1394,
  1395,
  1396,
  1397,
  1699,
  1700,
  1701,
  1702,
  1703,
  1704,
  2228,
  2229,
  2230,
  2231,
  2232,
  2233,
  2234,
  2235,
  2236,
  2237,
  2238,
  2239,
  2240,
  2241,
  2242,
  2243,
  2244,
  2245,
  2246,
  2247,
  2248,
  2249,
  2250,
  2251,
  2252,
  2253,
  2254],
 '102844212430402768': [786,
  787,
  788,
  789,
  790,
  791,
  792,
  793,
  794,
  795,
  796,
  797,
  798,
  799,
  800,
  801,
  802,
  803,
  804,
  791,
  792,
  793,
  794,
  795,
  796,
  797,
  798,
  799,
  800,
  801,
  802,
  803,
  804,
  805,
  806,
  807,
  808,
  809,
  903,
  904,
  905,
  906,
  907,
  908,
  909,
  910,
  911,
  912,
  913,
  914,
  915,
  916,
  917,
  918,
  919,
  920,
  921,
  910,
  911,
  912,
  913,
  914,
  915,
  916,
  917,
  918,
  919,
  920,
  921,
  922,
  923,
  924,
  925,
  926,
  927,
  928,
  933,
  934,
  935,
  936,
  937,
  938,
  939,
  940,
  941,
  942,
  943,
  944,
  945,
  946,
  947,
  948,
  949,
  950,
  951,
  1075,
  1076,
  1077,
  1078,
  1079,
  1080,
  1081,
  1082,
  1083,
  1084,
  1085,
  1086,
  1087,
  1088,
  1089,
  1090,
  1091,
  1092,
  1093,
  2180,
  2181,
  2182,
  2183,
  2184,
  2185,
  2186,
  2187,
  2188,
  2189,
  2190,
  2191,
  2192,
  2193,
  2194,
  2195,
  2196,
  600,
  601,
  602,
  603,
  604,
  605,
  977,
  978,
  979,
  980,
  981,
  982,
  1329,
  1330,
  1331,
  1332,
  1333,
  1334,
  1662,
  1663,
  1664,
  1665,
  1666,
  1667,
  2093,
  2094,
  2095,
  2096,
  2097,
  2098,
  2341,
  2342,
  2343,
  2344,
  2345,
  2346,
  2347,
  2348,
  2349,
  2350,
  2351,
  2352,
  2353,
  2354,
  2355,
  2356,
  2357,
  2358,
  2359,
  2360,
  2361,
  2362,
  2363,
  2364,
  2365,
  2366,
  2367],
 '102844212430599377': [1445,
  1446,
  1447,
  1448,
  1449,
  1450,
  1451,
  1452,
  1453,
  1454,
  1455,
  1456,
  1457,
  1458,
  1459,
  1460,
  1461,
  1917,
  1918,
  1919,
  1920,
  1921,
  1922,
  1923,
  1924,
  1925,
  1926,
  1927,
  1928,
  1929,
  1930,
  1931,
  1932,
  1933,
  545,
  546,
  547,
  548,
  549,
  550,
  863,
  864,
  865,
  866,
  867,
  868,
  1189,
  1190,
  1191,
  1192,
  1193,
  1194,
  1509,
  1510,
  1511,
  1512,
  1513,
  1514,
  1836,
  1837,
  1838,
  1839,
  1840,
  1841,
  2174,
  2175,
  2176,
  2177,
  2178,
  2179,
  2313,
  2314,
  2315,
  2316,
  2317,
  2318,
  2319,
  2320,
  2321,
  2322,
  2323,
  2324,
  2325,
  2326,
  2327,
  2328,
  2329,
  2330,
  2331,
  2332,
  2333,
  2334,
  2335,
  2336,
  2337,
  2338,
  2339],
 '102844212429747404': [216,
  217,
  218,
  219,
  220,
  221,
  222,
  223,
  224,
  225,
  226,
  227,
  228,
  229,
  230,
  231,
  232,
  233,
  234,
  440,
  441,
  442,
  443,
  444,
  445,
  446,
  447,
  448,
  449,
  450,
  451,
  452,
  453,
  454,
  455,
  456,
  457,
  458,
  587,
  588,
  589,
  590,
  591,
  592,
  593,
  594,
  595,
  596,
  597,
  598,
  599,
  600,
  601,
  602,
  603,
  604,
  605,
  1609,
  1610,
  1611,
  1612,
  1613,
  1614,
  1615,
  1616,
  1617,
  1618,
  1619,
  1620,
  1621,
  1622,
  1623,
  1624,
  1625,
  469,
  470,
  471,
  472,
  473,
  474,
  807,
  808,
  809,
  810,
  811,
  812,
  1160,
  1161,
  1162,
  1163,
  1164,
  1165,
  1482,
  1483,
  1484,
  1485,
  1486,
  1487,
  1782,
  1783,
  1784,
  1785,
  1786,
  1787,
  1788,
  1789,
  1790,
  1791,
  1792,
  1793,
  1794,
  1795,
  1796,
  1797,
  1798,
  1799,
  1800,
  1801,
  1802,
  1803,
  1804,
  1805,
  1806,
  1807,
  1808],
 '102844224148503678': [1857,
  1858,
  1859,
  1860,
  1861,
  1862,
  1863,
  1864,
  1865,
  1866,
  1867,
  1868,
  1869,
  1870,
  1871,
  1872,
  1873,
  401,
  402,
  403,
  404,
  405,
  406,
  764,
  765,
  766,
  767,
  768,
  769,
  1101,
  1102,
  1103,
  1104,
  1105,
  1106,
  1461,
  1462,
  1463,
  1464,
  1465,
  1466,
  1795,
  1796,
  1797,
  1798,
  1799,
  1800,
  2050,
  2051,
  2052,
  2053,
  2054,
  2055,
  2056,
  2057,
  2058,
  2059,
  2060,
  2061,
  2062,
  2063,
  2064,
  2065,
  2066,
  2067,
  2068,
  2069,
  2070,
  2071,
  2072,
  2073,
  2074,
  2075,
  2076],
 '102844212428895431': [366,
  367,
  368,
  369,
  370,
  371,
  372,
  373,
  374,
  375,
  376,
  377,
  378,
  379,
  380,
  381,
  382,
  383,
  384,
  728,
  729,
  730,
  731,
  732,
  733,
  734,
  735,
  736,
  737,
  738,
  739,
  740,
  741,
  742,
  743,
  744,
  745,
  746,
  1987,
  1988,
  1989,
  1990,
  1991,
  1992,
  1993,
  1994,
  1995,
  1996,
  1997,
  1998,
  1999,
  2000,
  2001,
  2002,
  2003,
  684,
  685,
  686,
  687,
  688,
  689,
  1028,
  1029,
  1030,
  1031,
  1032,
  1033,
  1336,
  1337,
  1338,
  1339,
  1340,
  1341,
  1796,
  1797,
  1798,
  1799,
  1800,
  1801,
  2027,
  2028,
  2029,
  2030,
  2031,
  2032,
  2033,
  2034,
  2035,
  2036,
  2037,
  2038,
  2039,
  2040,
  2041,
  2042,
  2043,
  2044,
  2045,
  2046,
  2047,
  2048,
  2049,
  2050,
  2051,
  2052,
  2053],
 '102844224148896895': [200,
  201,
  202,
  203,
  204,
  205,
  206,
  207,
  208,
  209,
  210,
  211,
  212,
  213,
  214,
  215,
  216,
  217,
  218,
  292,
  293,
  294,
  295,
  296,
  297,
  298,
  299,
  300,
  301,
  302,
  303,
  304,
  305,
  306,
  307,
  308,
  309,
  310,
  366,
  367,
  368,
  369,
  370,
  371,
  372,
  373,
  374,
  375,
  376,
  377,
  378,
  379,
  380,
  381,
  382,
  383,
  384,
  439,
  440,
  441,
  442,
  443,
  444,
  445,
  446,
  447,
  448,
  449,
  450,
  451,
  452,
  453,
  454,
  455,
  456,
  457,
  1563,
  1564,
  1565,
  1566,
  1567,
  1568,
  1569,
  1570,
  1571,
  1572,
  1573,
  1574,
  1575,
  1576,
  1577,
  1578,
  1579,
  595,
  596,
  597,
  598,
  599,
  600,
  906,
  907,
  908,
  909,
  910,
  911,
  1271,
  1272,
  1273,
  1274,
  1275,
  1276,
  1655,
  1656,
  1657,
  1658,
  1659,
  1660,
  1781,
  1782,
  1783,
  1784,
  1785,
  1786,
  1787,
  1788,
  1789,
  1790,
  1791,
  1792,
  1793,
  1794,
  1795,
  1796,
  1797,
  1798,
  1799,
  1800,
  1801,
  1802,
  1803,
  1804,
  1805,
  1806,
  1807],
 '102844212430730450': [233,
  234,
  235,
  236,
  237,
  238,
  239,
  240,
  241,
  242,
  243,
  244,
  245,
  246,
  247,
  248,
  249,
  250,
  251,
  234,
  235,
  236,
  237,
  238,
  239,
  240,
  241,
  242,
  243,
  244,
  245,
  246,
  247,
  248,
  249,
  250,
  251,
  252,
  345,
  346,
  347,
  348,
  349,
  350,
  351,
  352,
  353,
  354,
  355,
  356,
  357,
  358,
  359,
  360,
  361,
  362,
  363,
  346,
  347,
  348,
  349,
  350,
  351,
  352,
  353,
  354,
  355,
  356,
  357,
  358,
  359,
  360,
  361,
  362,
  363,
  364,
  805,
  806,
  807,
  808,
  809,
  810,
  811,
  812,
  813,
  814,
  815,
  816,
  817,
  818,
  819,
  820,
  821,
  822,
  823,
  806,
  807,
  808,
  809,
  810,
  811,
  812,
  813,
  814,
  815,
  816,
  817,
  818,
  819,
  820,
  821,
  822,
  823,
  824,
  816,
  817,
  818,
  819,
  820,
  821,
  822,
  823,
  824,
  825,
  826,
  827,
  828,
  829,
  830,
  831,
  832,
  833,
  834,
  817,
  818,
  819,
  820,
  821,
  822,
  823,
  824,
  825,
  826,
  827,
  828,
  829,
  830,
  831,
  832,
  833,
  834,
  835,
  936,
  937,
  938,
  939,
  940,
  941,
  942,
  943,
  944,
  945,
  946,
  947,
  948,
  949,
  950,
  951,
  952,
  953,
  954,
  1478,
  1479,
  1480,
  1481,
  1482,
  1483,
  1484,
  1485,
  1486,
  1487,
  1488,
  1489,
  1490,
  1491,
  1492,
  1493,
  1494,
  2334,
  2335,
  2336,
  2337,
  2338,
  2339,
  2340,
  2341,
  2342,
  2343,
  2344,
  2345,
  2346,
  2347,
  2348,
  2349,
  2350,
  921,
  922,
  923,
  924,
  925,
  926,
  1236,
  1237,
  1238,
  1239,
  1240,
  1241,
  1667,
  1668,
  1669,
  1670,
  1671,
  1672,
  2036,
  2037,
  2038,
  2039,
  2040,
  2041,
  2375,
  2376,
  2377,
  2378,
  2379,
  2380,
  2381,
  2382,
  2383,
  2384,
  2385,
  2386,
  2387,
  2388,
  2389,
  2390,
  2391,
  2392,
  2393,
  2394,
  2395,
  2396,
  2397,
  2398,
  2399,
  2400,
  2401],
 '102844224146472059': [1296,
  1297,
  1298,
  1299,
  1300,
  1301,
  1302,
  1303,
  1304,
  1305,
  1306,
  1307,
  1308,
  1309,
  1310,
  1311,
  1312,
  601,
  602,
  603,
  604,
  605,
  606,
  950,
  951,
  952,
  953,
  954,
  955,
  1340,
  1341,
  1342,
  1343,
  1344,
  1345,
  1430,
  1431,
  1432,
  1433,
  1434,
  1435,
  1436,
  1437,
  1438,
  1439,
  1440,
  1441,
  1442,
  1443,
  1444,
  1445,
  1446,
  1447,
  1448,
  1449,
  1450,
  1451,
  1452,
  1453,
  1454,
  1455,
  1456],
 '102844212429419722': [1421,
  1422,
  1423,
  1424,
  1425,
  1426,
  1427,
  1428,
  1429,
  1430,
  1431,
  1432,
  1433,
  1434,
  1435,
  1436,
  1437,
  710,
  711,
  712,
  713,
  714,
  715,
  1206,
  1207,
  1208,
  1209,
  1210,
  1211,
  1516,
  1517,
  1518,
  1519,
  1520,
  1521,
  1774,
  1775,
  1776,
  1777,
  1778,
  1779,
  1780,
  1781,
  1782,
  1783,
  1784,
  1785,
  1786,
  1787,
  1788,
  1789,
  1790,
  1791,
  1792,
  1793,
  1794,
  1795,
  1796,
  1797,
  1798,
  1799,
  1800],
 '102844212429288649': [507,
  508,
  509,
  510,
  511,
  512,
  513,
  514,
  515,
  516,
  517,
  518,
  519,
  520,
  521,
  522,
  523,
  524,
  525,
  612,
  613,
  614,
  615,
  616,
  617,
  618,
  619,
  620,
  621,
  622,
  623,
  624,
  625,
  626,
  627,
  628,
  629,
  630,
  613,
  614,
  615,
  616,
  617,
  618,
  619,
  620,
  621,
  622,
  623,
  624,
  625,
  626,
  627,
  628,
  629,
  630,
  631,
  614,
  615,
  616,
  617,
  618,
  619,
  620,
  621,
  622,
  623,
  624,
  625,
  626,
  627,
  628,
  629,
  630,
  631,
  632,
  747,
  748,
  749,
  750,
  751,
  752,
  753,
  754,
  755,
  756,
  757,
  758,
  759,
  760,
  761,
  762,
  763,
  764,
  765,
  1561,
  1562,
  1563,
  1564,
  1565,
  1566,
  1567,
  1568,
  1569,
  1570,
  1571,
  1572,
  1573,
  1574,
  1575,
  1576,
  1577,
  1578,
  1579,
  1717,
  1718,
  1719,
  1720,
  1721,
  1722,
  1723,
  1724,
  1725,
  1726,
  1727,
  1728,
  1729,
  1730,
  1731,
  1732,
  1733,
  1734,
  1735,
  2216,
  2217,
  2218,
  2219,
  2220,
  2221,
  2222,
  2223,
  2224,
  2225,
  2226,
  2227,
  2228,
  2229,
  2230,
  2231,
  2232,
  2629,
  2630,
  2631,
  2632,
  2633,
  2634,
  2635,
  2636,
  2637,
  2638,
  2639,
  2640,
  2641,
  2642,
  2643,
  2644,
  2645,
  480,
  481,
  482,
  483,
  484,
  485,
  799,
  800,
  801,
  802,
  803,
  804,
  1717,
  1718,
  1719,
  1720,
  1721,
  1722,
  2042,
  2043,
  2044,
  2045,
  2046,
  2047,
  2357,
  2358,
  2359,
  2360,
  2361,
  2362,
  2895,
  2896,
  2897,
  2898,
  2899,
  2900,
  2901,
  2902,
  2903,
  2904,
  2905,
  2906,
  2907,
  2908,
  2909,
  2910,
  2911,
  2912,
  2913,
  2914,
  2915,
  2916,
  2917,
  2918,
  2919,
  2920,
  2921],
 '102844212431779031': [1731,
  1732,
  1733,
  1734,
  1735,
  1736,
  1737,
  1738,
  1739,
  1740,
  1741,
  1742,
  1743,
  1744,
  1745,
  1746,
  1747,
  479,
  480,
  481,
  482,
  483,
  484,
  957,
  958,
  959,
  960,
  961,
  962,
  1344,
  1345,
  1346,
  1347,
  1348,
  1349,
  1659,
  1660,
  1661,
  1662,
  1663,
  1664,
  1992,
  1993,
  1994,
  1995,
  1996,
  1997,
  1998,
  1999,
  2000,
  2001,
  2002,
  2003,
  2004,
  2005,
  2006,
  2007,
  2008,
  2009,
  2010,
  2011,
  2012,
  2013,
  2014,
  2015,
  2016,
  2017,
  2018],
 '102844212431058132': [639,
  640,
  641,
  642,
  643,
  644,
  645,
  646,
  647,
  648,
  649,
  650,
  651,
  652,
  653,
  654,
  655,
  656,
  657,
  680,
  681,
  682,
  683,
  684,
  685,
  686,
  687,
  688,
  689,
  690,
  691,
  692,
  693,
  694,
  695,
  696,
  697,
  698,
  745,
  746,
  747,
  748,
  749,
  750,
  751,
  752,
  753,
  754,
  755,
  756,
  757,
  758,
  759,
  760,
  761,
  762,
  763,
  746,
  747,
  748,
  749,
  750,
  751,
  752,
  753,
  754,
  755,
  756,
  757,
  758,
  759,
  760,
  761,
  762,
  763,
  764,
  851,
  852,
  853,
  854,
  855,
  856,
  857,
  858,
  859,
  860,
  861,
  862,
  863,
  864,
  865,
  866,
  867,
  868,
  869,
  982,
  983,
  984,
  985,
  986,
  987,
  988,
  989,
  990,
  991,
  992,
  993,
  994,
  995,
  996,
  997,
  998,
  999,
  1000,
  1889,
  1890,
  1891,
  1892,
  1893,
  1894,
  1895,
  1896,
  1897,
  1898,
  1899,
  1900,
  1901,
  1902,
  1903,
  1904,
  1905,
  433,
  434,
  435,
  436,
  437,
  438,
  750,
  751,
  752,
  753,
  754,
  755,
  1117,
  1118,
  1119,
  1120,
  1121,
  1122,
  1431,
  1432,
  1433,
  1434,
  1435,
  1436,
  1934,
  1935,
  1936,
  1937,
  1938,
  1939,
  2308,
  2309,
  2310,
  2311,
  2312,
  2313,
  2443,
  2444,
  2445,
  2446,
  2447,
  2448,
  2449,
  2450,
  2451,
  2452,
  2453,
  2454,
  2455,
  2456,
  2457,
  2458,
  2459,
  2460,
  2461,
  2462,
  2463,
  2464,
  2465,
  2466,
  2467,
  2468,
  2469],
 '102844212430927059': [688,
  689,
  690,
  691,
  692,
  693,
  694,
  695,
  696,
  697,
  698,
  699,
  700,
  701,
  702,
  703,
  704,
  705,
  706,
  1035,
  1036,
  1037,
  1038,
  1039,
  1040,
  1041,
  1042,
  1043,
  1044,
  1045,
  1046,
  1047,
  1048,
  1049,
  1050,
  1051,
  1052,
  1053,
  1041,
  1042,
  1043,
  1044,
  1045,
  1046,
  1047,
  1048,
  1049,
  1050,
  1051,
  1052,
  1053,
  1054,
  1055,
  1056,
  1057,
  1058,
  1059,
  1051,
  1052,
  1053,
  1054,
  1055,
  1056,
  1057,
  1058,
  1059,
  1060,
  1061,
  1062,
  1063,
  1064,
  1065,
  1066,
  1067,
  1068,
  1069,
  1362,
  1363,
  1364,
  1365,
  1366,
  1367,
  1368,
  1369,
  1370,
  1371,
  1372,
  1373,
  1374,
  1375,
  1376,
  1377,
  1378,
  1379,
  1380,
  1492,
  1493,
  1494,
  1495,
  1496,
  1497,
  1498,
  1499,
  1500,
  1501,
  1502,
  1503,
  1504,
  1505,
  1506,
  1507,
  1508,
  1509,
  1510,
  2228,
  2229,
  2230,
  2231,
  2232,
  2233,
  2234,
  2235,
  2236,
  2237,
  2238,
  2239,
  2240,
  2241,
  2242,
  2243,
  2244,
  2597,
  2598,
  2599,
  2600,
  2601,
  2602,
  2603,
  2604,
  2605,
  2606,
  2607,
  2608,
  2609,
  2610,
  2611,
  2612,
  2613,
  3004,
  3005,
  3006,
  3007,
  3008,
  3009,
  3010,
  3011,
  3012,
  3013,
  3014,
  3015,
  3016,
  3017,
  3018,
  3019,
  3020,
  3600,
  3601,
  3602,
  3603,
  3604,
  3605,
  3606,
  3607,
  3608,
  3609,
  3610,
  3611,
  3612,
  3613,
  3614,
  3615,
  3616,
  676,
  677,
  678,
  679,
  680,
  681,
  1031,
  1032,
  1033,
  1034,
  1035,
  1036,
  1357,
  1358,
  1359,
  1360,
  1361,
  1362,
  1729,
  1730,
  1731,
  1732,
  1733,
  1734,
  2059,
  2060,
  2061,
  2062,
  2063,
  2064,
  2444,
  2445,
  2446,
  2447,
  2448,
  2449,
  2877,
  2878,
  2879,
  2880,
  2881,
  2882,
  3274,
  3275,
  3276,
  3277,
  3278,
  3279,
  3777,
  3778,
  3779,
  3780,
  3781,
  3782,
  3783,
  3784,
  3785,
  3786,
  3787,
  3788,
  3789,
  3790,
  3791,
  3792,
  3793,
  3794,
  3795,
  3796,
  3797,
  3798,
  3799,
  3800,
  3801,
  3802,
  3803],
 '102844212429550795': [909,
  910,
  911,
  912,
  913,
  914,
  915,
  916,
  917,
  918,
  919,
  920,
  921,
  922,
  923,
  924,
  925,
  926,
  927,
  1226,
  1227,
  1228,
  1229,
  1230,
  1231,
  1232,
  1233,
  1234,
  1235,
  1236,
  1237,
  1238,
  1239,
  1240,
  1241,
  1242,
  387,
  388,
  389,
  390,
  391,
  392,
  784,
  785,
  786,
  787,
  788,
  789,
  1124,
  1125,
  1126,
  1127,
  1128,
  1129,
  1448,
  1449,
  1450,
  1451,
  1452,
  1453,
  1454,
  1455,
  1456,
  1457,
  1458,
  1459,
  1460,
  1461,
  1462,
  1463,
  1464,
  1465,
  1466,
  1467,
  1468,
  1469,
  1470,
  1471,
  1472,
  1473,
  1474],
 '102844212431320277': [284,
  285,
  286,
  287,
  288,
  289,
  290,
  291,
  292,
  293,
  294,
  295,
  296,
  297,
  298,
  299,
  300,
  301,
  302,
  647,
  648,
  649,
  650,
  651,
  652,
  653,
  654,
  655,
  656,
  657,
  658,
  659,
  660,
  661,
  662,
  663,
  664,
  665,
  1976,
  1977,
  1978,
  1979,
  1980,
  1981,
  1982,
  1983,
  1984,
  1985,
  1986,
  1987,
  1988,
  1989,
  1990,
  1991,
  1992,
  2390,
  2391,
  2392,
  2393,
  2394,
  2395,
  2396,
  2397,
  2398,
  2399,
  2400,
  2401,
  2402,
  2403,
  2404,
  2405,
  2406,
  693,
  694,
  695,
  696,
  697,
  698,
  1179,
  1180,
  1181,
  1182,
  1183,
  1184,
  1726,
  1727,
  1728,
  1729,
  1730,
  1731,
  2092,
  2093,
  2094,
  2095,
  2096,
  2097,
  2420,
  2421,
  2422,
  2423,
  2424,
  2425,
  2426,
  2427,
  2428,
  2429,
  2430,
  2431,
  2432,
  2433,
  2434,
  2435,
  2436,
  2437,
  2438,
  2439,
  2440,
  2441,
  2442,
  2443,
  2444,
  2445,
  2446],
 '102904869420860038': [1543,
  1544,
  1545,
  1546,
  1547,
  1548,
  1549,
  1550,
  1551,
  1552,
  1553,
  1554,
  1555,
  1556,
  1557,
  1558,
  1559,
  352,
  353,
  354,
  355,
  356,
  357,
  746,
  747,
  748,
  749,
  750,
  751,
  1081,
  1082,
  1083,
  1084,
  1085,
  1086,
  1394,
  1395,
  1396,
  1397,
  1398,
  1399,
  1675,
  1676,
  1677,
  1678,
  1679,
  1680,
  1681,
  1682,
  1683,
  1684,
  1685,
  1686,
  1687,
  1688,
  1689,
  1690,
  1691,
  1692,
  1693,
  1694,
  1695,
  1696,
  1697,
  1698,
  1699,
  1700,
  1701],
 '102844224147717245': [599,
  600,
  601,
  602,
  603,
  604,
  605,
  606,

In [37]:
data

{'102844212430075086':           gold     tower      kill
 0     0.000037  0.000198  0.000104
 1     0.000037  0.000198  0.000104
 2     0.000037  0.000198  0.000104
 3     0.000037  0.000198  0.000104
 4     0.000037  0.000198  0.000104
 ...        ...       ...       ...
 2278  0.000914  0.000793  0.000937
 2279  0.000914  0.000793  0.000937
 2280  0.000916  0.000793  0.000937
 2281  0.000916  0.000793  0.000937
 2282  0.000916  0.000793  0.000937

 [2283 rows x 3 columns],
 '102844212430271695':           gold     tower      kill
 0     0.000053  0.000323  0.000121
 1     0.000053  0.000323  0.000121
 2     0.000053  0.000323  0.000121
 3     0.000053  0.000323  0.000121
 4     0.000053  0.000323  0.000121
 ...        ...       ...       ...
 2023  0.000879  0.000646  0.000968
 2024  0.000880  0.000646  0.000968
 2025  0.000880  0.000646  0.000968
 2026  0.000880  0.000646  0.000968
 2027  0.000880  0.000646  0.000968

 [2028 rows x 3 columns],
 '102844212429092040':           gold     tower      kill
 0     0.000034  0.000120  0.000067
 1     0.000034  0.000120  0.000067
 2     0.000034  0.000120  0.000067
 3     0.000034  0.000120  0.000067
 4     0.000034  0.000120  0.000067
 ...        ...       ...       ...
 2250  0.000938  0.001199  0.001277
 2251  0.000938  0.001199  0.001277
 2252  0.000938  0.001199  0.001277
 2253  0.000938  0.001199  0.001277
 2254  0.000938  0.001199  0.001277

 [2255 rows x 3 columns],
 '102844212430402768':           gold     tower      kill
 0     0.000032  0.000198  0.000058
 1     0.000032  0.000198  0.000058
 2     0.000032  0.000198  0.000058
 3     0.000032  0.000198  0.000058
 4     0.000032  0.000198  0.000058
 ...        ...       ...       ...
 2363  0.000823  0.000792  0.000758
 2364  0.000823  0.000792  0.000758
 2365  0.000823  0.000792  0.000758
 2366  0.000823  0.000792  0.000758
 2367  0.000824  0.000792  0.000758

 [2368 rows x 3 columns],
 '102844212430599377':           gold     tower      kill
 0     0.000036  0.000367  0.000225
 1     0.000036  0.000367  0.000225
 2     0.000036  0.000367  0.000225
 3     0.000036  0.000367  0.000225
 4     0.000036  0.000367  0.000225
 ...        ...       ...       ...
 2335  0.000867  0.000733  0.000675
 2336  0.000867  0.000733  0.000675
 2337  0.000867  0.000733  0.000675
 2338  0.000867  0.000733  0.000675
 2339  0.000868  0.000733  0.000675

 [2340 rows x 3 columns],
 '102844212429747404':           gold     tower      kill
 0     0.000054  0.000201  0.000099
 1     0.000054  0.000201  0.000099
 2     0.000054  0.000201  0.000099
 3     0.000054  0.000201  0.000099
 4     0.000054  0.000201  0.000099
 ...        ...       ...       ...
 1804  0.001217  0.002414  0.001383
 1805  0.001219  0.002414  0.001383
 1806  0.001219  0.002414  0.001383
 1807  0.001219  0.002414  0.001383
 1808  0.001219  0.002414  0.001383

 [1809 rows x 3 columns],
 '102844224148503678':           gold     tower      kill
 0     0.000043  0.000296  0.000073
 1     0.000043  0.000296  0.000073
 2     0.000043  0.000296  0.000073
 3     0.000043  0.000296  0.000073
 4     0.000043  0.000296  0.000073
 ...        ...       ...       ...
 2072  0.000969  0.000888  0.000948
 2073  0.000969  0.000888  0.000948
 2074  0.000969  0.000888  0.000948
 2075  0.000969  0.000888  0.000948
 2076  0.000969  0.000888  0.000948

 [2077 rows x 3 columns],
 '102844212428895431':           gold     tower      kill
 0     0.000043  0.000198  0.000145
 1     0.000043  0.000198  0.000145
 2     0.000043  0.000198  0.000145
 3     0.000043  0.000198  0.000145
 4     0.000043  0.000198  0.000145
 ...        ...       ...       ...
 2049  0.000963  0.000988  0.000868
 2050  0.000963  0.000988  0.000868
 2051  0.000963  0.000988  0.000868
 2052  0.000963  0.000988  0.000868
 2053  0.000964  0.000988  0.000868

 [2054 rows x 3 columns],
 '102844224148896895':           gold     tower      kill
 0     0.000050  0.000187  0.000068
 1     0.000050  0.000187  0.000068
 2     0.000050  0.000187  0.000068
 3     0.000050  0.000187  0.000068
 4     0.000050  0.000187  0.000068
 ...        ...       ...       ...
 1803  0.001279  0.002248  0.001572
 1804  0.001280  0.002248  0.001572
 1805  0.001280  0.002248  0.001572
 1806  0.001280  0.002248  0.001572
 1807  0.001281  0.002248  0.001572

 [1808 rows x 3 columns],
 '102844212430730450':           gold     tower      kill
 0     0.000030  0.000122  0.000056
 1     0.000030  0.000122  0.000056
 2     0.000030  0.000122  0.000056
 3     0.000030  0.000122  0.000056
 4     0.000030  0.000122  0.000056
 ...        ...       ...       ...
 2397  0.000922  0.001094  0.001224
 2398  0.000923  0.001094  0.001224
 2399  0.000923  0.001094  0.001224
 2400  0.000923  0.001094  0.001224
 2401  0.000923  0.001094  0.001224

 [2402 rows x 3 columns],
 '102844224146472059':           gold     tower      kill
 0     0.000091  0.000426  0.000364
 1     0.000091  0.000426  0.000364
 2     0.000091  0.000426  0.000364
 3     0.000091  0.000426  0.000364
 4     0.000091  0.000426  0.000364
 ...        ...       ...       ...
 1452  0.001350  0.001279  0.001457
 1453  0.001351  0.001279  0.001457
 1454  0.001351  0.001279  0.001457
 1455  0.001351  0.001279  0.001457
 1456  0.001352  0.001279  0.001457

 [1457 rows x 3 columns],
 '102844212429419722':           gold     tower      kill
 0     0.000055  0.000272  0.000099
 1     0.000055  0.000272  0.000099
 2     0.000055  0.000272  0.000099
 3     0.000055  0.000272  0.000099
 4     0.000055  0.000272  0.000099
 ...        ...       ...       ...
 1796  0.001095  0.001089  0.000986
 1797  0.001096  0.001089  0.000986
 1798  0.001096  0.001089  0.000986
 1799  0.001096  0.001089  0.000986
 1800  0.001096  0.001089  0.000986

 [1801 rows x 3 columns],
 '102844212429288649':           gold     tower      kill
 0     0.000028  0.000107  0.000060
 1     0.000028  0.000107  0.000060
 2     0.000028  0.000107  0.000060
 3     0.000028  0.000107  0.000060
 4     0.000028  0.000107  0.000060
 ...        ...       ...       ...
 2917  0.000784  0.001280  0.000896
 2918  0.000785  0.001280  0.000896
 2919  0.000785  0.001280  0.000896
 2920  0.000785  0.001280  0.000896
 2921  0.000785  0.001280  0.000896

 [2922 rows x 3 columns],
 '102844212431779031':           gold     tower      kill
 0     0.000046  0.000327  0.000137
 1     0.000046  0.000327  0.000137
 2     0.000046  0.000327  0.000137
 3     0.000046  0.000327  0.000137
 4     0.000046  0.000327  0.000137
 ...        ...       ...       ...
 2014  0.000991  0.000982  0.001231
 2015  0.000991  0.000982  0.001231
 2016  0.000991  0.000982  0.001231
 2017  0.000991  0.000982  0.001231
 2018  0.000992  0.000982  0.001231

 [2019 rows x 3 columns],
 '102844212431058132':           gold     tower      kill
 0     0.000030  0.000099  0.000089
 1     0.000030  0.000099  0.000089
 2     0.000030  0.000099  0.000089
 3     0.000030  0.000099  0.000089
 4     0.000030  0.000099  0.000089
 ...        ...       ...       ...
 2465  0.000804  0.000987  0.000984
 2466  0.000804  0.000987  0.000984
 2467  0.000804  0.000987  0.000984
 2468  0.000804  0.000987  0.000984
 2469  0.000804  0.000987  0.000984

 [2470 rows x 3 columns],
 '102844212430927059':           gold     tower      kill
 0     0.000012  0.000051  0.000031
 1     0.000012  0.000051  0.000031
 2     0.000012  0.000051  0.000031
 3     0.000012  0.000051  0.000031
 4     0.000012  0.000051  0.000031
 ...        ...       ...       ...
 3799  0.000534  0.000611  0.000672
 3800  0.000534  0.000611  0.000672
 3801  0.000534  0.000611  0.000672
 3802  0.000534  0.000611  0.000672
 3803  0.000534  0.000611  0.000672

 [3804 rows x 3 columns],
 '102844212429550795':           gold     tower      kill
 0     0.000081  0.000279  0.000262
 1     0.000081  0.000279  0.000262
 2     0.000081  0.000279  0.000262
 3     0.000081  0.000279  0.000262
 4     0.000081  0.000279  0.000262
 ...        ...       ...       ...
 1470  0.001601  0.003074  0.003674
 1471  0.001602  0.003074  0.003674
 1472  0.001602  0.003074  0.003674
 1473  0.001602  0.003074  0.003674
 1474  0.001603  0.003074  0.003674

 [1475 rows x 3 columns],
 '102844212431320277':           gold     tower      kill
 0     0.000032  0.000156  0.000062
 1     0.000032  0.000156  0.000062
 2     0.000032  0.000156  0.000062
 3     0.000032  0.000156  0.000062
 4     0.000032  0.000156  0.000062
 ...        ...       ...       ...
 2442  0.000870  0.000782  0.001114
 2443  0.000870  0.000782  0.001114
 2444  0.000870  0.000782  0.001114
 2445  0.000871  0.000782  0.001114
 2446  0.000871  0.000782  0.001114

 [2447 rows x 3 columns],
 '102904869420860038':           gold     tower      kill
 0     0.000069  0.000355  0.000336
 1     0.000069  0.000355  0.000336
 2     0.000069  0.000355  0.000336
 3     0.000069  0.000355  0.000336
 4     0.000069  0.000355  0.000336
 ...        ...       ...       ...
 1697  0.001165  0.001065  0.001009
 1698  0.001166  0.001065  0.001009
 1699  0.001166  0.001065  0.001009
 1700  0.001167  0.001065  0.001009
 1701  0.001167  0.001065  0.001009

 [1702 rows x 3 columns],
 '102844224147717245':           gold     tower      kill
 0     0.000050  0.000208  0.000111
 1     0.000050  0.000208  0.000111
 2     0.000050  0.000208  0.000111
 3     0.000050  0.000208  0.000111
 4     0.000050  0.000208  0.000111
 ...        ...       ...       ...
 1832  0.001215  0.002076  0.001781
 1833  0.001216  0.002076  0.001781
 1834  0.001216  0.002076  0.001781
 1835  0.001217  0.002076  0.001781
 1836  0.001217  0.002076  0.001781

 [1837 rows x 3 columns],
 '102844212431975640':           gold     tower      kill
 0     0.000033  0.000195  0.000135
 1     0.000033  0.000195  0.000135
 2     0.000033  0.000195  0.000135
 3     0.000033  0.000195  0.000135
 4     0.000033  0.000195  0.000135
 ...        ...       ...       ...
 2359  0.000936  0.001947  0.001886
 2360  0.000937  0.001947  0.001886
 2361  0.000937  0.001947  0.001886
 2362  0.000938  0.001947  0.001886
 2363  0.000938  0.001947  0.001886

 [2364 rows x 3 columns],
 '102844224145685626':           gold     tower      kill
 0     0.000062  0.000291  0.000116
 1     0.000062  0.000291  0.000116
 2     0.000062  0.000291  0.000116
 3     0.000062  0.000291  0.000116
 4     0.000062  0.000291  0.000116
 ...        ...       ...       ...
 1687  0.001130  0.000873  0.000928
 1688  0.001130  0.000873  0.000928
 1689  0.001131  0.000873  0.000928
 1690  0.001131  0.000873  0.000928
 1691  0.001131  0.000873  0.000928

 [1692 rows x 3 columns],
 '102844212429944013':           gold     tower      kill
 0     0.000041  0.000208  0.000062
 1     0.000041  0.000208  0.000062
 2     0.000041  0.000208  0.000062
 3     0.000041  0.000208  0.000062
 4     0.000041  0.000208  0.000062
 ...        ...       ...       ...
 2044  0.001038  0.001665  0.001123
 2045  0.001038  0.001665  0.001123
 2046  0.001038  0.001665  0.001123
 2047  0.001038  0.001665  0.001123
 2048  0.001038  0.001665  0.001123

 [2049 rows x 3 columns],
 '102844224146930812':           gold     tower      kill
 0     0.000031  0.000214  0.000079
 1     0.000031  0.000214  0.000079
 2     0.000031  0.000214  0.000079
 3     0.000031  0.000214  0.000079
 4     0.000031  0.000214  0.000079
 ...        ...       ...       ...
 2429  0.000880  0.000855  0.001032
 2430  0.000880  0.000855  0.001032
 2431  0.000880  0.000855  0.001032
 2432  0.000880  0.000855  0.001032
 2433  0.000880  0.000855  0.001032

 [2434 rows x 3 columns],
 '102844212431516886':           gold     tower      kill
 0     0.000058  0.000238  0.000476
 1     0.000058  0.000238  0.000476
 2     0.000058  0.000238  0.000476
 3     0.000058  0.000238  0.000476
 4     0.000058  0.000238  0.000476
 ...        ...       ...       ...
 1816  0.001132  0.001192  0.001429
 1817  0.001132  0.001192  0.001429
 1818  0.001133  0.001192  0.001429
 1819  0.001133  0.001192  0.001429
 1820  0.001133  0.001192  0.001429

 [1821 rows x 3 columns],
 '102910307641576395':           gold     tower      kill
 0     0.000061  0.000186  0.000116
 1     0.000061  0.000186  0.000116
 2     0.000061  0.000186  0.000116
 3     0.000061  0.000186  0.000116
 4     0.000061  0.000186  0.000116
 ...        ...       ...       ...
 1669  0.001330  0.002231  0.001861
 1670  0.001330  0.002231  0.001861
 1671  0.001331  0.002231  0.001861
 1672  0.001331  0.002231  0.001861
 1673  0.001331  0.002231  0.001861

 [1674 rows x 3 columns],
 '102844341902586509':           gold     tower      kill
 0     0.000038  0.000221  0.000146
 1     0.000038  0.000221  0.000146
 2     0.000038  0.000221  0.000146
 3     0.000038  0.000221  0.000146
 4     0.000038  0.000221  0.000146
 ...        ...       ...       ...
 2137  0.000974  0.000884  0.001463
 2138  0.000974  0.000884  0.001463
 2139  0.000975  0.000884  0.001463
 2140  0.000975  0.000884  0.001463
 2141  0.000975  0.000884  0.001463

 [2142 rows x 3 columns],
 '102844341905404560':           gold     tower      kill
 0     0.000048  0.000197  0.000107
 1     0.000048  0.000197  0.000107
 2     0.000048  0.000197  0.000107
 3     0.000048  0.000197  0.000107
 4     0.000048  0.000197  0.000107
 ...        ...       ...       ...
 1878  0.001178  0.002367  0.001388
 1879  0.001178  0.002367  0.001388
 1880  0.001178  0.002367  0.001388
 1881  0.001179  0.002367  0.001388
 1882  0.001179  0.002367  0.001388

 [1883 rows x 3 columns],
 '102844401153971877':           gold     tower      kill
 0     0.000057  0.000273  0.000194
 1     0.000057  0.000273  0.000194
 2     0.000057  0.000273  0.000194
 3     0.000057  0.000273  0.000194
 4     0.000057  0.000273  0.000194
 ...        ...       ...       ...
 1774  0.001191  0.001911  0.002133
 1775  0.001193  0.001911  0.002133
 1776  0.001193  0.001911  0.002133
 1777  0.001193  0.001911  0.002133
 1778  0.001194  0.001911  0.002133

 [1779 rows x 3 columns],
 '102844401152071328':           gold     tower      kill
 0     0.000053  0.000279  0.000111
 1     0.000053  0.000279  0.000111
 2     0.000053  0.000279  0.000111
 3     0.000053  0.000279  0.000111
 4     0.000053  0.000279  0.000111
 ...        ...       ...       ...
 1859  0.001077  0.000837  0.001108
 1860  0.001077  0.000837  0.001108
 1861  0.001077  0.000837  0.001108
 1862  0.001078  0.000837  0.001108
 1863  0.001078  0.000837  0.001108

 [1864 rows x 3 columns],
 '102844294670878922':           gold     tower      kill
 0     0.000037  0.000149  0.000099
 1     0.000037  0.000149  0.000099
 2     0.000037  0.000149  0.000099
 3     0.000037  0.000149  0.000099
 4     0.000037  0.000149  0.000099
 ...        ...       ...       ...
 2194  0.001020  0.001493  0.001880
 2195  0.001021  0.001493  0.001880
 2196  0.001021  0.001493  0.001880
 2197  0.001021  0.001493  0.001880
 2198  0.001021  0.001493  0.001880

 [2199 rows x 3 columns],
 '102844294667405508':           gold     tower      kill
 0     0.000057  0.000309  0.000401
 1     0.000057  0.000309  0.000401
 2     0.000057  0.000309  0.000401
 3     0.000057  0.000309  0.000401
 4     0.000057  0.000309  0.000401
 ...        ...       ...       ...
 1822  0.001148  0.001238  0.001604
 1823  0.001148  0.001238  0.001604
 1824  0.001148  0.001238  0.001604
 1825  0.001148  0.001238  0.001604
 1826  0.001149  0.001238  0.001604

 [1827 rows x 3 columns],
 '102844341907370644':           gold     tower      kill
 0     0.000024  0.000102  0.000037
 1     0.000024  0.000102  0.000037
 2     0.000024  0.000102  0.000037
 3     0.000024  0.000102  0.000037
 4     0.000024  0.000102  0.000037
 ...        ...       ...       ...
 2558  0.000801  0.001127  0.000701
 2559  0.000801  0.001127  0.000701
 2560  0.000802  0.001127  0.000701
 2561  0.000802  0.001127  0.000701
 2562  0.000802  0.001127  0.000701

 [2563 rows x 3 columns],
 '102844341909598870':           gold     tower     kill
 0     0.000031  0.000151  0.00005
 1     0.000031  0.000151  0.00005
 2     0.000031  0.000151  0.00005
 3     0.000031  0.000151  0.00005
 4     0.000031  0.000151  0.00005
 ...        ...       ...      ...
 2339  0.000940  0.001360  0.00121
 2340  0.000940  0.001360  0.00121
 2341  0.000941  0.001360  0.00121
 2342  0.000941  0.001360  0.00121
 2343  0.000941  0.001360  0.00121

 [2344 rows x 3 columns],
 '102844401155937960':           gold     tower      kill
 0     0.000042  0.000164  0.000072
 1     0.000042  0.000164  0.000072
 2     0.000042  0.000164  0.000072
 3     0.000042  0.000164  0.000072
 4     0.000042  0.000164  0.000072
 ...        ...       ...       ...
 2021  0.000994  0.000981  0.000867
 2022  0.000994  0.000981  0.000867
 2023  0.000994  0.000981  0.000867
 2024  0.000994  0.000981  0.000867
 2025  0.000994  0.000981  0.000867

 [2026 rows x 3 columns],
 '102844401154430631':           gold     tower      kill
 0     0.000071  0.000420  0.000176
 1     0.000071  0.000420  0.000176
 2     0.000071  0.000420  0.000176
 3     0.000071  0.000420  0.000176
 4     0.000071  0.000420  0.000176
 ...        ...       ...       ...
 1651  0.001200  0.000841  0.001230
 1652  0.001200  0.000841  0.001230
 1653  0.001201  0.000841  0.001230
 1654  0.001201  0.000841  0.001230
 1655  0.001201  0.000841  0.001230

 [1656 rows x 3 columns],
 '102844283027531868':           gold     tower      kill
 0     0.000057  0.000314  0.000136
 1     0.000057  0.000314  0.000136
 2     0.000057  0.000314  0.000136
 3     0.000057  0.000314  0.000136
 4     0.000057  0.000314  0.000136
 ...        ...       ...       ...
 1783  0.001121  0.000943  0.001087
 1784  0.001121  0.000943  0.001087
 1785  0.001121  0.000943  0.001087
 1786  0.001122  0.000943  0.001087
 1787  0.001122  0.000943  0.001087

 [1788 rows x 3 columns],
 '102844283020453971':           gold     tower      kill
 0     0.000022  0.000086  0.000054
 1     0.000022  0.000086  0.000054
 2     0.000022  0.000086  0.000054
 3     0.000022  0.000086  0.000054
 4     0.000022  0.000086  0.000054
 ...        ...       ...       ...
 2816  0.000766  0.000948  0.001027
 2817  0.000767  0.000948  0.001027
 2818  0.000767  0.000948  0.001027
 2819  0.000767  0.000948  0.001027
 2820  0.000767  0.000948  0.001027

 [2821 rows x 3 columns],
 '102844401152267937':           gold     tower      kill
 0     0.000033  0.000140  0.000093
 1     0.000033  0.000140  0.000093
 2     0.000033  0.000140  0.000093
 3     0.000033  0.000140  0.000093
 4     0.000033  0.000140  0.000093
 ...        ...       ...       ...
 2288  0.000894  0.000979  0.001305
 2289  0.000894  0.000979  0.001305
 2290  0.000894  0.000979  0.001305
 2291  0.000894  0.000979  0.001305
 2292  0.000894  0.000979  0.001305

 [2293 rows x 3 columns],
 '102844401153578660':           gold     tower      kill
 0     0.000027  0.000152  0.000039
 1     0.000027  0.000152  0.000039
 2     0.000027  0.000152  0.000039
 3     0.000027  0.000152  0.000039
 4     0.000027  0.000152  0.000039
 ...        ...       ...       ...
 2517  0.000816  0.001067  0.000895
 2518  0.000816  0.001067  0.000895
 2519  0.000816  0.001067  0.000895
 2520  0.000816  0.001067  0.000895
 2521  0.000816  0.001067  0.000895

 [2522 rows x 3 columns],
 '102844294669568199':           gold     tower      kill
 0     0.000039  0.000154  0.000071
 1     0.000039  0.000154  0.000071
 2     0.000039  0.000154  0.000071
 3     0.000039  0.000154  0.000071
 4     0.000039  0.000154  0.000071
 ...        ...       ...       ...
 2088  0.001068  0.001538  0.001272
 2089  0.001068  0.001538  0.001343
 2090  0.001076  0.001538  0.001343
 2091  0.001077  0.001538  0.001343
 2092  0.001077  0.001538  0.001343

 [2093 rows x 3 columns],
 '102844294670551241':           gold     tower      kill
 0     0.000033  0.000343  0.000081
 1     0.000033  0.000343  0.000081
 2     0.000033  0.000343  0.000081
 3     0.000033  0.000343  0.000081
 4     0.000033  0.000343  0.000081
 ...        ...       ...       ...

In [38]:
frames = {}

In [39]:
for game in result.keys():
    temp =np.zeros(len(data[game]))
    for i,v in enumerate(temp):
        if i in result[game]:
            temp[i] = 1
    frames[game] = temp

In [40]:
frames

{'102844212430075086': array([0., 0., 0., ..., 1., 1., 1.]),
 '102844212430271695': array([0., 0., 0., ..., 1., 1., 1.]),
 '102844212429092040': array([0., 0., 0., ..., 1., 1., 1.]),
 '102844212430402768': array([0., 0., 0., ..., 1., 1., 1.]),
 '102844212430599377': array([0., 0., 0., ..., 1., 1., 1.]),
 '102844212429747404': array([0., 0., 0., ..., 1., 1., 1.]),
 '102844224148503678': array([0., 0., 0., ..., 1., 1., 1.]),
 '102844212428895431': array([0., 0., 0., ..., 1., 1., 1.]),
 '102844224148896895': array([0., 0., 0., ..., 1., 1., 1.]),
 '102844212430730450': array([0., 0., 0., ..., 1., 1., 1.]),
 '102844224146472059': array([0., 0., 0., ..., 1., 1., 1.]),
 '102844212429419722': array([0., 0., 0., ..., 1., 1., 1.]),
 '102844212429288649': array([0., 0., 0., ..., 1., 1., 1.]),
 '102844212431779031': array([0., 0., 0., ..., 1., 1., 1.]),
 '102844212431058132': array([0., 0., 0., ..., 1., 1., 1.]),
 '102844212430927059': array([0., 0., 0., ..., 1., 1., 1.]),
 '102844212429550795': array([0., 0., 0., ..., 1., 1., 1.]),
 '102844212431320277': array([0., 0., 0., ..., 1., 1., 1.]),
 '102904869420860038': array([0., 0., 0., ..., 1., 1., 1.]),
 '102844224147717245': array([0., 0., 0., ..., 1., 1., 1.]),
 '102844212431975640': array([0., 0., 0., ..., 1., 1., 1.]),
 '102844224145685626': array([0., 0., 0., ..., 1., 1., 1.]),
 '102844212429944013': array([0., 0., 0., ..., 1., 1., 1.]),
 '102844224146930812': array([0., 0., 0., ..., 1., 1., 1.]),
 '102844212431516886': array([0., 0., 0., ..., 1., 1., 1.]),
 '102910307641576395': array([0., 0., 0., ..., 1., 1., 1.]),
 '102844341902586509': array([0., 0., 0., ..., 1., 1., 1.]),
 '102844341905404560': array([0., 0., 0., ..., 1., 1., 1.]),
 '102844401153971877': array([0., 0., 0., ..., 1., 1., 1.]),
 '102844401152071328': array([0., 0., 0., ..., 1., 1., 1.]),
 '102844294670878922': array([0., 0., 0., ..., 1., 1., 1.]),
 '102844294667405508': array([0., 0., 0., ..., 1., 1., 1.]),
 '102844341907370644': array([0., 0., 0., ..., 1., 1., 1.]),
 '102844341909598870': array([0., 0., 0., ..., 1., 1., 1.]),
 '102844401155937960': array([0., 0., 0., ..., 1., 1., 1.]),
 '102844401154430631': array([0., 0., 0., ..., 1., 1., 1.]),
 '102844283027531868': array([0., 0., 0., ..., 1., 1., 1.]),
 '102844283020453971': array([0., 0., 0., ..., 1., 1., 1.]),
 '102844401152267937': array([0., 0., 0., ..., 1., 1., 1.]),
 '102844401153578660': array([0., 0., 0., ..., 1., 1., 1.]),
 '102844294669568199': array([0., 0., 0., ..., 1., 1., 1.]),
 '102844294670551241': array([0., 0., 0., ..., 1., 1., 1.]),
 '102844283027925085': array([0., 0., 0., ..., 1., 1., 1.]),
 '102844283023599703': array([0., 0., 0., ..., 1., 1., 1.]),
 '102844341906649746': array([0., 0., 0., ..., 1., 1., 1.]),
 '102844341906256529': array([0., 0., 0., ..., 1., 1., 1.]),
 '102844294667995333': array([0., 0., 0., ..., 1., 1., 1.]),
 '102844294674286796': array([0., 0., 0., ..., 1., 1., 1.]),
 '102844283025696858': array([0., 0., 0., ..., 1., 1., 1.]),
 '102844283023206486': array([0., 0., 0., ..., 1., 1., 1.]),
 '102844294674876621': array([0., 0., 0., ..., 1., 1., 1.]),
 '102844294670026952': array([0., 0., 0., ..., 1., 1., 1.]),
 '102844294666881219': array([0., 0., 0., ..., 1., 1., 1.]),
 '102844294671796427': array([0., 0., 0., ..., 1., 1., 1.]),
 '102844294666422466': array([0., 0., 0., ..., 1., 1., 1.]),
 '102844294669109446': array([0., 0., 0., ..., 1., 1., 1.]),
 '102979081290790284': array([0., 0., 0., ..., 1., 1., 1.]),
 '102844283022747733': array([0., 0., 0., ..., 1., 1., 1.]),
 '102844283026548827': array([0., 0., 0., ..., 1., 1., 1.]),
 '102844283024648280': array([0., 0., 0., ..., 1., 1., 1.]),
 '102844283025041497': array([0., 0., 0., ..., 1., 1., 1.]),
 '102844283022223444': array([0., 0., 0., ..., 1., 1., 1.]),
 '102844283019929682': array([0., 0., 0., ..., 1., 1., 1.]),
 '102984708146564216': array([0., 0., 0., ..., 1., 1., 1.]),
 '102844341904683662': array([0., 0., 0., ..., 1., 1., 1.]),
 '102844341908026005': array([0., 0., 0., ..., 1., 1., 1.]),
 '102844341905011343': array([0., 0., 0., ..., 1., 1., 1.]),
 '102844341906977427': array([0., 0., 0., ..., 1., 1., 1.]),
 '102844341912220311': array([0., 0., 0., ..., 1., 1., 1.]),
 '102844341912679064': array([0., 0., 0., ..., 1., 1., 1.]),
 '102844401151874719': array([0., 0., 0., ..., 1., 1., 1.]),
 '102844401151219358': array([0., 0., 0., ..., 1., 1., 1.]),
 '102844401156069033': array([0., 0., 0., ..., 1., 1., 1.]),
 '102844401154168486': array([0., 0., 0., ..., 1., 1., 1.]),
 '102844401153447587': array([0., 0., 0., ..., 1., 1., 1.]),
 '102844401152857762': array([0., 0., 0., ..., 1., 1., 1.]),
 '102844235746082230': array([0., 0., 0., ..., 1., 1., 1.]),
 '102844235746475447': array([0., 0., 0., ..., 1., 1., 1.]),
 '102844235746868664': array([0., 0., 0., ..., 1., 1., 1.]),
 '102844235747261881': array([0., 0., 0., ..., 1., 1., 1.]),
 '102844235752963525': array([0., 0., 0., ..., 1., 1., 1.]),
 '102844235753356742': array([0., 0., 0., ..., 1., 1., 1.]),
 '102844235753749959': array([0., 0., 0., ..., 1., 1., 1.]),
 '102844235750997440': array([0., 0., 0., ..., 1., 1., 1.]),
 '102844235751390657': array([0., 0., 0., ..., 1., 1., 1.]),
 '102844235751783874': array([0., 0., 0., ..., 1., 1., 1.]),
 '102844235752111555': array([0., 0., 0., ..., 1., 1., 1.]),
 '102844235747982779': array([0., 0., 0., ..., 1., 1., 1.]),
 '102844235748310460': array([0., 0., 0., ..., 1., 1., 1.]),
 '102844235748703677': array([0., 0., 0., ..., 1., 1., 1.]),
 '102844235749031358': array([0., 0., 0., ..., 1., 1., 1.]),
 '102844235749424575': array([0., 0., 0., ..., 1., 1., 1.]),
 '102844412704496937': array([0., 0., 0., ..., 1., 1., 1.]),
 '102844412704890154': array([0., 0., 0., ..., 1., 1., 1.]),
 '102844412705217835': array([0., 0., 0., ..., 1., 1., 1.]),
 '102844412705545516': array([0., 0., 0., ..., 1., 1., 1.]),
 '102844412706659630': array([0., 0., 0., ..., 1., 1., 1.]),
 '102844412706987311': array([0., 0., 0., ..., 1., 1., 1.]),
 '102844412707380528': array([0., 0., 0., ..., 1., 1., 1.]),
 '102844412707708209': array([0., 0., 0., ..., 1., 1., 1.]),
 '102844412716227901': array([0., 0., 0., ..., 1., 1., 1.]),
 '102844412716686654': array([0., 0., 0., ..., 1., 1., 1.]),
 '102844412717014335': array([0., 0., 0., ..., 1., 1., 1.]),
 '102844412717407552': array([0., 0., 0., ..., 1., 1., 1.]),
 '102844412708953395': array([0., 0., 0., ..., 1., 1., 1.]),
 '102844412709346612': array([0., 0., 0., ..., 1., 1., 1.]),
 '102844412709674293': array([0., 0., 0., ..., 1., 1., 1.]),
 '102844412710001974': array([0., 0., 0., ..., 1., 1., 1.]),
 '102844412711116088': array([0., 0., 0., ..., 1., 1., 1.]),
 '102844412711443769': array([0., 0., 0., ..., 1., 1., 1.]),
 '102844412711836986': array([0., 0., 0., ..., 1., 1., 1.]),
 '102844412712164667': array([0., 0., 0., ..., 1., 1., 1.]),
 '102844412722519367': array([0., 0., 0., ..., 1., 1., 1.]),
 '102844412722847048': array([0., 0., 0., ..., 1., 1., 1.]),
 '102844412723174729': array([0., 0., 0., ..., 1., 1., 1.]),
 '102844412723567946': array([0., 0., 0., ..., 1., 1., 1.]),
 '102844412720618818': array([0., 0., 0., ..., 1., 1., 1.]),
 '102844412721012035': array([0., 0., 0., ..., 1., 1., 1.]),
 '102844412721339716': array([0., 0., 0., ..., 1., 1., 1.])}

In [45]:
import pickle
with open('/home/ubuntu/gangmin/tsvt/video/lolData/exp_data/highlight_frames.pickle',"wb") as f:
    pickle.dump(frames,f)