In [1]:
import pandas as pd
import numpy as np

In [2]:
leagueoflegends = pd.read_csv('/home/ubuntu/gangmin/tsvt/video/lolData/leagueoflegends/LeagueofLegends.csv')

In [3]:
leagueoflegends['Year']

0       2015
1       2015
2       2015
3       2015
4       2015
        ...
7615    2018
7616    2018
7617    2018
7618    2018
7619    2018
Name: Year, Length: 7620, dtype: int64

In [4]:
leagueoflegends[7058:]

,League,Year,Season,Type,blueTeamTag,bResult,rResult,redTeamTag,gamelength,golddiff,...,redMiddleChamp,goldredMiddle,redADC,redADCChamp,goldredADC,redSupport,redSupportChamp,goldredSupport,redBans,Address
7058,NALCS,2018,Spring,Season,TL,1,0,TSM,29,"[0, 0, 124, -193, 74, -3, -46, -41, -105, -358...",...,Ryze,"[500, 500, 632, 1002, 1347, 1740, 2075, 2416, ...",Zven,Kalista,"[500, 500, 604, 1021, 1362, 1807, 2056, 2456, ...",Mithy,Alistar,"[500, 500, 586, 828, 1060, 1230, 1426, 1665, 1...","['KogMaw', 'TahmKench', 'Ezreal', 'Braum', 'Sh...",https://matchhistory.na.leagueoflegends.com/en...
7059,NALCS,2018,Spring,Season,100,1,0,OPT,65,"[0, 0, -178, -67, -578, -612, -476, -779, -119...",...,Malzahar,"[500, 500, 580, 859, 1152, 1505, 1862, 2175, 2...",Arrow,Ezreal,"[500, 500, 615, 1065, 1589, 2106, 2435, 2961, ...",LemonNation,Morgana,"[500, 500, 586, 806, 1009, 1246, 1437, 1661, 1...","['Zoe', 'Evelynn', 'Azir', 'Gangplank', 'Gnar']",https://matchhistory.na.leagueoflegends.com/en...
7060,NALCS,2018,Spring,Season,CG,1,0,GGS,40,"[0, 0, -38, -19, -229, -82, -248, -326, -358, ...",...,Azir,"[500, 500, 612, 985, 1300, 1633, 1970, 2354, 2...",Deftly,KogMaw,"[500, 500, 600, 942, 1323, 1716, 2066, 2489, 2...",Matt,Taric,"[500, 500, 567, 766, 1016, 1242, 1448, 1649, 1...","['Kalista', 'Gnar', 'Zoe', 'Leblanc', 'Ryze']",https://matchhistory.na.leagueoflegends.com/en...
7061,NALCS,2018,Spring,Season,FOX,1,0,FLY,30,"[0, 0, -102, -58, -154, 75, -16, 282, 303, 345...",...,Cassiopeia,"[500, 500, 632, 1005, 1331, 1677, 2030, 2358, ...",WILDTURTLE,Varus,"[500, 500, 584, 964, 1261, 1634, 1996, 2347, 2...",Stunt,Alistar,"[500, 500, 585, 822, 1014, 1262, 1477, 1637, 1...","['Zoe', 'Azir', 'Ezreal', 'Camille', 'Janna']",https://matchhistory.na.leagueoflegends.com/en...
7062,EULCS,2018,Spring,Season,G2,1,0,MSF,43,"[0, 0, 34, -131, -91, -38, 35, 97, 43, -150, 4...",...,Galio,"[500, 500, 632, 897, 1193, 1548, 1861, 2438, 2...",Hans Sama,Xayah,"[500, 500, 581, 988, 1351, 1691, 2102, 2399, 2...",Mikyx,Rakan,"[500, 500, 526, 758, 925, 1103, 1263, 1548, 17...","['Ezreal', 'Zoe', 'Kalista', 'Tristana', 'Ziggs']",https://matchhistory.na.leagueoflegends.com/en...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7615,TCL,2018,Spring,Season,YC,0,1,SUP,34,"[0, 0, -18, -95, 45, -87, -117, 199, 126, 92, ...",...,Veigar,"[500, 500, 632, 982, 1258, 1667, 2060, 2390, 2...",Zeitnot,Xayah,"[500, 500, 564, 1027, 1320, 1727, 1963, 2276, ...",SnowFlower,Rakan,"[500, 500, 566, 801, 1004, 1234, 1463, 1674, 1...","['Ornn', 'Kalista', 'Ryze', 'Alistar', 'Shen']",https://matchhistory.euw.leagueoflegends.com/e...
7616,TCL,2018,Spring,Season,GAL,0,1,DP,39,"[0, 0, -86, -39, -207, -349, -60, -140, 187, -...",...,Ryze,"[500, 500, 612, 1000, 1193, 1626, 1979, 2318, ...",Ruvelius,Caitlyn,"[500, 500, 621, 977, 1420, 1809, 2047, 2413, 2...",Japone,Braum,"[500, 500, 587, 790, 1107, 1335, 1472, 1616, 1...","['Zoe', 'KogMaw', 'JarvanIV', 'Ornn', 'Rengar']",https://matchhistory.euw.leagueoflegends.com/e...
7617,OPL,2018,Spring,Season,SIN,0,1,DW,24,"[0, -8, -6, 116, 103, -92, -470, -958, -1998, ...",...,Malzahar,"[500, 500, 615, 903, 1225, 1617, 1976, 2304, 2...",k1ng,Ezreal,"[500, 508, 592, 986, 1400, 1753, 2196, 2538, 3...",Cupcake,Taric,"[500, 500, 585, 770, 976, 1222, 1446, 1627, 19...","['Azir', 'Kalista', 'Braum', 'Maokai', 'Alistar']",https://matchhistory.na.leagueoflegends.com/en...
7618,OPL,2018,Spring,Season,LGC,1,0,TTC,35,"[0, 0, -97, 33, 351, 284, 299, 263, 403, 623, ...",...,Veigar,"[500, 500, 561, 931, 1223, 1631, 1987, 2315, 2...",Low,Sivir,"[500, 500, 634, 930, 1304, 1691, 2042, 2384, 2...",Tilting,Janna,"[500, 500, 592, 788, 1006, 1251, 1490, 1704, 1...","['Kalista', 'Galio', 'Gnar', 'Jayce', 'Sejuani']",https://matchhistory.na.leagueoflegends.com/en...
7619,OPL,2018,Spring,Season,TTC,0,1,LGC,42,"[0, 0, -8, -225, -36, 73, 464, 184, 1171, 1409...",...,Malzahar,"[500, 500, 598, 968, 1165, 1477, 1801, 2016, 2...",Raid,Vayne,"[500, 500, 587, 954, 1327, 1749, 2007, 2471, 2...",Decoy,Braum,"[500, 500, 585, 793, 998, 1201, 1373, 1619, 18...","['KogMaw', 'Illaoi', 'Azir', 'Karma', 'Sejuani']",https://matchhistory.na.leagueoflegends.com/en...

# 2018~2019

In [15]:
pd.read_excel('/home/ubuntu/gangmin/tsvt/video/lolData/leagueoflegends2018~2020/2018-spring-match-data-OraclesElixir-2018-05-20.xlsx')

,gameid,url,league,split,date,week,game,patchno,playerid,side,...,gdat15,xpat10,oppxpat10,xpdat10,csat10,oppcsat10,csdat10,csat15,oppcsat15,csdat15
0,550246,https://matchhistory.na.leagueoflegends.com/en...,LCK,2018-1,43116.1,1.1,1,8.01,1,Blue,...,1.0,4837.0,4316.0,521.0,88.0,80.0,8.0,130.0,137.0,-7.0
1,550246,https://matchhistory.na.leagueoflegends.com/en...,LCK,2018-1,43116.1,1.1,1,8.01,2,Blue,...,86.0,3464.0,2921.0,543.0,51.0,47.0,4.0,96.0,88.0,8.0
2,550246,https://matchhistory.na.leagueoflegends.com/en...,LCK,2018-1,43116.1,1.1,1,8.01,3,Blue,...,-88.0,4468.0,4072.0,396.0,86.0,77.0,9.0,138.0,146.0,-8.0
3,550246,https://matchhistory.na.leagueoflegends.com/en...,LCK,2018-1,43116.1,1.1,1,8.01,4,Blue,...,70.0,3476.0,3368.0,108.0,101.0,94.0,7.0,150.0,148.0,2.0
4,550246,https://matchhistory.na.leagueoflegends.com/en...,LCK,2018-1,43116.1,1.1,1,8.01,5,Blue,...,-124.0,2858.0,3025.0,-167.0,28.0,33.0,-5.0,46.0,53.0,-7.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15895,1002570098,https://matchhistory.na.leagueoflegends.com/en...,MSI,2018-1,43240.3,F,4,8.08,8,Red,...,246.0,5058.0,4968.0,90.0,102.0,91.0,11.0,162.0,145.0,17.0
15896,1002570098,https://matchhistory.na.leagueoflegends.com/en...,MSI,2018-1,43240.3,F,4,8.08,9,Red,...,-302.0,3142.0,3121.0,21.0,89.0,97.0,-8.0,144.0,157.0,-13.0
15897,1002570098,https://matchhistory.na.leagueoflegends.com/en...,MSI,2018-1,43240.3,F,4,8.08,10,Red,...,595.0,3120.0,3121.0,-1.0,3.0,1.0,2.0,5.0,4.0,1.0
15898,1002570098,https://matchhistory.na.leagueoflegends.com/en...,MSI,2018-1,43240.3,F,4,8.08,100,Blue,...,640.0,19799.0,19499.0,300.0,336.0,338.0,-2.0,529.0,534.0,-5.0
15899,1002570098,https://matchhistory.na.leagueoflegends.com/en...,MSI,2018-1,43240.3,F,4,8.08,200,Red,...,-640.0,19499.0,19799.0,-300.0,338.0,336.0,2.0,534.0,529.0,5.0

In [16]:
filelist = ['/home/ubuntu/gangmin/tsvt/video/lolData/leagueoflegends2018~2020/2018-spring-match-data-OraclesElixir-2018-05-20.xlsx',
'/home/ubuntu/gangmin/tsvt/video/lolData/leagueoflegends2018~2020/2018 summer match data OraclesElixir 2018-09-27.xlsx',
'/home/ubuntu/gangmin/tsvt/video/lolData/leagueoflegends2018~2020/2018-worlds-match-data-OraclesElixir-2018-11-03.xlsx',
'/home/ubuntu/gangmin/tsvt/video/lolData/leagueoflegends2018~2020/2019-spring-match-data-OraclesElixir-2019-05-21.xlsx',
'/home/ubuntu/gangmin/tsvt/video/lolData/leagueoflegends2018~2020/2019-summer-match-data-OraclesElixir-2019-09-16.xlsx',
'/home/ubuntu/gangmin/tsvt/video/lolData/leagueoflegends2018~2020/2019-worlds-match-data-OraclesElixir-2019-10-20.xlsx']
game_summary = pd.DataFrame(columns= ['split','goldblue','goldred','bTowers','rTowers','bKills','rKills','bResult','rResult'])
index = 0
for filename in filelist:
    exdata = pd.read_excel(filename)
    
    
    for i in range(len(exdata)):
        if int(exdata.loc[[i]]['playerid'])==100:
            try:
                game_summary.loc[index] = [str(exdata.loc[[i]]['split']),int(exdata.loc[[i]]['totalgold']),int(exdata.loc[[i+1]]['totalgold']),int(exdata.loc[[i]]['teamtowerkills']),int(exdata.loc[[i+1]]['teamtowerkills']),int(exdata.loc[[i]]['teamkills']),int(exdata.loc[[i+1]]['teamkills']),int(exdata.loc[[i]]['result']),int(exdata.loc[[i+1]]['result'])]
                index +=1
            except:
                pass

In [17]:
game_summary

,split,goldblue,goldred,bTowers,rTowers,bKills,rKills,bResult,rResult
0,"10 2018-1\nName: split, dtype: object",64781,70169,3,7,8,14,0,1
1,"22 2018-1\nName: split, dtype: object",70918,61075,11,2,11,8,1,0
2,"34 2018-1\nName: split, dtype: object",55810,50088,8,0,10,0,1,0
3,"46 2018-1\nName: split, dtype: object",63272,48185,11,0,12,6,1,0
4,"58 2018-1\nName: split, dtype: object",79741,88409,2,11,8,15,0,1
...,...,...,...,...,...,...,...,...,...
5000,"1054 2019-W\nName: split, dtype: object",52031,65659,2,10,4,12,0,1
5001,"1066 2019-W\nName: split, dtype: object",58664,47176,9,1,12,6,1,0
5002,"1078 2019-W\nName: split, dtype: object",62085,56087,7,2,22,13,1,0
5003,"1090 2019-W\nName: split, dtype: object",60196,43580,9,0,13,2,1,0
5004,"1102 2019-W\nName: split, dtype: object",46693,36552,9,2,18,4,1,0

In [18]:
game_summary.to_csv("/home/ubuntu/gangmin/tsvt/video/win_loss_classifier/win_loss_variables_18~19.csv", mode='w')